<div id="question-actions" class="flex gap-2 items-center">
  <% if course.questions.present? %>
    <%= link_to alert_modal_path(title: t("alert.question_bank_generation.title"),
                                description: t("alert.question_bank_generation.description"),
                                action_path: generate_course_questions_path(course),
                                method: :post), data: { turbo_frame: "modal" } do %>
      <%= button_component text: "Generate", icon_name: "sparkle", size: "sm", disabled: disabled %>
    <% end %>
  <% else %>
    <%= link_to generate_course_questions_path(course), data: { turbo_method: :post } do %>
      <%= button_component text: "Generate", icon_name: "sparkle", size: "sm", disabled: disabled %>
    <% end %>
  <% end %>
  <%= link_to new_course_question_path(course, tab: params[:tab], page: params[:page]), data: {turbo_frame: "modal"} do %>
    <%= button_component text: "Add", icon_name: "plus", size: "sm", disabled: disabled %>
  <% end %>
</div>
