<div class="my-6">
  <%= render "shared/components/back_button", back_link: ui_components_path %>
</div>
<div class="heading heading-medium">Dropdown</div>

<%= doc_section_component(title: "Dropdown medium size") do %>
  <%= form_with url: "#", method: :post do |form| %>
    <%= dropdown_component(
        form: form,
        name: :category_id,
        label: "Category",
        options: [["Option 1", 1], ["Option 2", 2], ["Option 3", 3]],
        support_text: "Please select a category"
      ) %>
  <% end %>
<% end %>

<%= doc_section_component(title: "Dropdown large size") do %>
  <%= form_with url: "#", method: :post do |form| %>

    <%= dropdown_component(
        form: form,
        name: :category_id,
        label: "Category",
        size: 'lg',
        options: [["Option 1", 1], ["Option 2", 2], ["Option 3", 3]],
        support_text: "Please select a category"
      ) %>
  <% end %>
<% end %>

<%= doc_section_component(title: "Dropdown error") do %>
  <%= form_with url: "#", method: :post do |form| %>

   <%= dropdown_component(
        form: form,
        name: :category_id,
        label: "Category",
        error:"some error",
        options: [["Option 1", 1], ["Option 2", 2], ["Option 3", 3]],
        support_text: "Please select a category"
      ) %>
  <% end %>
<% end %>

<%= doc_section_component(title: "Dropdown disabled") do %>
  <%= form_with url: "#", method: :post do |form| %>

   <%= dropdown_component(
        form: form,
        name: :category_id,
        label: "Category",
        disabled:true,
        options: [["Option 1", 1], ["Option 2", 2], ["Option 3", 3]],
        support_text: "Please select a category"
      ) %>
  <% end %>
<% end %>