  <div class="sticky top-0 left-0 w-full z-50 flex flex-col bg-white">
    <nav class="pb-3 pt-5 px-8 flex items-center justify-between md:justify-end w-full gap-4 bg-white sticky top-0 navbar-box-shadow z-50">
      <div class="flex-none flex items-center cursor-pointer">
        <%= link_to course_path(@assessment.course) do %>
          <%= icon("x-circle", css: "h-6 w-6 text-primary") %>
        <% end %>
      </div>
      <div class="grow flex items-center justify-center md:justify-start main-text-lg-semibold">
        <span class="hidden md:inline">Final Course Assessment</span>
      </div>
      <div class="flex items-center gap-2" data-controller="timer" data-timer-minutes-value="<%= 20 - @assessment.time_taken %>">
        <%= icon("clock", css: "h-5 w-5 text-primary") %>
        <span class="text-letter-color-light general-text-lg-normal">Time left :</span>
        <div class="relative">
          <div class="flex items-center gap-1 main-text-lg-semibold">
            <div class="relative flex items-center relative gap-1">
              <div class="absolute general-text-sm-normal text-letter-color-light bottom-8 w-full text-center">
                Mins
              </div>
              <span class="bg-primary-light-50 text-primary p-2 w-10 rounded-xl border-slate-grey-light text-center leading-none" data-timer-target="minute1">2</span>
              <span class="bg-primary-light-50 text-primary p-2 w-10 rounded-xl border-slate-grey-light text-center leading-none" data-timer-target="minute2">0</span>
            </div>
            <span class="text-primary">:</span>
            <div class="relative flex items-center relative gap-1">
              <div class="absolute general-text-sm-normal text-letter-color-light bottom-8 w-full text-center">
                Sec
              </div>
              <span class="bg-primary-light-50 text-primary p-2 w-10 rounded-xl border-slate-grey-light text-center leading-none" data-timer-target="second1">0</span>
              <span class="bg-primary-light-50 text-primary p-2 w-10 rounded-xl border-slate-grey-light text-center leading-none" data-timer-target="second2">0</span>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
  <%= render "assessments/assessment", assessment: @assessment %>
</div>