<%= form_with model: team, class: "flex flex-col gap-6 p-6" do |form| %>
  <% if team.new_record? %>
    <%= form.hidden_field :parent_team_id %>
  <% end %>

  <%= render 'shared/components/form_errors', resource: team %>

  <div class="flex w-full flex-col items-start justify-center gap-4">
    <label class="flex flex-col text-sm">Upload team banner
      <span class="text-xs font-light text-slate-grey">(<%= I18n.t('team.banner_file_tip') %>)</span></label>
    <!-- From component: pass the hidden file input field with data attribute forms_target: "fileInput" for this to work  -->
    <%= render 'shared/components/file_select', hidden_file_field: form.file_field(:banner, class: 'hidden', data: { forms_target: 'fileInput' }), preview: 'banner' %>
  </div>
  <div class="flex flex-col gap-4">
    <%= input_field(form:, field_name: :name, label: "Team name", placeholder: "Your team name",type: "text",width:"w-full") %>     
  </div>
  <div class="flex flex-col justify-between gap-6">
    <%= form.button save_button_label_for(team), class: 'bg-primary text-white p-4 rounded' %>
    <%= link_to 'Cancel','javascript:void(0);', class: 'text-center', data: { action: 'click->modals#closeModal' } %>
  </div>
<% end %>