<div class="fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center md:items-center md:justify-center z-[9999]" data-controller="modals" data-modals-target="modalBox">
  <div class="bg-white rounded-lg w-[326px] md:w-[462px] md:rounded-lg md:relative absolute bottom-6 md:bottom-auto md:inset-auto">
    <div class="flex items-center justify-between border-b border-line-colour-light p-6">
      <span class="text-base font-semibold">Add Your Team</span>
      <button data-action="click->modals#closeModal">
        <span class="icon icon-close icon-small"></span>
      </button>
    </div>
    <%= form_with model: team, class: "flex flex-col gap-6 p-6" do |form| %>
      <%= form.hidden_field :parent_team_id %>
      <div class="flex flex-col gap-4 items-start justify-center w-full">
        <label class="text-sm">Upload team logo</label>
        <!-- From component: pass the hidden file input field with data attribute forms_target: "fileInput" for this to work  -->
        <%= render "shared/components/file_select", hidden_file_field:  form.file_field(:banner, class: "hidden", data: { forms_target: "fileInput" }) %>
      </div>
      <div class="flex flex-col gap-4">
        <%= form.label :name, 'Team name', class: "block text-sm" %>
        <%= form.text_field :name, class: "input-text", placeholder: "Your team name" %>
      </div>
      <div class="flex flex-col justify-between">
        <%= form.button "Add team", class: "bg-primary text-white px-4 py-2 rounded" %>
        <%= form.button "Cancel", class: "px-4 py-2", data: { action: "click->modals#closeModal" } %>
      </div>
    <% end %>
  </div>
</div>