<tr class="whitespace-nowrap text-xs font">
  <td class="px-6 py-4  flex  gap-4 items-center">
    <%= link_to user_path(member), class: "cursor-pointer" do %>
      <%= render "shared/components/profile_pic", letter: letter_avatar(member) %>
    <% end %>
    <span class="ml-2 font-medium text-sm"><%= member.name %></span>
    <% if member.verified? %>
      <%= render 'shared/components/label_small_success', label: 'Verified', icon_name: 'icon-complete' %>
    <% end %>
  </td>
  <td class="px-6 py-4 "><%= member.email %></td>
  <td class="px-6 py-4 "><%= member.phone %></td>
  <td class="px-6 py-4 "><%= role_text(member.role) %></td>
  <td class="px-6 py-4">
    <div class="flex flex-col gap-2">
      <% if policy(:course_assigns).new? %>
        <%= link_to new_course_assign_path(user_id: member) do %>
          <%= render 'shared/components/label_medium_notice', label: 'Assign course', icon_name: 'icon-assign-user' %>
        <% end %>
      <% end %>

      <% if InvitePolicy.new(current_user, member).resend? %>
        <%= link_to resend_invite_path(member, team_id: team.id), data: { turbo_method: "put" } do %>
          <%= render "shared/components/label_medium_success", label: "Re-Invite", icon_name: "icon-re-invite" %>
        <% end %>
      <% end %>
    </div>
  </td>
</tr>