<li class="flex max-w-md flex-col rounded box-shadow-medium">
  <div class="border-b p-4 border-line-colour-light">
    <%= link_to member_path(member), class: "cursor-pointer" do %>
      <div class="flex items-center gap-4">
        <div class="inline-block h-12 w-12">
          <%= render 'shared/components/profile_pic', letter: letter_avatar(member) %>
        </div>
        <div class="flex w-full flex-col">
          <div class="flex items-center justify-between">
            <span class="text-sm font-medium"><%= member.name %></span>
            <% if member.verified? %>
              <%= render 'shared/components/label_small_success', label: 'Verified', icon_name: 'icon-complete' %>
            <% end %>
          </div>
          <span class="text-xs text-secondary"><%= member.role %></span>
        </div>
      </div>
    <% end %>
  </div>
  <div class="p-4 text-xs">
    <div class="mb-2 flex items-center gap-2">
      <span class="icon icon-at-sign"></span>
      <span class=""><%= member.email %></span>
    </div>
    <div class="flex items-center gap-2">
      <span class="icon icon-phone"></span>
      <span class=""><%= member.phone %></span>
    </div>
    <div class="flex justify-end p-1">
      <% if member.verified? && policy(:course_assigns).new? %>
        <%= link_to new_course_assign_path(user_id: member) do %>
          <%= render 'shared/components/label_medium_notice', label: 'Assign course', icon_name: 'icon-assign-user' %>
        <% end %>
      <% end %>
      <% if InvitePolicy.new(current_user, member).resend? %>
        <%= link_to resend_invite_path(member, team_id: team.id), data: { turbo_method: "put" } do %>
          <%= render 'shared/components/label_medium_success', label: 'Re-invite', icon_name: 'icon-re-invite' %>
        <% end %>
      <% end %>
    </div>
  </div>
</li>