<div id="team-page-header-desktop" class="md:mb-8">
  <div class="flex flex-col pb-6">
    <div class="bg-line-colour-light rounded">
      <%= image_tag team_banner(team, 'desktop'), class: 'h-[194px] w-full object-cover rounded box-shadow-medium' %>
    </div>

    <div class="flex justify-start -mt-10 ml-4">
      <%= image_tag partner_logo(team.learning_partner, :medium), class: 'h-20 w-20 object-cover rounded-full border border-line-colour-light box-shadow-medium' %>
    </div>
  </div>
  <span class="font-medium text-basic"><%= team.name %></span>

  <div class="mt-4 flex flex-col md:flex-row gap-4 justify-between items-start">
    <ol class="flex items-center space-x-2 text-secondary text-xs">
      <% team_list(current_user.team, team).each do |team_item| %>
        <li class="flex space-x-1">
          <%= link_to team_item.name, team_path(team_item) %>
          <span class="icon icon-simple-arrow-right bg-letter-color icon-small"></span>
        </li>
      <% end %>
    </ol>

    <div class="flex gap-4 items-start justify-end w-full md:w-auto">
      <% if policy(team).edit? %>
        <%= link_to edit_team_path(team), data: { turbo_frame: "edit-team-modal" } do %>
          <%= render 'shared/components/button_default_small', label: 'Edit', icon_name: 'icon-edit' %>
        <% end %>
      <% end %>

      <% if policy(:dashboard).index? %>
        <%= link_to dashboard_path(team: team) do %>
          <%= render 'shared/components/button_default_small', label: 'Team dashboard', icon_name: 'icon-arrow-right icon-small' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
