<div id="team-page-header" class="md:mb-8">
  <%= render "shared/components/bread_crumbs", title: t('team.label'), links: team_breadcrumbs_links(current_user.team, team) %>

  <div class="relative h-[250px] w-full">
    <div class="relative h-full">
      <%= image_tag team_banner(team, 'desktop'), class: 'h-full w-full object-cover' %>
    </div>
    <div class="absolute inset-0 bg-black opacity-60"></div>
    <div class="absolute top-6 left-6 flex items-center space-x-4 z-10">
      <%= image_tag partner_logo(team.learning_partner, :medium), class: 'h-16 w-16 object-cover rounded-full border-2 border-white box-shadow-medium' %>
      <span class="heading heading-overlay"><%= team.name %></span>
    </div>
    <div class="absolute bottom-4 md:top-6 right-6 flex gap-4  z-10">

      <%= menu_component(
        team_menu_items(team),
        icon_class: "teams-more",
        label_hover: "teams-more-hover"
      ) %>

    </div>
  </div>
</div>