<div id="team-page-header-desktop" class="mb-8">
  <div class="flex flex-col pb-2">
    <div class="pb-6">
      <% if team.banner.present? %>
        <%= image_tag team.banner, class: 'max-h-[194px] w-full object-cover rounded' %>
      <% else %>
        <%= image_tag 'banner_placeholder.png', class: 'max-h-[194px] w-full object-cover rounded' %>
      <% end %>
    </div>

    <div class="flex justify-start -mt-16 ml-4">
      <% if "logo"=="logo" %>
        <%= image_tag 'logo_place_holder.png', class: 'h-20 w-20 object-cover rounded-full border border-line-colour-light box-shadow-medium' %>
      <% else %>
        <%= image_tag 'logo_place_holder.png', class: 'h-20 w-20 object-cover rounded-full border border-line-colour-light box-shadow-medium' %>
      <% end %>
    </div>

    <span class="font-medium text-basic pt-2"><%= team.name %></span>
  </div>

  <div class="mt-4 flex justify-between items-start">
    <ol class="flex items-center space-x-2 text-secondary text-xs">
      <% team_list(current_user.team, team).each do |team_item| %>
        <li class="flex space-x-1">
          <%= link_to team_item.name, team_path(team_item) %>
          <span class="icon icon-simple-arrow-right icon-small"></span>
        </li>
      <% end %>
    </ol>

    <div class="flex gap-4 items-start">
      <% if policy(team).edit? %>
        <%= link_to edit_team_path(team), data: { turbo_frame: "edit-team-modal" } do %>
          <%= render 'shared/components/button_default_small', label: 'Edit', icon_name: 'icon-edit' %>
        <% end %>
      <% end %>

      <% if policy(:dashboard).index? %>
        <%= link_to dashboard_path do %>
          <%= render 'shared/components/button_default_small', label: 'Team dashboard', icon_name: 'icon-arrow-right' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
