<%= render "shared/components/mobile_layout" do %>
  <div data-controller="teams teams-tab-change user-show">
    <div class="inline-flex gap-2">
      <span class="icon icon-team-green icon-small"></span>
      <span class="text-sm font-semibold text-primary">Team</span>
    </div>
    <div class="mt-4 flex justify-between">
      <ol class="flex flex-wrap items-center gap-1 text-secondary text-[10px]">
        <% team_list(@team).each do |team| %>
          <li class="flex items-center gap-[2px]">
            <%= link_to team.name, team_path(team) %>
            <span class="icon icon-simple-arrow-right icon-tiny"></span>
          </li>
        <% end %>
      </ol>
      <%= link_to edit_team_path(@team), data: { turbo_frame: "edit-team-modal" }, class: "box-shadow-medium flex items-center justify-between gap-1 rounded-sm py-1 px-2" do %>
        <span class="text-xs font-medium text-secondary">Edit</span>
        <span class="icon icon-edit h-[10px] w-[10px]"></span>
      <% end %>
    </div>
    <div class="mt-4 flex flex-col gap-4">
      <%= render "shared/components/course_watch_time_chart_mobile" %>
      <%= render "shared/components/enrolled_ratio_chart" %>
    </div>
    <button class="my-4 flex justify-start">
      <a href="#" class="flex items-center gap-1 rounded p-2 text-sm text-primary box-shadow-medium">
        View all metrics
        <span class="icon icon-arrow-right icon-small"></span>
      </a>
    </button>
    <div class="my-6 flex justify-start gap-6">
      <a href="javascript:void(0);" data-action="click->teams-tab-change#changeTab" data-tab="user" class="text-base font-normal active-border">User</a>
      <a href="javascript:void(0);" data-action="click->teams-tab-change#changeTab" data-tab="team" class="text-base font-normal">Team</a>
    </div>
    <div class="relative mt-4 w-full">
      <div class="pointer-events-none absolute inset-y-0 flex items-center pl-3">
        <span class="icon icon-search icon-small"></span>
      </div>
      <input
        type="text"
        name="price"
        id="price"
        class="w-full input-search"
        placeholder="Search Team Members"
        />
    </div>
    <div class="pt-8 flex justify-between items-center">
      <h1 class="mb-4 pl-0 text-base font-bold">Team members</h1>
      <button id="" class="bg-secondary flex items-center gap-2 rounded px-4 py-2">
        <span class="icon icon-assign-user-white icon-small"></span>
        <span class="text-sm text-white font-medium">Assign course</span>
      </button>
    </div>
    <div id="user" data-teams-tab-change-target="teamContent" class="" data-tab="user">
      <div class="my-4 flex hidden justify-start" data-target="user-show.allUsersSection">
        <span class="text-xs font-semibold text-primary">All users</span>
      </div>
      <div class="my-4 flex justify-end hidden" data-user-show-target="showAllUsers">
        <a href="#" data-action="click->user-show#toggleAllUsers" class="flex items-center justify-center text-base font-normal">
          Show all users
          <span class="items-center icon icon-show-users ms-4 icon-small"></span>
        </a>
      </div>

      <%= render "teams/member_list_mobile" %>

      <div class="sticky bottom-6 justify-center rounded text-center bg-primary end-4 start-4">
        <button class="flex w-full justify-center gap-2 px-4 py-5" data-actionType="addUser" data-action="click->teams#addUser">
          <span class="items-center icon icon-plus-white icon-small"></span>
          <span class="text-sm text-white">Add User</span>
        </button>
      </div>
      <%= render "shared/components/add_user" %>
    </div>
    <div id="team" data-teams-tab-change-target="teamContent" class="hidden" data-tab="team">
      <div class="flex items-center justify-between pt-8">
        <p class="text-sm font-medium">Linked Hotels & Resorts</p>
      </div>
      <%= render "teams/sub_teams_mobile" %>
      <%= render "teams/add_team_mobile" %>
    </div>
  </div>
<% end %>