<%= render "shared/components/desktop_layout" do %>
  <div data-controller="teams">
    <div class="flex pb-2 justify-between">
      <div class="flex items-center gap-4  w-[350px]">
        <% if @team.banner.present? %>
          <%= image_tag @team.banner, class: "h-8 w-8 object-cover" %>
        <% end  %>
        <span class="font-medium text-basic pt-2"><%= @team.name  %></span>
      </div>
    </div>
    <div class="mt-4 flex justify-between items-start">
      <ol class="flex items-center space-x-2 text-secondary text-xs">
        <% team_list(@team).each do |team| %>
          <li class="flex space-x-1">
            <%= link_to team.name, team_path(team) %>
            <span class="icon icon-simple-arrow-right icon-small"></span>
          </li>
        <% end %>
      </ol>

      <% if policy(@team).edit? %>
        <%= link_to edit_team_path(@team), data: { turbo_frame: "edit-team-modal" } do %>
          <%= render "shared/components/button_default_small", label: "Edit", icon_name: "icon-edit" %>
        <% end %>
      <% end %>
    </div>
    <div class="mb-6 mt-8 flex flex-row gap-6">
      <%= render "shared/components/course_watch_time_chart" %>
      <%= render "shared/components/enrolled_ratio_chart" %>
    </div>
    <div class="flex justify-end pb-4">
      <% if policy(:dashboard).index? %>
        <%= link_to "#" do %>
          <%= render 'shared/components/button_default_medium', label: 'View full dashboard', icon_name: 'icon-arrow-right' %>
        <% end %>
      <% end %>
    </div>

    <%= render "teams/team_actions" %>

    <!-- TODO Disabled temporarily -->
    <div class="flex justify-end py-2 hidden">
      <a href="javascript:void(0);" class="flex items-center justify-center">
        Show all users
        <span class="icon icon-show-users ms-4 icon-small"></span>
      </a>
    </div>
    <%= render "teams/member_list" %>
    <%= render "teams/add_team" %>
    <%= render "teams/sub_teams" %>
  </div>
<% end %>