<%= render "shared/components/mobile_layout" do %>
  <div data-controller="teams teams-tab-change user-show">
    <div class="inline-flex gap-2">
      <span class="icon icon-team-green icon-small"></span>
      <span class="text-primary text-sm font-semibold">Team</span>
    </div>
    <div class="mt-4">
      <ol class="flex flex-wrap items-center gap-1 text-secondary text-[10px]">
        <% team_list(@team).each do |team| %>
          <li class="flex gap-[2px]">
            <%= link_to team.name, team_path(team) %>
            <span class="icon icon-simple-arrow-right icon-tiny"></span>
          </li>
        <% end %>
      </ol>
    </div>
    <div class="mt-4 flex flex-col gap-4">
      <%= render "shared/components/course_watch_time_chart_mobile" %>
      <%= render "shared/components/enrolled_ratio_chart" %>
    </div>
    <button class="my-4 flex justify-start">
      <a href="#" class="text-primary box-shadow-medium flex items-center gap-1 rounded p-2 text-sm">
        View all metrics
        <span class="icon icon-arrow-right icon-small"></span>
      </a>
    </button>
    <div class="flex justify-start gap-6 mt-6">
      <a href="#" data-action="click->teams-tab-change#changeTab" data-tab="user" class="active-border text-base font-normal">User</a>
      <a href="#" data-action="click->teams-tab-change#changeTab" data-tab="team" class="text-base font-normal">Team</a>
    </div>
    <div class="relative w-full">
      <div class="pointer-events-none absolute inset-y-0 flex items-center pl-3">
        <span class="icon icon-search icon-small"></span>
      </div>
      <input
        type="text"
        name="price"
        id="price"
        class="input-search w-full"
        placeholder="Search Team Members"
        />
    </div>
    <div id="user" data-teams-tab-change-target="teamContent" class="" data-tab="user">
      <div class="flex justify-start my-4 hidden" data-target="user-show.allUsersSection">
        <span class="text-primary text-xs font-semibold">All users</span>
      </div>
      <div class="flex justify-end my-4" data-user-show-target="showAllUsers">
        <a href="#" data-action="click->user-show#toggleAllUsers" class="text-base font-normal flex items-center justify-center">
          Show all users
          <span class="icon icon-show-users ms-4 icon-small items-center"></span>
        </a>
      </div>

      <%= render "teams/member_list_mobile" %>

      <div class="bg-primary rounded justify-center sticky bottom-6 end-4 start-4 text-center">
        <button class="flex gap-2 px-4 py-5 w-full justify-center" data-actionType="addUser" data-action="click->teams#addUser">
          <span class="icon icon-plus-white icon-small items-center"></span>
          <span class="text-sm text-white">Add User</span>
        </button>
      </div>
      <%= render "shared/components/add_user" %>
    </div>
    <div id="team" data-teams-tab-change-target="teamContent" class="hidden" data-tab="team">
      <div class="flex items-center justify-between pt-8">
        <p class="text-sm font-medium">Linked Hotels & Resorts</p>
      </div>
      <%= render "teams/sub_teams_mobile" %>
      <div class="bg-primary rounded justify-center sticky bottom-6 end-4 start-4 text-center">
        <button class="flex gap-2 px-4 py-5 w-full justify-center" data-actionType="addTeam" data-action="click->teams#addUser">
          <span class="icon icon-plus-white icon-small items-center"></span>
          <span class="text-sm text-white">Add Team</span>
        </button>
      </div>
      <%= render "shared/components/add_team" %>
    </div>
  </div>
  </div>
<% end %>