<%= render "shared/components/mobile_layout" do %>
  <%= render 'teams/page_header_mobile', team: @team %>

  <div data-controller="tab-change">
    <div class="mt-2 mb-6 flex justify-start gap-6">
      <a href="javascript:void(0);" data-action="click->tab-change#changeTab" data-tab="user" data-tab-change-target="tabLink" class="text-base font-normal active-border">User</a>
      <a href="javascript:void(0);" data-action="click->tab-change#changeTab" data-tab="team" data-tab-change-target="tabLink" class="text-base font-normal">Team</a>
    </div>
    <div class="relative mt-4 w-full">
      <div class="pointer-events-none absolute inset-y-0 flex items-center pl-3">
        <span class="icon icon-search icon-small bg-letter-color"></span>
      </div>
      <input type="text" name="price" id="price" class="w-full input-search" placeholder="Search Team Members" />
    </div>
    <div class="flex items-center justify-between pt-8">
      <h1 class="mb-4 pl-0 text-base font-bold">Team members</h1>
      <% if policy(:course_assigns).new? %>
        <%= link_to new_course_assign_path(team_id: @team.id) do %>
          <%= render 'shared/components/icon_button_secondary', label: 'Assign courses', icon_name: 'icon-assign-user bg-white' %>
        <% end %>
      <% end %>
    </div>
    <div data-tab-change-target="tabContent" class="pt-6" data-tab="user">
      <%= render 'teams/member_list_mobile' %>
      <% if policy(:invite).new? %>
        <div class="bg-white fixed bottom-0 left-0 right-0  px-4 pb-4 w-full flex flex-col items-center">
          <%= link_to new_invite_path(team_id: @team.id),class:"w-full", data: { turbo_frame: "add-user-modal" } do %>
            <div class="w-full justify-center rounded text-center bg-primary end-4 start-4">
              <button class="flex w-full justify-center gap-2 px-4 py-5">
                <span class="items-center icon icon-plus-white bg-white icon-small"></span>
                <span class="text-sm text-white">Invite User</span>
              </button>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div data-tab-change-target="tabContent" class="hidden" data-tab="team">
      <div class="flex items-center justify-between pt-8">
        <p class="text-sm font-medium">Your sub teams</p>
      </div>
      <%= render 'teams/sub_teams_mobile', team: @team, sub_teams: @team.sub_teams.includes(:banner_attachment) %>
    </div>
  </div>
<% end %>
