<div class="box">
  <h1 class="page-title">Sub Teams</h1>
</div>
<% if policy(:team).new? %>
  <div class="box text-right">
    <%= link_to "Create new team", new_team_path(parent_team_id: @team&.id), class: "btn btn-default", data: { turbo_frame: "modal" } %>
  </div>
<% end %>


<div class="box">
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="px-6 py-3">
          Brand
        </th>
        <th scope="col" class="px-6 py-3">
          Name
        </th>
        <th scope="col" class="px-6 py-3">
        </th>
      </tr>
      </thead>
      <tbody>
      <% teams.each do |team| %>
      <tr class="bg-white border-b">
        <td class="px-6 py-4"><%= image_tag(team.banner.attached? ? team.banner.variant(resize_to_limit: [50, nil]) : "course_thumbnail.jpeg", class: "h-10") %></td>
        <td class="px-6 py-4">
          <% if policy(:team).show? %>
            <%= link_to team.name || "Team", team_path(team) %>
          <% else  %>
            <%= team.name || "Team" %>
          <% end %>
        </td>
        <td class="px-6 py-4"><%= link_to "Edit", edit_team_path(team), class: "link", data: { turbo_frame: "modal" } %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>