<div class="my-4 flex flex-col md:flex-row gap-4 items-start md:items-center justify-between">
  <h1 class="heading">Team Members</h1>
  <div class="flex flex-col md:flex-row justify-end gap-6 w-full md:w-auto">
    <div class="flex justify-between gap-6 w-full md:w-auto">
      <% if policy(:course_assigns).new? %>
        <%= link_to new_course_assign_path(team_id: @team.id) do %>
          <%= render 'shared/components/icon_button_secondary', label: 'Assign course', icon_name: 'icon-assign-user' %>
        <% end %>
      <% end %>

      <% if policy(:invite).new? && policy(@learning_partner).invite? %>
        <%= link_to new_invite_path(team_id: @team.id), data: { turbo_frame: "modal" } do %>
          <%= render 'shared/components/icon_button_primary', label: 'Invite user', icon_name: 'icon-plus' %>
        <% end %>
      <% else %>
        <%= link_to 'javascript:void(0);', class: 'disabled' do %>
          <%= render 'shared/components/icon_button_primary', label: 'Invite user', icon_name: 'icon-plus-white' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
