<%= render 'teams/page_header', team: @team %>
<%= render 'teams/team_actions' %>

<div class="mt-4">
  <%= render "commons/payment_plan_details", learning_partner: @learning_partner, payment_plan: @learning_partner.payment_plan, users_count: @learning_partner.users_count  %>
</div>

<% if @members.any? %>
  <div class="max-h-[520px] overflow-hidden p-1 mt-5 md:shadow rounded">
    <%= render 'teams/member_list', team: @team, members: @members.page(params[:page]).per(5) %>
  </div>
<% else %>
  <div class="text-center text-sm mt-6">
    No users available.
  </div>
<% end %>

<%= render 'teams/sub_teams', team: @team, sub_teams: @team.sub_teams.includes(:banner_attachment) %>
