<%= render 'teams/page_header', team: @team %>
<%= render 'teams/team_actions', learning_partner: @learning_partner, team: @team %>

<div class="mt-4">
  <%= render "commons/payment_plan_details", learning_partner: @learning_partner, payment_plan: @learning_partner.payment_plan, users_count: @learning_partner.users_count  %>
</div>

<%= member_list_component(team: @team, members: @members) %>

<%= render 'teams/sub_teams', team: @team, sub_teams: @team.sub_teams.includes(:banner_attachment) %>
