<div class="breadcrumbs-wrapper main-text-sm-normal">
  <div class="breadcrumbs-list-container">
    <% breadcrumbs.intermediate_links.each do |title, link| %>
      <div class="relative group inline-block">
        <div class="breadcrumbs-list">
          <span class="breadcrumbs-list-content">
            <% if link.present? %>
              <%= link_to title, link, class: 'breadcrumbs-intermediate-link' %>
            <% else %>
              <span class="breadcrumbs-intermediate-link"><%= title %></span>
            <% end %>
            <%= icon("chevron-right", css: 'breadcrumbs-divider-arrow') %>
          </span>
        </div>
        <span class="absolute breadcrumbs-tooltip">
          <%= title %>
        </span>
      </div>
    <% end %>

    <% if (title, link = breadcrumbs.last_link) %>
      <div class="relative group inline-block">
        <div class="breadcrumbs-list">
          <span class="breadcrumbs-list-content">
            <% if link.present? %>
              <%= link_to title, link, class: 'breadcrumbs-last-link' %>
            <% else %>
              <span class="breadcrumbs-last-link"><%= title %></span>
            <% end %>
          </span>
        </div>
        <span class="absolute breadcrumbs-tooltip">
          <%= title %>
        </span>
      </div>
    <% end %>
  </div>
</div>
