<%= turbo_frame_tag 'add-user-modal' do %>
  <div class="fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center md:items-center md:justify-center z-[9999]" data-controller="modals" data-modals-target="modalBox">
    <div class="bg-white rounded-lg w-[326px] md:w-[462px] md:rounded-lg md:relative absolute bottom-4 md:bottom-auto md:inset-auto">
      <div class="flex items-center justify-between border-b border-line-colour-light p-6">
        <span class="text-base font-semibold">Invite new user</span>
        <button data-action="click->modals#closeModal">
          <span class="icon icon-close icon-small"></span>
        </button>
      </div>

      <%= form_with(url: invites_path, method: :post, model: @user, class: "flex flex-col gap-6 p-6") do |form| %>

        <% if @user.errors.any? %>
          <div>
            <ul>
              <% @user.errors.each do |error| %>
                <li class="text-danger"><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form.hidden_field :team_id %>

        <div class="flex flex-col gap-4">
          <%= form.label :email, class: "block text-sm" %>
          <%= form.email_field :email, placeholder: "yourname@yourdomain.com", class: "input-text" %>
        </div>
        <div class="flex flex-col gap-4">
          <%= form.label :role, 'Select role',  class: "block text-sm" %>
          <%= form.select :role, user_role_mapping_for_partner(current_user),{}, class: "input-text" %>
        </div>
        <div class="flex items-center my-4">
          <div class="flex-grow border-t border-line-colour"></div>
          <span class="px-2 text-sm ">Or</span>
          <div class="flex-grow border-t border-line-colour"></div>
        </div>
        <div class="flex flex-col gap-4 items-start justify-center w-full">
          <div class="flex flex-row gap-2 justify-between w-full">
            <label class="text-sm">Upload CSV</label>
            <label class="text-sm text-[#E0E0E0]" data-teams-target="csvFileLabel">No file chosen</label>
          </div>
          <div class="flex gap-4 justify-center p-4 w-full border border-dashed border-primary rounded cursor-pointer" data-action="click->teams#chooseFile" data-upload-id="upload-csv">
            <span class="icon icon-upload icon-small"></span>
            <p class="text-sm text-primary">Choose File</p>
          </div>
          <input type="file" id="csv-file-input" class="hidden" data-content="csvFileInput"  data-teams-target="csvFileInput" data-action="change->teams#handleFileChange" />
        </div>
        <div class="flex flex-col justify-between">
          <%= form.button "Invite user", class: "bg-primary text-white px-4 py-2 rounded" %>
          <%= form.button "Cancel", class: "px-4 py-2", data: { action: "click->modals#closeModal" } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>