<%= render "shared/components/modal", modalTitle: "Invite new user" do %>
  <%= form_with(url: invites_path, method: :post, model: @user, class: "flex flex-col gap-6 p-6") do |form| %>
    <%= render "shared/components/form_errors", resource: @user %>
    <%= form.hidden_field :team_id %>

    <%= input_field(form:, field_name: :name, label: "Name", placeholder: "Enter your name",type: "text",width:"w-full") %>
    <%= input_mobile(form:, field_name: :phone,label: "Mobile number", placeholder: "10 digit mobile number", html_options: { required: false }) %>
    <%= input_dropdown(form:, field_name: :role, label: "Category", options:user_role_mapping_for_partner(current_user, @team),width:"w-full") %>

    <!-- admin cannot bulk import users, admin invites users to the top level team.
    Inviting in bulk can be done by managers or owners of the company -->
    <% if current_user.privileged_user? %>
      <div class="flex items-center my-4">
        <div class="flex-grow border-t border-line-colour"></div>
        <span class="px-2 text-sm ">Or invite multiple learners to the team</span>
        <div class="flex-grow border-t border-line-colour"></div>
      </div>
      <div>
        <%= link_to "Download sample csv file", download_invites_path, class: "nav-link", target: "_blank" %>
      </div>
      <div class="flex flex-col gap-4 items-start justify-center w-full">
        <%= render 'shared/components/file_select', hidden_file_field: form.file_field(:bulk_invite, class: "hidden", data: { forms_target: "fileInput" }) %>
      </div>
    <% end %>
    <div class="flex flex-col gap-6 justify-between heading">
      <%= form.button "Invite user", class: "bg-primary text-white p-4 rounded" %>
      <%= link_to 'Cancel','javascript:void(0);', class: 'text-center', data: { action: "click->modals#closeModal" } %>
    </div>
  <% end %>
<% end %>
