<%= turbo_frame_tag 'modal' do %>
  <div class="w-full">
    <% if @user.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this lesson from being saved:</h2>

        <ul>
          <% @user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_with(url: invites_path, method: :post, model: @user,  class: "space-y-4") do |form| %>
      <div>
        <%= form.label :email, class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= form.email_field :email, placeholder: "yourname@example.com", class: "input-text" %>
      </div>
      <div>
        <%= form.label :role, class: "block mb-2 text-sm font-medium text-gray-900" %>
        <%= form.select :role, user_role_mapping_for_partner(current_user), class: "input-select" %>
      </div>
      <%= form.hidden_field :learning_partner_id, value: @learning_partner.id %>
      <div class="flex gap-4">
        <%= link_to "Close", "javascript:void(0);", data: { action: "modals#close" }, class: "btn btn-primary w-1/2" %>
        <button type="submit" class="btn-default w-1/2">Send invite</button>
      </div>
    <% end %>
  </div>
<% end %>