<div class="relative flex w-full" id="<%= dom_key("course-carousal") %>">  
  <div class="absolute -left-3 z-50 flex h-full items-center hover:text-primary hover:cursor-pointer"
      data-course-carousal-target="prevArrow"
      data-action="click->course-carousal#shiftWindowLeft">
    <%= icon("chevron-left", css: "icon-medium") %>
  </div>

  <div class="mx-5 flex flex-row flex-nowrap justify-between overflow-y-auto scroll-smooth"
      data-course-carousal-target="courseCarousalBody">
    <% courses.each do |course| %>
      <%= link_to course_path(course) do %>
        <div class="mx-1 transform transition-transform duration-500 scale-100"
            data-course-carousal-target="cardComponent">
          <%= course_card_component(course: course) %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="absolute -right-3 z-50 flex h-full items-center hover:text-primary hover:cursor-pointer"
      data-course-carousal-target="nextArrow"
      data-action="click->course-carousal#shiftWindowRight">
    <%= icon("chevron-right", css: "icon-medium") %>
  </div>
</div>
