<div class="box">
  <div class="my-8 w-80 text-left">
    <%= form_with(url: course_module_quizzes_path(course, course_module), model:  quiz) do |form| %>
      <% if quiz.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

          <ul>
            <% quiz.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="my-8 text-sm">
        <%= form.label :question, class: "text-sm font-medium" %>
        <%= form.text_field :question, class: "input-text mt-2" %>
      </div>

      <div class="my-8 text-sm">
        <%= form.label :option_a, class: "text-sm font-medium" %>
        <%= form.text_field :option_a, class: "input-text mt-2" %>
      </div>

      <div class="my-8 text-sm">
        <%= form.label :option_b, class: "text-sm font-medium" %>
        <%= form.text_field :option_b, class: "input-text mt-2" %>
      </div>

      <div class="my-8 text-sm">
        <%= form.label :option_c, class: "text-sm font-medium" %>
        <%= form.text_field :option_c, class: "input-text mt-2" %>
      </div>

      <div class="my-8 text-sm">
        <%= form.label :option_d, class: "text-sm font-medium" %>
        <%= form.text_field :option_d, class: "input-text mt-2"%>
      </div>

      <div class="my-8 text-sm">
        <%= form.label :answer, class: "text-sm font-medium" %>
        <%= form.text_field :answer, class: "input-text mt-2" %>
      </div>

      <div class="my-8 text-sm">
        <% text = quiz.persisted? ? "Update" : "Create" %>
        <%= form.submit text, class: "btn-default" %>
      </div>
    <% end %>
  </div>
</div>