<div class="mb-4 text-left md:max-w-3xl w-full">
  <% form_url = quiz.persisted? ? course_module_quiz_path(course, course_module, quiz) :  course_module_quizzes_path(course, course_module) %>
  <%= form_with(url: form_url, model:  quiz) do |form| %>
    <%= render "shared/components/form_errors", resource: quiz %>
    <div class="border border-line-colour-light p-8 rounded">
      <div class="mb-8 text-sm">
        <%= input_field(form:, field_name: :question,label: "Description", placeholder: "Enter your question here...",type: "text_area", width:"w-full", rows:"2") %>
      </div>
      
      <div class="mb-4">
        <%= form.label "Answer options", class:"text-base font-medium" %>
      </div>
      <div class="flex flex-col gap-8">
        <%= input_field(form: form, text_field_name: :option_a, radio_field_name: :answer, placeholder: "Enter an answer", value: "a", type: "radio_field", option: "A.", width:"w-full") %>
        <%= input_field(form: form, text_field_name: :option_b, radio_field_name: :answer, placeholder: "Enter an answer", value: "b", type: "radio_field", option: "B.", width:"w-full") %>
        <%= input_field(form: form, text_field_name: :option_c, radio_field_name: :answer, placeholder: "Enter an answer", value: "c", type: "radio_field", option: "C.", width:"w-full") %>
        <%= input_field(form: form, text_field_name: :option_d, radio_field_name: :answer, placeholder: "Enter an answer", value: "d", type: "radio_field", option: "D.", width:"w-full") %>     
      </div>
    </div>
    
    <div class="my-8 text-sm flex gap-6 items-center">
      <div class="my-8">
        <%= link_to "Cancel" , course_module_path(@course, @course_module), class: "nav-link" %>
      </div>
      <div>
        <%= form.submit submit_label_for(quiz), class: "btn-primary" do %>
          <span><%= text %></span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

