<div class="mb-4 text-left md:max-w-3xl w-full">
  <% form_url = quiz.persisted? ? course_module_quiz_path(course, course_module, quiz) :  course_module_quizzes_path(course, course_module) %>
  <%= form_with(url: form_url, model:  quiz) do |form| %>
    <%= render "shared/components/form_errors", resource: quiz %>
    <div class="border border-line-colour-light p-8 rounded">
      <div class="mb-8 text-sm">
        <%= input_field(form:, field_name: :question,label: "Description", placeholder: "Enter your question here...",type: "text_area", width:"w-full", rows:"2") %>
      </div>      
      <div class="mb-4">
        <%= form.label "Answer options", class:"text-base font-medium" %>
      </div>
      <div class="flex flex-col gap-8">
        <ul class="flex flex-col gap-6 pt-6">
          <li class="flex justify-between items-center w-full gap-2">
            <span class="text-letter-color-light text-sm">A.</span>
            <%= input_field(form:, field_name: :option_a, placeholder: "#{quiz.option_a.presence || 'Enter an answer'}" ,type: "text", width:"w-full", rows:"2") %>
            <%= input_radio(
              form: form,
              field_name: :answer,
              value: "a",
              width:"w-4",
              html_options: {
                id: "opt-a",
              }
          ) %>
            
          </li>
          <li class="flex justify-between items-center w-full gap-2">
            <span class="text-letter-color-light text-sm">B.</span>
            <%= input_field(form:, field_name: :option_b, placeholder: "Enter an answer" ,type: "text", width:"w-full", rows:"2") %>
            <%= input_radio(
              form: form,
              field_name: :answer,
              value: "b",
              width:"w-4",
              html_options: {
                id: "opt-b",
              }
          ) %>
          </li>
          <li class="flex justify-between items-center w-full gap-2">
            <span class="text-letter-color-light text-sm">C.</span>
            <%= input_field(form:, field_name: :option_c, placeholder: "Enter an answer" ,type: "text", width:"w-full", rows:"2") %>
            <%= input_radio(
              form: form,
              field_name: :answer,
              value: "c",
              width:"w-4",
              html_options: {
                id: "opt-c",
              }
          ) %>
          </li>
          <li class="flex justify-between items-center w-full gap-2">
            <span class="text-letter-color-light text-sm">D.</span>
            <%= input_field(form:, field_name: :option_d, placeholder: " Enter an answer" ,type: "text", width:"w-full", rows:"2") %>
            <%= input_radio(
              form: form,
              field_name: :answer,
              value: "d",
              width:"w-4",
              html_options: {
                id: "opt-d",
              }
          ) %>
          </li>
        </ul> 
      </div>
    </div>
    
    <div class="my-8 text-sm flex gap-6 items-center">
      <div class="my-8">
        <%= link_to "Cancel" , course_module_path(@course, @course_module), class: "nav-link" %>
      </div>
      <div>
        <%= form.submit submit_label_for(quiz), class: "btn-primary" do %>
          <span><%= text %></span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>