<div class="w-full">
  <div class="my-8 w-80 mx-auto text-left">
    <%= form_with(url: course_module_quizzes_path(course, course_module), model:  quiz) do |form| %>
      <% if quiz.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

          <ul>
            <% quiz.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="my-8 text-sm">
        <%= form.label :question, style: "display: block" %>
        <%= form.text_field :question %>
      </div>

      <div class="my-8 text-sm">
        <%= form.label :quiz_type, style: "display: block" %>
        <%= form.text_field :quiz_type %>
      </div>

      <div class="my-8 text-sm">
        <%= form.label :option_a, style: "display: block" %>
        <%= form.text_field :option_a %>
      </div>

      <div class="my-8 text-sm">
        <%= form.label :option_b, style: "display: block" %>
        <%= form.text_field :option_b %>
      </div>

      <div class="my-8 text-sm">
        <%= form.label :option_c, style: "display: block" %>
        <%= form.text_field :option_c %>
      </div>

      <div class="my-8 text-sm">
        <%= form.label :option_d, style: "display: block" %>
        <%= form.text_field :option_d %>
      </div>

      <div class="my-8 text-sm">
        <%= form.label :answer, style: "display: block" %>
        <%= form.text_field :answer %>
      </div>

      <div class="my-8 text-sm">
        <% text = quiz.persisted? ? "Update" : "Create" %>
        <%= form.submit text, class: "border rounded p-2 min-w-4 min-h-2 auto w-32" %>
      </div>
    <% end %>
  </div>
</div>