<div class="w-full">
  <div id="<%= dom_id quiz %>" class="my-8 w-80 mx-auto text-left">
    <div class="my-4">
      <strong>Q:</strong>
      <%= quiz.question %>
    </div>

    <div class="my-4">
      <%= radio_button_tag 'answer', quiz.option_a, id: "opt-a", class: "mx-2" %>
      <%= label_tag "opt-a", quiz.option_a %>
    </div>

    <div class="my-4">
      <%= radio_button_tag 'answer', quiz.option_b, id: "opt-b", class: "mx-2" %>
      <%= label_tag "opt-b", quiz.option_b %>
    </div>

    <div class="my-4">
      <%= radio_button_tag 'answer', quiz.option_c, id: "opt-c", class: "mx-2" %>
      <%= label_tag "opt-b", quiz.option_c %>
    </div>

    <div class="my-4">
      <%= radio_button_tag 'answer', quiz.option_d, id: "opt-d", class: "mx-2" %>
      <%= label_tag "opt-d", quiz.option_d %>
    </div>
  </div>
</div>