<div>
  <div class="text-right flex justify-end gap-4 my-6">
    <% if policy(@quiz).edit? %>
      <%= link_to edit_course_module_quiz_path(@course, @course_module, @quiz) do %>
        <%= button(label: "Edit", type: "secondary", icon_name: "pencil", icon_position: "right") %>
      <% end %>
    <% end %>
    <% if current_user.is_admin? %>
      <% if policy(@quiz).destroy? %>
        <%= link_to course_module_quiz_path(@course, @course_module, @quiz), data: { turbo_method: :delete, turbo_confirm: "Are you sure want to delete?"} do %>
          <%= button(label: "Delete", type: "danger") %>
        <% end %>
      <% else %>
        <%= button(label: "Delete", type: "danger",  tooltip_text: quiz_delete_tooltip_message(@course), disabled: true) %>
      <% end %>
    <% end %>
  </div>
  <% if current_user.is_admin? %>
    <%= render "quizzes/quiz", course: @course, course_module: @course_module, quiz: @quiz %>
  <% else %>
    <%= render "quizzes/quiz_submit_form", course: @course, course_module: @course_module, quiz: @quiz %>
  <% end %>
  <div class="box">
    <div class="flex gap-4 justify-between my-8">
      <% prev_link = prev_quiz_path(@course, @course_module, @quiz) %>
      <%  if prev_link.blank? %>
        <%= button(
        label: "Previous",
        icon_name: "chevron-left",
        type: "secondary",
        disabled: true
      ) %>
      <% else %>
        <%= link_to prev_link, class: "flex items-center justify-between gap-1 rounded-sm hover:cursor-pointer" do %>
          <%= button(
          label: "Previous",
          icon_name: "chevron-left",
          type: "secondary",
        ) %>
        <% end %>
      <% end %>
      <% next_link = next_quiz_path(@course, @course_module, @quiz) %>
      <%  if next_link.blank? %>
        <%= button(
        label: "Next",
        icon_name: "chevron-right",
        type: "secondary",
        icon_position: "right",
        disabled: true
      ) %>
      <% else %>
        <%= link_to next_link, class: "flex items-center justify-between gap-1 rounded-sm hover:cursor-pointer" do %>
          <%= button(
          label: "Next",
          icon_name: "chevron-right",
          type: "secondary",
          icon_position: "right"
        ) %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
