
<div class="box-shadow-medium flex flex-col items-center rounded md:w-[960px]">
  <div class="flex items-center justify-between pt-6">
    <span class="heading page-heading text-primary">Quiz</span>
  </div>
  <div class="flex flex-wrap justify-center gap-4 pt-6 px-2">
    <% current_index = position_of_quiz(course_module, quiz) - 1 %>
    <% course_module.quizzes_count.times do |index| %>
      <div class="indicator <%= 'active' if index == current_index %>"></div>
    <% end %>
  </div>
  <h2 class="flex items-center justify-center pt-4 text-medium">
    <%= quiz_position_text(course_module, quiz) %> Questions
  </h2>
  <%= form_with model: @quiz, url: submit_answer_course_module_quiz_path(course, course_module, quiz), method: :post, class:"md:w-[910px]" do |form| %>
    <ul class="w-full pb-6">
      <li class="carousel-container mt-6">
        <h2 class="bg-primary-light-50 p-6 text-medium rounded box-shadow-medium">
          <span>Q.</span> <%= quiz.question %>
        </h2>

        <div class="carousel-item active mt-6">
          <ul class="flex flex-col gap-6">
            <li class="border border-line-colour-light p-6 rounded">
              <label class="flex items-center justify-between">
                <span><%= "A. #{quiz.option_a}" %></span>
                <%= form.radio_button 'answer', "a", checked: @answer&.answer == 'a', class: "mx-2 form-radio", id: "quiz_opt-a", required: true, data: { action: "change->quiz#valueChanged"} %>
              </label>
            </li>
            <li class="border border-line-colour-light p-6 rounded">
              <label class="flex items-center justify-between">
                <span><%= "B. #{quiz.option_b}" %></span>
                <%= form.radio_button 'answer', "b", checked: @answer&.answer == 'b', class: "mx-2 form-radio", id: "quiz_opt-b", required: true, data: { action: "change->quiz#valueChanged"} %>
              </label>
            </li>
            <li class="border border-line-colour-light p-6 rounded">
              <label class="flex items-center justify-between">
                <span><%= "C. #{quiz.option_c}" %></span>
                <%= form.radio_button 'answer', "c", checked: @answer&.answer == 'c', class: "mx-2 form-radio", id: "quiz_opt-c", required: true, data: { action: "change->quiz#valueChanged"} %>
              </label>
            </li>
            <li class="border border-line-colour-light p-6 rounded">
              <label class="flex items-center justify-between">
                <span><%= "D. #{quiz.option_d}" %></span>
                <%= form.radio_button 'answer', "d", checked: @answer&.answer == 'd', class: "mx-2 form-radio", id: "quiz_opt-d", required: true, data: { action: "change->quiz#valueChanged"} %>
              </label>
            </li>
          </ul>         
        </div>
      </li>      
    </ul>
    <div class="pb-6 flex items-center justify-center">
      <%= form.button 'Submit', class: "flex justify-center rounded px-10 md:px-20 py-2 md:py-3 bg-primary heading text-white w-full", id: "quiz-submit-button" %>
    </div>
   <% end %>
</div>

  