<div class="box-shadow-medium flex flex-col  items-center rounded  md:w-[960px]">
  <div class="flex items-center justify-between pt-6">
    <span class="heading page-heading text-primary">Quiz</span>
  </div>
  <div class="flex flex-wrap justify-center gap-4 pt-6 px-2">
    <% current_index = position_of_quiz(course_module, quiz) - 1 %>
    <% course_module.quizzes_count.times do |index| %>
      <div class="indicator <%= 'active' if index == current_index %>"></div>
    <% end %>
  </div>
  <h2 class="flex items-center justify-center pt-4 text-medium">
    <%= quiz_position_text(course_module, quiz) %> Questions
  </h2>
  <div class="md:w-[910px]">
    <ul class="w-full md:pb-6">
      <li class="carousel-container mt-6">
        <h2 class="bg-primary-light-50 p-6 text-medium text-letter-color-light rounded box-shadow-medium">
          <span>Q.</span><%= quiz.question %>
        </h2>
        <ul class="flex flex-col gap-6 pt-6 px-1">
            <li class="rounded-sm border border-line-colour">
              <%= input_radio(
                field_name: :answer,
                value: quiz.option_a,
                option: "A. #{quiz.option_a}",
                width: "w-full",
                height: "h-16",
                html_options: {
                  id: "opt-a",
                  data: {
                    action: "change->quiz#valueChanged"
                  },
                  checked: quiz.answer.to_s.downcase == "a",
                  disabled: true
                }
            ) %>
            </li>

            <li class="rounded-sm border border-line-colour">
              <%= input_radio(
                field_name: :answer,
                value: quiz.option_b,
                option: "B. #{quiz.option_b}",
                width: "w-full",
                height: "h-16",
                html_options: {
                  id: "opt-b",
                  data: {
                    action: "change->quiz#valueChanged"
                  },
                  checked: quiz.answer.to_s.downcase == "b",
                  disabled: true
                }
            ) %>
            </li>

            <li class="rounded-sm border border-line-colour">
              <%= input_radio(
                field_name: :answer,
                value: quiz.option_c,
                option: "C. #{quiz.option_c}",
                width: "w-full",
                height: "h-16",
                html_options: {
                  id: "opt-c",
                  data: {
                    action: "change->quiz#valueChanged"
                  },
                  checked: quiz.answer.to_s.downcase == "c",
                  disabled: true
                }
            ) %>
            </li>

            <li class="rounded-sm border border-line-colour">
              <%= input_radio(
                field_name: :answer,
                value: quiz.option_d,
                option: "D. #{quiz.option_d}",
                width: "w-full",
                height: "h-16",
                html_options: {
                  id: "opt-d",
                  data: {
                    action: "change->quiz#valueChanged"
                  },
                  checked: quiz.answer.to_s.downcase == "d",
                  disabled: true
                }
            ) %>
            </li>
        </ul>    
      </li>
    </ul>
  </div>
  <% if @enrollment %>
  <p class="pb-4 px-6">    
   <%= answer_text(@enrollment.get_answer(quiz)) %>
  </p>
  <% end %>

</div>