
<div class="box-shadow-medium flex flex-col items-center rounded md:w-[960px] px-4">
  <div class="flex items-center justify-between pt-6">
    <span class="heading page-heading text-primary">Quiz</span>
  </div>
  <div class="flex flex-wrap justify-center gap-4 pt-6 px-2">
    <% current_index = position_of_quiz(course_module, quiz) - 1 %>
    <% course_module.quizzes_count.times do |index| %>
      <div class="indicator <%= 'active' if index == current_index %>"></div>
    <% end %>
  </div>
  <h2 class="flex items-center justify-center pt-4 text-medium">
    <%= quiz_position_text(course_module, quiz) %> Questions
  </h2>
  <%= form_with model: @quiz, url: submit_answer_course_module_quiz_path(course, course_module, quiz), method: :post, class:"md:w-[910px]" do |form| %>
    <ul class="w-full pb-6">
      <li class="carousel-container mt-6">
        <h2 class="bg-primary-light-50 p-6 text-medium text-letter-color-light rounded box-shadow-medium">
          <span>Q.</span> <%= quiz.question %>
        </h2>

        <div class="carousel-item active mt-6">
          <ul class="flex flex-col gap-6">
            <li class="">
              <%= input_field(
                form: form,
                radio_field_name: :answer,
                value: "a",
                type: "radio_field",
                option: "A. #{quiz.option_a}",
                width: "w-full",
                height: "h-16",
                html_options: {
                  required: true,
                  id: "quiz_opt-a",
                  data: {
                    action: "change->quiz#valueChanged"
                  },
                  checked: @answer&.answer == 'a'
                }
            ) %>
            </li><li class="">
              <%= input_field(
                form: form,
                radio_field_name: :answer,
                value: "b",
                type: "radio_field",
                option: "B. #{quiz.option_b}",
                width: "w-full",
                height: "h-16",
                html_options: {
                  required: true,
                  id: "quiz_opt-b",
                  data: {
                    action: "change->quiz#valueChanged"
                  },
                  checked: @answer&.answer == 'b'
                }
            ) %>
            </li>
            <li class="">
              <%= input_field(
                form: form,
                radio_field_name: :answer,
                value: "c",
                type: "radio_field",
                option: "C. #{quiz.option_c}",
                width: "w-full",
                height: "h-16",
                html_options: {
                  required: true,
                  id: "quiz_opt-c",
                  data: {
                    action: "change->quiz#valueChanged"
                  },
                  checked: @answer&.answer == 'c'
                }
            ) %>
            </li>
            <li class="">
              <%= input_field(
                form: form,
                radio_field_name: :answer,
                value: "d",
                type: "radio_field",
                option: "D. #{quiz.option_d}",
                width: "w-full",
                height: "h-16",
                html_options: {
                  required: true,
                  id: "quiz_opt-d",
                  data: {
                    action: "change->quiz#valueChanged"
                  },
                  checked: @answer&.answer == 'd'
                }
            ) %>
            </li>            
          </ul>         
        </div>
      </li>      
    </ul>
    <div class="pb-6 flex items-center justify-center">
      <%= form.button 'Submit', class: "btn-primary w-full", id: "quiz-submit-button" %>
    </div>
   <% end %>
</div>

  