<div class="box-shadow-medium flex flex-col  items-center rounded  md:w-[960px]">
  <div class="flex items-center justify-between pt-6">
    <span class="heading page-heading text-primary">Quiz</span>
  </div>
  <div class="flex justify-center gap-4 pt-6">
    <div class="indicator active"></div>
    <div class="indicator"></div>
    <div class="indicator"></div>
  </div>
  <h2 class="flex items-center justify-center pt-4 text-medium">
    1/5 Questions
  </h2>
  <div class="md:w-[910px]">
    <ul class="w-full md:pb-6">
      <li class="carousel-container mt-6">
        <h2 class="bg-primary-light-50 p-6 text-medium rounded box-shadow-medium">
          <span>Q.</span><%= quiz.question %>
        </h2>
        <ul class="flex flex-col gap-6 pt-6">
          <li class="border border-line-colour-light p-6 rounded">
            <label class="flex items-center justify-between">
              <span><%= "A. #{quiz.option_a}" %></span>
              <%= radio_button_tag 'answer', quiz.option_a, id: "opt-a", class: "mx-2", checked: quiz.answer == "A", disabled: true %>
            </label>
          </li>

          <li class="border border-line-colour-light p-6 rounded">
            <label class="flex items-center justify-between">
              <span><%= "B. #{quiz.option_b}" %></span>
              <%= radio_button_tag 'answer', quiz.option_b, id: "opt-b", class: "mx-2", checked: quiz.answer == "B", disabled: true %>
            </label>
          </li>

          <li class="border border-line-colour-light p-6 rounded">
            <label class="flex items-center justify-between">
              <span><%= "C. #{quiz.option_c}" %></span>
              <%= radio_button_tag 'answer', quiz.option_c, id: "opt-c", class: "mx-2", checked: quiz.answer == "C", disabled: true %>
            </label>
          </li>

          <li class="border border-line-colour-light p-6 rounded">
            <label class="flex items-center justify-between">
             <span><%= "D. #{quiz.option_d}" %></span>
              <%= radio_button_tag 'answer', quiz.option_d, id: "opt-d", class: "mx-2", checked: quiz.answer == "D", disabled: true %>          
            </label>
          </li>
        </ul>    
      </li>
    </ul>
  </div>
  <% if @enrollment %>
  <p class="pb-4 px-6">    
   <%= answer_text(@enrollment.get_answer(quiz)) %>
  </p>
  <% end %>

</div>