<div id="<%= dom_id quiz %>">
  <p>
    <strong>Question:</strong>
    <%= quiz.question %>
  </p>

  <p>
    <strong>Quiz type:</strong>
    <%= quiz.quiz_type %>
  </p>

  <p>
    <strong>Option a:</strong>
    <%= quiz.option_a %>
  </p>

  <p>
    <strong>Option b:</strong>
    <%= quiz.option_b %>
  </p>

  <p>
    <strong>Option c:</strong>
    <%= quiz.option_c %>
  </p>

  <p>
    <strong>Option d:</strong>
    <%= quiz.option_d %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= quiz.answer %>
  </p>

</div>
