<%= render "shared/components/desktop_layout" do %>
  <div class="box">
    <%= link_to "Back", course_path(@course), class: "nav-link" %>
  </div>

<div class="box text-right">
  <% if policy(@quiz).edit? %>
    <%= link_to edit_course_module_quiz_path(@course, @course_module, @quiz), class: "btn-default" do %>
      <span>Edit</span>
    <% end %>
  <% end %>
  <% if policy(@quiz).destroy? %>
    <%= link_to course_module_quiz_path(@course, @course_module, @quiz), data: { turbo_method: :delete, turbo_confirm: "Are you sure want to delete?"}, class: "btn-default" do %>
      <span>Delete</span>
    <% end %>
  <% end %>
</div>

<% if current_user.is_admin? || @enrollment.quiz_answered?(@quiz) %>
  <%= render "quizzes/quiz", course: @course, course_module: @course_module, quiz: @quiz %>
<% else %>
  <%= render "quizzes/quiz_submit_form", course: @course, course_module: @course_module, quiz: @quiz %>
<% end %>


<div class="box">
  <div class="flex gap-2 justify-start my-8">
    <% prev_link = prev_quiz_path(@course, @course_module, @quiz) %>
    <%  if prev_link.blank? %>
      <%= link_to "javascript:void(0);", class: "btn-default btn-disabled" do %>
        <span class="icon icon-back icon-small"></span>
        <span>Previous</span>
      <% end %>
    <% else %>
      <%= link_to prev_link, class: "btn-default" do %>
        <span class="icon icon-back icon-small"></span>
        <span>Previous</span>
      <% end %>
    <% end %>
    <% next_link = next_quiz_path(@course, @course_module, @quiz) %>
      <%  if next_link.blank? %>
        <%= link_to "javascript:void(0);", class: "btn-default btn-disabled" do %>
          <span>Skip</span>
          <%= render "shared/svg/forward" %>
        <span class="icon icon-forward icon-small"></span>
        <% end %>
      <% else %>
        <%= link_to next_link, class: "btn-default" do %>
          <span>Skip</span>
          <%= render "shared/svg/forward" %>
        <% end %>
      <% end %>
  </div>
</div>
<% end %>