<%= mobile_view do %>
  <%= render "devise/shared/top_mobile" %>
  <div class="px-4 py-6">
    <form action="">
      <div class="mb-6">
        <h1 class="heading page-heading">Didn't get confirmation ?</h1>
      </div>
      <div class="flex flex-col gap-6">
        <div class="input-group">
          <label for="" class="label-text">No worries. We&apos;ll send you reset instructions.</label>
        </div>
        <div class="input-group">
          <label for="number" class="label-text">Enter your email</label>
          <p class="mt-4">
            <input id="email" type="text" class="input-text"/>
          </p>
        </div>
        <div class="mt-4">
          <button class="btn-primary w-full">
            <span>Resend email confirmation</span>
          </button>
        </div>
      </div>
    </form>
    <div class="mt-4">
      <% if FLAG_LOGIN_WITH_OTP %>
        <%= link_to "Login with OTP", new_login_path, class: "link-text" %><br/>
      <% end %>
      <%= link_to "Login with email and password", new_user_session_path, class: "link-text" %><br/>
      <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path('user'), class: "link-text" %>
    </div>
  </div>
<% end %>