<div class="heading-extra-large pb-6">
    Login
</div>
<div class="justify-start body-small pb-8">
    Welcome! Please enter your phone number
</div>

<%= form_with url: "login_path" do |form| %>
    <%= input_field(
        f: form,
        field_name: :phone_number,
        label: "Phone Number",
        placeholder: "Enter number",
        width: "w-full",
        type: "number"
    ) %>

    <div class="mt-12 flex flex-col gap-4">
      <%= link_to otp_field_path(type: "login") do %>
        <%= button(label: "Login with OTP", size: "xl",width: "w-full") %>
      <% end %>            
    </div>

    <div class="flex gap-4 items-start mt-8">
      <%= check_box_tag false,class: "mt-0.5 md:mt-1.5 w-2.5 md:w-3 h-2.5 md:h-3 border border-letter-color focus:ring-0" %>
      <label class="text-xs md:text-sm leading-none">
        I confirm that I have read, consent, and agree to Instruo's
        <%= link_to "Terms of Use", "/terms-of-use", class: "text-primary underline no-underline" %> and
        <%= link_to "Privacy Policy", "/privacy-policy", class: "text-primary underline no-underline" %>.
      </label>
    </div>
<% end %>
