<div class="file-selector-component-container">
  <% if file_selector.label.present? %>
    <span class="<%= file_selector.label_style %>">
      <%= file_selector.label %>
    </span>
  <% end %>

  <%= render 'view_components/inputs/file_selector_component/file_selector_box', { file_selector: } %>

  <% if file_selector.support_text.present? %>
    <div class="<%= file_selector.support_text_style %>">
      <span><%= file_selector.support_text %></span>
      <span><%= file_selector.support_text_two %></span>
    </div>
  <% end %>
</div>
