<div class="flex w-full flex-col gap-1">
  <% if input.icon_name.present? %>
    <% icon_tag = content_tag(:div, class: input.icon_style) do %>
      <%= icon(input.icon_name, css: input.icon_size) %>
    <% end %>
  <% end %>

  <% input_div = content_tag :div, class: input.input_div_style do %>
    <% if input.form.present? %>
      <% case type %>
  <% when "password" %>
        <%= input.form.password_field input.name, input.html_options %>
      <% when "email" %>
        <%= input.form.email_field input.name, input.html_options %>
      <% when "number" %>
        <%= input.form.number_field input.name, input.html_options %>
      <% else %>
        <%= input.form.text_field input.name, input.html_options %>
      <% end %>
    <% else %>
      <% input_tag = text_field_tag input.name, input.value, input.html_options %>
    <% end %>

    <%= input_with_icon(icon_tag, input_tag, input.icon_position) %>
  <% end %>

  <% if input.label.present? %>
    <label>
      <span class="<%= input.label_style %>"><%= input.label %></span>
      <%= input_div %>
    </label>
  <% else %>
    <%= input_div %>
  <% end %>

  <% if input.subtext.present? %>
    <span class="<%= input.subtext_style %>">
      <%= input.subtext %>
    </span>
  <% end %>
</div>
