<% modal_footer = capture do %>
  <div class="flex gap-4 border-t border-line-colour-light">
    <div class="flex-1" data-action="click->modals#closeModal">
      <%= button_component(text: "Cancel", type:"outline") %>
    </div> 
    <%= link_to @action_path,  data: { turbo_method: @method, turbo_frame: "_top" }, class: "flex-1" do %>
      <% if @method.to_s == "delete" %>
        <%= button_component( text: t("button.delete"), colorscheme: "danger" ) %>
      <% else %>
        <%= button_component( text: t("button.ok") ) %>
      <% end %>
    <% end %>
  </div>
<% end %>

<%= modal_box_component(title: @title, modal_footer: ) do %>
  <p class="main-text-md-normal">
    <%= sanitize(@description) %>
  </p>
<% end %>