<div class="w-auto md:max-w-3xl">
  <%= form_with(model: learning_partner, id: "partner-form") do |form| %>
    <div data-multistep-form-target="step" class="flex flex-col gap-4">
      <%= input_text_component(form:, name: :name, label: "Name", placeholder: "Enter Name") %> 
      <%= textarea_component(form:, name: :about, label: "About", placeholder: "Enter about", rows: 4 ) %>
      <%= dropdown_component(
        name: "learning_partner[supported_countries][]",
        label: "Country",
        options: country_dropdown_options,
        value: learning_partner&.supported_countries&.first,
        
      ) %>
      <%= dropdown_component(       
        name: "organisation_type",
        label: "Organisation type",
        options: [
          ["Private", "private"],
          ["Public", "public"]
        ]
      ) %>
    </div>

    <div data-multistep-form-target="step" class="flex flex-col gap-4 hidden">
      <%= file_selector_component(form:, name: :logo, label: "Logo", type: "image" ) %>
      <%= file_selector_component(form:, name: :banner, label: "banner", type: "image" ) %>
    </div>
    <div data-multistep-form-target="step" class="hidden">
      <%= form.fields_for :payment_plan do |payment_plan_form| %>
        <div class="flex flex-col gap-6">
          <div class="flex flex-row space-x-5 justify-between">
            <%= date_picker_component( 
                form: payment_plan_form,           
                name: :start_date,
                label: "Subscription Start Date",
                support_text:"choose a date",
                placeholder:"choose a date"
                )
              %>   
              <%= date_picker_component(
                form: payment_plan_form,
                name: :end_date,
                label: "Subscription End Date",
                support_text:"choose a date",
                placeholder:"choose a date"
                )
              %>  
          </div>

          <%= input_text_component(
            form: payment_plan_form,
            name: :total_seats,
            label: "User Limit",
            placeholder: "Enter Limit"
          ) %>

          <%= input_text_component(
            form: payment_plan_form,
            name: :per_seat_cost,
            label: "Per user amount (₹)",
            placeholder: "Enter amount"
          ) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
