<div class="md:max-w-3xl"  data-controller="file-upload">
  <%= form_with(model: learning_partner) do |form| %>
    <%= render "shared/components/form_errors", resource: learning_partner %>
    <div class="my-8 text-sm">
      <%= input_field(form:, field_name: :name, label: "Name", placeholder: "Enter Name",type: "text",width:"w-full") %>
    </div>
    <div>
      <%= input_text_area( form:, field_name: :about, label: "About", placeholder: "Enter about", width: "w-full" ) %>
    </div>
    <div class="my-8">
      <label class="text-letter-color-light text-sm md:text-base leading-tight">
        Select supported countries
      </label>
      <% AVAILABLE_COUNTRIES.each do |_, country| %>
        <div class="mt-3">
          <%= input_radio(
                field_name: "learning_partner[supported_countries][]",
                option: country[:label],
                value: country[:value],
                html_options: {
                  checked: learning_partner&.supported_countries.first == country[:value]
                }
              ) %>
        </div>
      <% end %>
    </div>
    <div class="my-8 text-sm">
      <div class="flex justify-between text-letter-color-light">
        <%= form.label :logo, style: "display: block" %>
      </div>
      <div class="relative mt-2">
        <%= render "shared/components/file_select",
                   hidden_file_field: form.file_field(:logo, class: "hidden", data: { forms_target: "fileInput" }),
                   preview: "logo" %>
      </div>
    </div>
    <div class="my-8 text-sm">
      <div class="flex justify-between text-letter-color-light">
        <%= form.label :banner, style: "display: block" %>
      </div>
      <div class="relative mt-2">
        <%= render "shared/components/file_select",
                   hidden_file_field: form.file_field(:banner, class: "hidden", data: { forms_target: "fileInput" }),
                   preview: "banner" %>
      </div>
    </div>
    <div class="my-8 flex items-center gap-4 text-sm">
      <div class="mx-4 my-8">
        <%= link_to "Cancel", learning_partners_path, class: "nav-link" %>
      </div>
      <div>
        <%= form.submit submit_label_for(learning_partner), class: "btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
