
<div class="my-8 w-full md:max-w-3xl text-left">
  <%= form_with(model: learning_partner) do |form| %>
    <% if learning_partner.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(learning_partner.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
          <% learning_partner.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-8 text-sm">
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name, class: "input-text mt-2" %>
    </div>

    <div>
      <%= form.label :content, "About", style: "display: block" %>
      <%= form.rich_text_area :content, class: "input-text mt-2" %>
    </div>

    <div class="my-8 text-sm" >
      <%= form.label :logo, style: "display: block" %>
      <%= form.file_field :logo, class: "mt-2" %>
    </div>

    <div class="my-8 text-sm" >
      <%= form.label :banner, style: "display: block" %>
      <%= form.file_field :banner, class: "mt-2" %>
    </div>

    <div class="my-8 text-sm">
      <% text = learning_partner.persisted? ? "Update" : "Create" %>
      <%= form.submit text, class: "btn-default" %>
    </div>
  <% end %>
</div>
