<div class="my-8 w-full md:max-w-3xl text-left" data-controller="file-upload">
  <%= form_with(model: learning_partner) do |form| %>
  <% if learning_partner.errors.any? %>
  <div style="color: red">
     <h2><%= pluralize(learning_partner.errors.count, "error") %> prohibited this user from being saved:</h2>
     <ul>
        <% learning_partner.errors.each do |error| %>
        <li><%= error.full_message %></li>
        <% end %>
     </ul>
  </div>
  <% end %>
  <div class="my-8 text-sm">
     <%= form.label :name, style: "display: block" %>
     <%= form.text_field :name, class: "input-text mt-2" %>
  </div>
  <div>
     <%= form.label :content, "About", style: "display: block" %>
     <%= form.rich_text_area :content, 
     class: "input-text mt-2 font-sm", 
     style: "min-height: 300px; max-height: 500px; overflow-y: auto;", 
     oninput: "this.style.height = 'auto'; this.style.height = Math.min(this.scrollHeight, 500) + 'px';" %>  </div>
  <div class="my-8 text-sm" >
     <div class="flex justify-between">
        <%= form.label :logo, style: "display: block" %>
        <label data-file-upload-target="logoLabel" class="text-sm text-[#ADADAD]">No file chosen</label>
     </div>
     <div class="relative mt-2">
        <%= form.file_field :logo, class: "input-file opacity-0 absolute inset-0 z-50 h-full cursor-pointer", data: { file_upload_target: "logoInput" }  %>
        <%= render "shared/components/choose_file" %>
     </div>
     <div class="relative mt-4 hidden" data-file-upload-target="logoPreviewContainer" >
        <img data-file-upload-target="logoPreview" class=" w-24 h-24 object-cover border border-gray-200 rounded-md" alt="Logo Preview" />
        <button type="button" data-file-upload-target="logoCloseButton" 
           data-action="click->file-upload#resetInput"
           data-file-type="logo" class="absolute top-0">
        <span class="icon icon-close icon-small"></span>
        </button>
     </div>
  </div>
  <div class="my-8 text-sm" >
     <div class="flex justify-between">
        <%= form.label :banner, style: "display: block"%>
        <label data-file-upload-target="bannerLabel" class="text-sm text-[#ADADAD]">No file chosen</label>
     </div>
     <div class="relative mt-2">
        <%= form.file_field :banner, class: "input-file opacity-0 absolute inset-0 z-50 h-full cursor-pointer", data: { file_upload_target: "bannerInput" } %>
        <%= render "shared/components/choose_file" %>
     </div>
     <div class="relative mt-4 hidden" data-file-upload-target="bannerPreviewContainer">
        <img data-file-upload-target="bannerPreview" class=" w-full h-32 object-cover border border-gray-200 rounded-md" alt="Banner Preview" />
        <button type="button" data-file-upload-target="bannerCloseButton" 
           data-action="click->file-upload#resetInput"
           data-file-type="banner" class=" absolute top-0">
        <span class="icon icon-close icon-small"></span>
        </button>
     </div>
  </div>
  <div class="my-8 text-sm  flex gap-4 items-center" >
     <div class="my-8 mx-4">
      <%= link_to "Back", learning_partners_path, class: "nav-link" %>
    </div>
     <div>
        <% text = learning_partner.persisted? ? "Update" : "Create" %>
        <%= form.submit text, class: "btn-default text-white", data: {file_upload_target: "uploadButton"} %>
     </div>
  </div>
  <% end %>
</div>