<%= mobile_view do %>
  <%= render 'shared/components/admin_not_available' %>
<% end %>
<%= render "shared/components/desktop_layout" do %>
  <div class="flex justify-end text-right">
    <%= link_to new_learning_partner_path do %>
      <%= render "shared/components/icon_button_primary", icon_name: "icon-plus-white", label: "Add Partner" %>
    <% end %>
  </div>
  <h1 class="text-xl font-semibold my-6">Partners List</h1>
  <ul class="w-full">
    <% @learning_partners.each do |learning_partner| %>
      <li class="my-6">
        <%= link_to learning_partner, class: "link" do %>
          <div class="flex items-center gap-4 py-2 px-6 text-base box-shadow-medium rounded-lg">
            <%= image_tag partner_logo(learning_partner, :small), alt: "Logo", class: "h-[80px] w-[80px] object-contain" %>
            <span class="text-sm font-medium"><%= learning_partner.name %></span>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div class="mx-4 my-6 text-center">
    <%= link_to_prev_page @learning_partners, 'Prev', class: "nav_link" %>
    <%= link_to_next_page @learning_partners, 'Next', class: "nav_link" %>
  </div>
<% end %>
