  <div class="flex justify-between items-center">
    <h1 class="heading page-heading-medium mb-4">Partners List</h1>
    <%= link_to new_learning_partner_path do %>
      <%= button(label: 'Add Partner',icon_name: "plus") %>
    <% end %>
  </div>
  <ul class="w-full">
    <% @learning_partners.each do |learning_partner| %>
      <li class="my-6">
        <%= link_to learning_partner, class: "link" do %>
          <div class="flex items-center gap-4 py-2 px-6 text-base box-shadow-medium rounded-lg">
            <% if learning_partner.logo.attached? %>
              <%= image_tag partner_logo(learning_partner, :small), alt: 'Logo', class: 'h-[80px] w-[80px] object-contain' %>
            <% else %>
              <%= image_tag 'logo_placeholder.png', class: 'h-[80px] w-[80px] object-contain' %>
            <% end %>
            <span class="text-sm font-medium"><%= learning_partner.name %></span>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
  <div class="mx-4 my-6 text-center">
    <%= paginator_component(collection: @learning_partners, path: learning_partners_path) %>
  </div>
