<%= render "shared/components/desktop_layout" do %>
<div class="box text-right flex justify-end">
   <%= link_to new_learning_partner_path, class: "bg-primary flex items-center gap-2 rounded px-4 py-2" do %>
   <span class="icon icon-plus-white icon-small"></span>
   <span class="text-sm font-medium text-white">Add Partner</span>
   <% end %> 
</div>
<div class="box">
   <h1 class="text-xl font-semibold">Partners List</h1>
   <ul id="users" class=" w-full">
      <%  @learning_partners.each do |learning_partner| %>
      <li class="text-base box-shadow-medium p-6 flex my-6 justify-between items-center">
         <div class="p-2 flex items-center gap-8">
            <%= image_tag "vivanta.png",  alt: "useImage", class: "" %>
            <%= link_to learning_partner.name, learning_partner, class: "link" %>
         </div>
         <a href="">  
           <span class="icon icon-simple-arrow-right icon-small"></span>
         </a>
      </li>
      <% end %>
   </ul>
   <div class="my-8 mx-4 text-center">
      <%= link_to_prev_page @learning_partners, 'Prev', class: "underline pointer" %>
      <%= link_to_next_page @learning_partners, 'Next', class: "underline pointer" %>
   </div>
</div>
<% end %>