<% modal_footer = capture do %>
  <div class="flex gap-2 sticky bottom-0 bg-white w-full">

    <%= button_tag "Cancel",
        type: "button",
        class: "hidden flex-1",
        data: {
          multistep_form_target: "cancelButton",
          action: "click->modals#closeModal"
        } do %>
      <%= button_component(text: "Cancel", type:"outline") %>
    <% end %>       

    <%= button_tag "Previous",
        type: "button",
        class: "hidden flex-1",
        data: {
          multistep_form_target: "prevButton",
          action: "click->multistep-form#previous"
        } do%>
      <%= button_component(text: "Previous", type:"outline") %>    
    <% end %>       

    <%= button_tag "Next",
        type: "button",
        class: "flex-1",
        data: {
          multistep_form_target: "nextButton",
          action: "click->multistep-form#next"
        } do %>
      <%= button_component(text: "Next") %>    
    <% end %> 

    <%= button_tag form: "partner-form", class: "flex-1 hidden", data: { multistep_form_target: "submitButton" } do %>
      <%= button_component(text: "Create") %>
    <% end %>    
  </div>
<% end %>

<%= modal_box_component(
      title: "Add partner",
      html_options: { data: { controller: "multistep-form", "multistep-form-current-step-value": (local_assigns[:error_step] || 1) } }, modal_footer:
    ) do %>
    <div class="flex justify-center sticky top-2 z-40 bg-white mb-7">
      <div class="flex items-center">
        <span data-multistep-form-target="indicator" class="bg-primary-light-100 rounded-full h-5 w-5"></span>
        <div class="flex grow"><div class="w-[88px] h-1 bg-primary-light-100"></div></div>
        <span data-multistep-form-target="indicator" class="bg-primary-light-100 rounded-full h-5 w-5"></span>
        <div class="flex grow"><div class="w-[88px] h-1 bg-primary-light-100"></div></div>
        <span data-multistep-form-target="indicator" class="bg-primary-light-100 rounded-full h-5 w-5"></span>
      </div>
    </div>    
  <%= render "form", learning_partner: @learning_partner %>
<% end %>
