<div class="box flex justify-between">
  <%= link_to learning_partners_path, class: "btn-primary btn-icon" do %>
    <%= render "shared/svg/back" %>
    <span>Back</span>
  <% end %>

  <!-- Modal toggle -->
  <% if policy(:user).invite_member? %>
    <button data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="btn-default" type="button">Invite</button>
  <% end %>

</div>

<div class="box text-right">
  <% if policy(@learning_partner).edit? %>
    <%= link_to "Edit", edit_learning_partner_path(@learning_partner), class: "btn-primary" %>
  <% end  %>
  <% if policy(@learning_partner).destroy? %>
    <%= link_to "Delete", @learning_partner, data: { turbo_method: :delete, turbo_confirm: "Are you sure want to delete?"}, class: "btn-primary" %>
  <% end  %>
</div>

<div class="box">
  <% if @learning_partner.logo.present? %>
    <div class="my-4"><%= image_tag @learning_partner.logo.variant(resize_to_limit: [150, nil]) %></div>
  <% end %>
  <div class="my-4 font-bold"><%= @learning_partner.name %></div>
  <% if @learning_partner.banner.present? %>
    <div class="my-4"><%= image_tag @learning_partner.banner.variant(resize_to_limit: [320, nil]) %></div>
  <% end %>
  <div class="my-4"><strong>About</strong> <%= @learning_partner.content %></div>
</div>

<%= render "users/user_list", users: @learning_partner.users %>

<%= render "users/invite_modal", user: User.new, learning_partner: @learning_partner %>