<p style="color: green"><%= notice %></p>

<p><strong>Name</strong><%= @learning_partner.name %></p>
<p><strong>About</strong><%= @learning_partner.about %></p>

<div>
  <%= link_to "Create user", new_user_path(partner_id: @learning_partner) %> |
  <%= link_to "Edit this learning partner", edit_learning_partner_path(@learning_partner) %> |
  <%= link_to "Back to learning partners", learning_partners_path %>

  <%= button_to "Destroy this learning partner", @learning_partner, method: :delete %>
</div>
