<%= mobile_view do %>
  <%= render 'shared/components/admin_not_available' %>
<% end %>

<%= render "shared/components/desktop_layout" do %>
  <div class="flex justify-between pt-4 items-center">
    <%= render 'shared/components/back_button', back_link: learning_partners_path %>

    <div class="flex items-center gap-4">
      <% if policy(@learning_partner).destroy? %>
        <%= link_to @learning_partner, data: { turbo_method: :delete, turbo_confirm: "Are you sure want to delete?" }, class: "btn-default" do %>
          <span>Delete</span>
        <% end %>
      <% end %>
      <% if policy(@learning_partner).edit? %>
        <%= link_to edit_learning_partner_path(@learning_partner) do %>
          <%= render 'shared/components/button_default_small', label: 'Edit', icon_name: 'icon-edit' %>
        <% end %>
      <% end %>
      <% if policy(:invite).new? && policy(@learning_partner).invite? %>
        <%= link_to new_invite_path(team_id: @learning_partner.parent_team.id), data: { turbo_frame: "add-user-modal" } do %>
          <%= render 'shared/components/icon_button_primary', label: 'Invite user', icon_name: 'icon-plus' %>
        <% end %>
      <% else %>
        <%= link_to 'javascript:void(0);', class: 'disabled' do %>
          <%= render 'shared/components/icon_button_primary', label: 'Invite user', icon_name: 'icon-plus' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="w-full">
    <h1 class="mb-4 text-xl font-semibold"><%= @learning_partner.name %></h1>
    <h3 class="text-sm font-medium">Hotel Logo</h3>
    <div class="my-4 p-6 box-shadow-medium flex justify-center"><%= image_tag partner_logo(@learning_partner, :large), class: 'h-[80px] w-[80px] object-contain' %></div>
    <h3 class="text-sm font-medium">Hotel Banner</h3>
    <div class="my-4 p-6 box-shadow-medium flex justify-center"><%= image_tag partner_banner(@learning_partner), class: 'max-h-[120px] max-w-full rounded-l object-center' %></div>
    <div class="my-4">
      <h3 class="text-sm font-medium">About</h3>
      <div class="my-4 p-6 box-shadow-medium">
        <%= @learning_partner.content %>
      </div>
    </div>
  </div>
  <%= render 'teams/member_list', team: @learning_partner.parent_team %>
<% end %>
<%= turbo_frame_tag 'add-user-modal' %>
