<div class="flex justify-between items-center pt-5 pb-3 sticky top-0 left-0 w-full z-40 bg-white">
  <%= render 'shared/components/back_button', back_link: learning_partners_path %>
  <div class="flex items-center gap-4">
    <% if policy(@learning_partner).destroy? %>
      <%= link_to @learning_partner, data: { turbo_method: :delete, turbo_confirm: "Are you sure want to delete?" }, class: "btn-default" do %>
        <span>Delete</span>
      <% end %>
    <% end %>
  </div>
</div>
<div class="flex flex-col gap-6 pt-3">
  <div class="w-full">
    <%= render "learning_partners/header_banner", learning_partner: @learning_partner%>
    <div class="flex flex-col gap-4 mt-3">
      <% if @learning_partner.payment_plan.present? %>
        <div class="grid grid-cols-2 gap-4">
          <div class="flex flex-col md:flex-row gap-2 md:gap-6 ">
            <div class="bg-primary-light text-white text-center rounded-lg md:rounded-xl flex flex-col items-center justify-center gap-1 flex-1 h-16 md:h-20 relative">
              <%= icon("i-vector", css: 'absolute w-14 top-0  -right-2.5') %>
              <p class="main-text-md-normal">Seats Occupied</p>
              <p class="heading-2xl"><%= activate_users_count(@learning_partner) %> / <%= @learning_partner.payment_plan.total_seats %></p>
            </div>
            <div class="bg-primary-light text-white text-center rounded-lg md:rounded-xl flex flex-col items-center justify-center gap-1 flex-1 h-16 md:h-20 relative">
              <%= icon("i-vector", css: 'absolute w-14 top-0  -right-2.5') %>
              <p class="main-text-md-normal">Verified users</p>
              <p class="heading-2xl"><%= @metrics.user_joined_count %></p>
            </div>
            <div class="bg-primary-light text-white text-center rounded-lg md:rounded-xl flex flex-col items-center justify-center gap-1 flex-1 h-16 md:h-20 relative">
              <%= icon("i-vector", css: 'absolute w-14 top-0  -right-2.5') %>
              <p class="main-text-md-normal">Course Enrolled</p>
              <p class="heading-2xl"><%= @metrics.user_enrolled_count %></p>
            </div>
          </div>
          <div class="flex w-full">
            <%= render "learning_partners/payment_plan_details", learning_partner: @learning_partner, payment_plan: @learning_partner.payment_plan, users_count: @learning_partner.users_count  %>
          </div>
        </div> 
      <% else %>
        <div class="px-5 py-4 bg-primary-light-100 rounded-lg md:rounded-xl flex flex-col md:flex-row gap-2 items-center justify-center w-full md:h-20 main-text-sm-normal">
          <span>No payment plan is selected</span>
          <%= link_to new_learning_partner_payment_plan_path(@learning_partner) do %>
            <%= button_component(text: "Choose payment plan", type:"outline", size:"sm") %>
          <% end %>
        </div>
      <% end %>
      <div class="grid grid-cols-2 grid-rows-6 md:grid-cols-5 md:grid-rows-1 gap-4">
        <div class="border border-line-colour-light px-1 py-4 flex flex-col items-center justify-center rounded-lg md:rounded-xl col-start-1 row-span-3 md:row-span-1 md:col-span-1">
          <p class="main-text-sm-medium">Course Started</p>
          <p class="main-text-md-semibold"><%= @metrics.course_started_count %></p>
        </div>
        <div class="border border-line-colour-light px-1 py-4 flex flex-col items-center justify-center text-center rounded-lg md:rounded-xl col-start-1 md:col-start-2 row-span-3 md:row-span-1 md:col-span-1">
          <p class="main-text-sm-medium">Course Completed</p>
          <p class="main-text-md-semibold"><%= @metrics.course_completed_count %></p>
        </div>
        <div class="border border-line-colour-light px-1 py-4 flex flex-col items-center justify-center text-center rounded-lg md:rounded-xl col-start-2 md:col-start-3 row-start-1 row-span-2 md:row-span-1 md:col-span-1">
          <p class="main-text-sm-medium">Course Views</p>
          <p class="main-text-md-semibold"><%= @metrics.course_views_count %></p>
        </div>
        <div class="border border-line-colour-light px-1 py-4 flex flex-col items-center justify-center text-center rounded-lg md:rounded-xl col-start-2 md:col-start-4 row-start-3 row-span-2 md:row-span-1 md:col-span-1">
          <p class="main-text-sm-medium">Lesson Views</p>
          <p class="main-text-md-semibold"><%= @metrics.lesson_views_count %></p>
        </div>
        <div class="border border-line-colour-light px-1 py-4 flex flex-col items-center justify-center text-center rounded-lg md:rounded-xl col-start-2 md:col-start-5 row-start-5 row-span-2 md:row-span-1 md:col-span-1">
          <p class="main-text-sm-medium">Time spent</p>
          <p class="main-text-md-semibold"><%= duration_in_words(@metrics.time_spent_total) %></p>
        </div>
      </div>
    </div>
    <% if @learning_partner.about? %>
      <div class="mt-6 ">
        <%= render "commons/about", text: @learning_partner.about, title:"About" %>
      </div>
    <% end %>
  </div>
  <%= member_list_component(team: @learning_partner.parent_team, members: @members) %>
</div>

