<div class="w-full">
  <div class="my-8 w-80 mx-auto text-left">
    <% url = course_module.persisted? ? course_module_path(course, course_module) : course_modules_path(course, course_module) %>
    <%= form_with(model: [course, course_module], url: url) do |form| %>
    <% if course_module.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(course_module.errors.count, "error") %> prohibited this course_module from being saved:</h2>

        <ul>
          <% course_module.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title %>
    </div>

    <div>
      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description %>
    </div>

    <div>
      <% text = course_module.persisted? ? "Update" : "Create" %>
      <%= form.submit text, class: "border rounded p-2 min-w-4 min-h-2 auto w-32" %>
    </div>
  <% end %>
  </div>
</div>