<div class="box">
  <div class="my-8 text-left">
    <% url = course_module.persisted? ? course_module_path(course, course_module) : course_modules_path(course, course_module) %>
    <%= form_with(model: [course, course_module], url: url) do |form| %>
    <% if course_module.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(course_module.errors.count, "error") %> prohibited this course_module from being saved:</h2>

        <ul>
          <% course_module.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="my-8 text-sm">
      <%= form.label :title, class: "text-sm font-medium" %>
      <%= form.text_field :title, class: "input-text mt-2" %>
    </div>

    <div class="my-8 text-sm">
      <%= form.label :rich_description, 'Description', class: "text-sm font-medium" %>
      <%= form.rich_text_area :rich_description, class: "mt-2" %>
    </div>

    <div class="my-8 text-sm">
      <% text = course_module.persisted? ? "Update" : "Create" %>
      <%= form.submit text, class: "btn-default" %>
    </div>
  <% end %>
  </div>
</div>