<div class="flex justify-between p-4 bg-white items-center">
  <div class="flex items-center gap-4">
    <%= link_to back_link, class: "btn-primary btn-icon" do %>
      <%= render "shared/svg/back" %>
      <span>Back</span>
    <% end %>
    <span class="text-gray-900 text-sm font-medium"><%= @course.title %></span>
    <% if @course_module.persisted? %>
      <span class="text-gray-500 text-sm font-medium"><%= render "shared/svg/right" %></span>
      <span class="text-gray-900 text-sm font-medium"><%= @course_module.title %></span>
    <% end %>
  </div>
  <div>
  </div>
</div>
<hr>