<div class="w-full">
  <%= render "course_modules/congrats_card", course_module: @course_module, enrollment: @enrollment %>
  <%= render "course_modules/course_completion_quiz", course_module: @course_module, enrollment: @enrollment %>
  <div class="flex flex-row justify-between gap-4 p-4 sm:p-6">
    <%= link_to redo_quiz_course_module_path(@course, @course_module), data: { turbo_method: :delete } do %>
      <%= button(
      size: "lg",
      label: "Retry",
      icon_name: "arrow-uturn-right",
      type: "secondary",
      icon_position: "right"
    ) %>
    <% end %>

    <%= link_to course_path(@course) do %>
      <%= button(label: "Continue", icon_name: "chevron-double-right", icon_position: "right") %>
    <% end %>
  </div>
</div>