<%= render "shared/header", header_options(title: "My Courses", header_extended: true) %>
<%= render "page_header", back_link: course_path(@course) %>

<div class="my-8 mx-4 text-right">
  <% if policy(@course_module).edit? %>
    <%= link_to "Edit", edit_course_module_path(@course, @course_module), class: "btn-primary" %>
  <% end %>
  <% if policy(@course_module).destroy? %>
    <%= link_to "Delete", course_module_path(@course, @course_module), data: { turbo_method: :delete, turbo_confirm: "Are you sure want to delete?" }, class: "btn-primary" %>
  <% end %>
</div>

<%= render @course_module %>

<div class="box flex justify-between">
  <h1 class="page-subtitle">Lessons</h1>
  <div class="text-right">
    <%= link_to "New lesson", new_course_module_lesson_path(@course, @course_module), class: "btn-primary" %>
  </div>
</div>
<div class="box">
  <ul id="lessons">
    <% @course_module.lessons.each do |lesson| %>
      <li class="text-sm border-b m-2" id="<%= dom_id lesson %>">
        <%= link_to course_module_lesson_path(@course, @course_module, lesson) do %>
          <div class="my-4">
            <strong><%= lesson.title %></strong>
          </div>
          <div class="my-4">
            <%= lesson.description %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>

<div class="box flex justify-between">
  <h1 class="page-subtitle">Quizzes</h1>
  <div class="text-right">
    <%= link_to "New quiz", new_course_module_quiz_path(@course, @course_module), class: "btn-primary" %>
  </div>
</div>

<div class="box">
  <ul id="quizzes">
    <% @course_module.quizzes.each do |quiz| %>
      <li class="text-sm border-b m-2" id="<%= dom_id quiz %>">
        <%= link_to course_module_quiz_path(@course, @course_module, quiz) do %>
          <div class="my-4">
            <strong><%= quiz.question %></strong>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>