<%= mobile_view do %>
  <%= render 'shared/components/admin_not_available'%>
<% end %>
<%= render "shared/components/desktop_layout" do %>
  <%= link_to course_path(@course), class: "nav-link" do %>
    <%= render 'shared/components/back_button' %>
  <% end %>
  <%= render @course_module %>
  <div class="flex justify-between mt-10">
    <h1 class="page-sub-heading">Lessons</h1>
    <div class="text-right">
      <% if policy(@course_module).new? %>
        <%= link_to new_course_module_lesson_path(@course, @course_module), class: "nav-link" do %>
          <%= render 'shared/components/icon_button_primary' , label: 'New lesson' , icon_name: 'icon-plus-white' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="box pt-2">
    <ul id="lessons">
      <% lessons_in_order(@course_module).each do |lesson| %>
        <li class="text-sm border border-line-colour-light rounded p-6 mb-4" id="<%= dom_id lesson %>">
          <%= link_to course_module_lesson_path(@course, @course_module, lesson) do %>
            <div class="flex justify-between items-center">
              <strong class="text-base font-medium">
                <%= lesson.title %>
              </strong>
              <div class="flex gap-6 items-center">
                <% if policy(@course_module).edit? %>
                  <%= link_to edit_course_module_lesson_path(@course, @course_module, lesson) do %>
                    <%= render "shared/components/button_default_small" , label: "Edit" , icon_name: "icon-edit" %>
                  <% end %>
                <% end %>
                <div class="flex flex-col items-center">
                  <% if policy(:lesson).moveup? %>
                    <%= link_to moveup_course_module_lesson_path(@course, @course_module, lesson), data: { 
                          turbo_method: :put }, class: "link" do%>
                      <span class="icon icon-arrow-up icon-small block"></span>
                    <% end %>
                  <% end %>
                  <% if policy(:lesson).movedown? %>
                    <%= link_to movedown_course_module_lesson_path(@course, @course_module,
                          lesson), data: { turbo_method: :put }, class: "link" do%>
                      <span class="icon icon-arrow-down icon-small block"></span>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="flex justify-between mt-10">
    <h1 class="page-sub-heading">Quizzes</h1>
    <div class="text-right">
      <% if policy(:quiz).new? %>
        <%= link_to new_course_module_quiz_path(@course, @course_module), class: "nav-link" do %>
          <%= render 'shared/components/icon_button_primary' , label: 'New quiz' , icon_name: 'icon-plus-white' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if current_user.is_admin? %>
    <div class="box pt-2">
      <ul id="quizzes">
        <% quizzes_in_order(@course_module).each do |quiz| %>
          <li class="text-sm flex justify-between border border-line-colour-light rounded p-6 mb-4"
              id="<%= dom_id quiz %>">
            <%= link_to course_module_quiz_path(@course, @course_module, quiz) do %>
              <div class="flex justify-between items-center">
                <strong class="text-base font-medium">
                  <%= quiz.question %>
                </strong>
              </div>
            <% end %>
            <div class="flex gap-6 items-center">
              <% if policy(@course_module).edit? %>
                <%= link_to edit_course_module_quiz_path(@course, @course_module, quiz) do %>
                  <%= render "shared/components/button_default_small" , label: "Edit" , icon_name: "icon-edit" %>
                <% end %>
              <% end %>
              <div class="flex flex-col items-center">
                <% if policy(:lesson).moveup? %>
                  <%= link_to moveup_course_module_quiz_path(@course, @course_module, quiz), data: { 
                        turbo_method: :put }, class: "link" do%>
                    <span class="icon icon-arrow-up icon-small block"></span>
                  <% end %>
                <% end %>
                <% if policy(:lesson).movedown? %>
                  <%= link_to movedown_course_module_quiz_path(@course, @course_module, quiz), data: {
                        turbo_method: :put }, class: "link" do%>
                    <span class="icon icon-arrow-down icon-small block"></span>
                  <% end %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  <% else %>
    <% if @enrollment.present? %>
      <div class="box">
        <ul>
          <% @enrollment.quiz_answers.each do |answer| %>
            <li class="text-sm border-b m-2">
              <div class="my-4">
                <div>
                  <%= answer.quiz.question %>
                </div>
                <small>
                  <%= answer_text(answer) %>
                </small>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
<% end %>