<div class="textarea-component-container group">
  <% if textarea.label.present? %>
    <% if textarea.form.present? %>
      <%= textarea.form.label textarea.name, textarea.label, class: textarea.label_style %>
    <% else %>
      <%= label_tag textarea.name, textarea.label, class: textarea.label_style %>
    <% end %>
  <% end %>

  <div class="textarea-component-wrapper">
    <% if textarea.form.present? %>
      <%= textarea.form.text_area textarea.name,
            **textarea.html_options,
            placeholder: textarea.placeholder,
            rows: textarea.rows,
            class: "#{textarea.textarea_style} group" %>
    <% else %>
      <%= text_area_tag textarea.name,
            textarea.value,
            **textarea.html_options,
            placeholder: textarea.placeholder,
            rows: textarea.rows,
            class: "#{textarea.textarea_style} group" %>
    <% end %>
  </div>

  <% if textarea.support_text.present? %>
    <div class="<%= textarea.support_text_style %>">
      <%= textarea.support_text %>
    </div>
  <% end %>
</div>
