<div class="textarea-component-container group">
  <% if textarea.form.present? %>
    <%= textarea.form.label textarea.field_name, textarea.label, class: "#{textarea.label_style} group-focus-within:text-primary" %>
  <% else %>
    <%= label_tag textarea.field_name, textarea.label, class: "#{textarea.label_style} group-focus-within:text-primary" %>
  <% end %>

  <div class="textarea-component-wrapper">
    <% if textarea.form.present? %>
      <%= textarea.form.text_area textarea.field_name,
            **textarea.html_options,
            placeholder: textarea.placeholder,
            rows: textarea.rows,
            class: "#{textarea.textarea_style} group-focus-within:border-primary" %>
    <% else %>
      <%= text_area_tag textarea.field_name,
            textarea.value,
            **textarea.html_options,
            placeholder: textarea.placeholder,
            rows: textarea.rows,
            class: "#{textarea.textarea_style} group-focus-within:border-primary" %>
    <% end %>
  </div>

  <% if textarea.support_text.present? %>
    <div class="<%= textarea.support_text_style %>">
      <%= textarea.support_text %>
    </div>
  <% end %>
</div>
