<% if current_user.is_owner? %>
  <div class="flex gap-4 justify-between">
    <%= render 'shared/components/bread_crumbs', links: [[t("settings.label"), settings_path], [t("invoice.label"), nil]] %>
  </div>
<% else %>
  <%= render "shared/components/back_button", back_link: learning_partner_path(@learning_partner) %>
<% end %>
<div class="mt-5">
  <div class="flex flex-col py-4 md:px-6 md:shadow-[0px_0px_4px_0px_#33333329] rounded">
    <div class="hidden md:grid grid-cols-12 gap-4 text-left text-sm font-medium px-6 py-4 border-b border-line-colour-light w-full">
      <div class="col-span-2 flex justify-start"><%= t("invoice.invoice_id") %></div>
      <div class="col-span-2 flex justify-start"><%= t("invoice.amount") %></div>
      <div class="col-span-2 flex justify-start"><%= t("invoice.billing_date") %></div>
      <div class="col-span-2 flex justify-start"><%= t("invoice.due_date") %></div>
      <div class="col-span-2 flex justify-start"><%= t("invoice.status") %></div>
      <% if current_user.is_owner? %>
        <div class="col-span-2 flex justify-start"><%= t("invoice.action") %></div>
      <% end %>
    </div>
    <div class="bg-white md:divide-y md:divide-slate-grey-light flex flex-col gap-4 md:gap-0  max-h-[350px] p-1">
      <% @invoices.each do |invoice| %>
        <%= render "invoices/invoice", invoice: %>
      <% end %>
    </div>
  </div>
</div>
