<%= mobile_view do %>
  <%= render "devise/shared/top_mobile" %>
  <div class="px-4 py-6">
    <%= form_with url: otp_login_path, method: :post, scope: :login, data: { turbo: false } do |form| %>
      <div class="mb-6">
        <h1 class="heading page-heading">Login</h1>
      </div>
      <div class="flex flex-col gap-6">
        <div class="input-group">
          <label for="" class="label-text">Welcome! Please enter your mobile number</label>
        </div>
        <div class="input-group">
          <div class="flex flex-row gap-2">
            <%= input_dropdown(form: form, field_name: :country_code, options: available_country_codes_list, width: "w-20") %>
            <div class="flex-grow">
              <%= input_mobile(form: form, field_name: :mobile_number, placeholder: "Enter your mobile number") %>
            </div>
          </div>
        </div>
        <div class="mt-4">
          <%= form.button class: "w-full btn-primary"  do %>
            <span>Get OTP</span>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="mt-6">
      <%= link_text_component "Login with email and password", new_user_session_path %><br/>
    </div>
  </div>
<% end %>
