<div class="field-group">
  <div data-controller="video-upload"  class="my-6 flex flex-col md:flex-row gap-4 md:items-center border border-line-colour-light rounded-xl py-5 px-7">
    <div class="flex flex-col flex-1">
      <div class="flex flex-row items-center gap-4 justify-between hidden">
        <div class="flex justify-between">
          <%= builder.hidden_field :blob_id,
                data: {
                  video_upload_target: "hiddenBlobId",
                  blob_url: (builder.object.video.attached? ? url_for(builder.object.video) : nil)
                } 
          %>
          <input name="lesson[duration]" type="hidden" data-video-upload-target="durationField"/>
        </div>
        <div class="relative mt-2">
          <%= builder.file_field :video, accept: 'video/*', class: "input-file opacity-0 absolute inset-0 z-50 w-full h-full cursor-pointer", data: { video_upload_target: "fileInput" } %>
        </div>
      </div>
      <div class="flex flex-col gap-4" data-video-upload-target="videoUploader">
        <h3 class="flex justify-center hidden text-danger" data-video-upload-target="failedUploadMessage">Upload failed</h3>  
        <div class="border border-line-colour-light rounded">
          <video data-video-upload-target="videoPlayer" id="video" class="w-full" controls></video>
        </div>
      </div>
    </div>
    <div  class="flex flex-col gap-5 flex-1" >     
      <div class="flex flex-col gap-1">
        <label class="main-text-sm-medium">File name: <span data-video-upload-target="fileLabel">No file chosen</span></label>
        <div class="flex gap-4">
          <label class="main-text-sm-medium">File size: <span data-video-upload-target="fileSize"></span></label>
        </div>
      </div> 
      <%= dropdown_component(
            form: builder,
            name: :lang,
            options: language_options,
            html_options: {
              data: {
                lessons_form_target: "languageSelect",
                action: "change->lessons-form#languageChanged"
              }
            }
      ) %>
      <p class="text-danger text-sm hidden"
        data-lessons-form-target="languageError">
        This language is already used for another content.
      </p>


      <%= builder.hidden_field :_destroy %>

      <%= button_tag type: "button",
                    data: { action: "click->lessons-form#removeRecord" },
                    class: "w-full" do %>
      <%= button_component(
            text: "Remove",
            type:"outline",
            icon_name: "trash",
            icon_position: "left",
            colorscheme:"danger"
          ) %>

      <% end %>

    </div>
  </div>
</div>
