<% if builder.object.video.attached? %>
  <div class="field-group mb-5">
    <div class="my-8 text-sm flex items-center">
      <div class="grow text-slate-grey" style="pointer-events: none;">
        <%= builder.select :lang, options_for_select(language_options, selected: builder.object.lang) %>
      </div>
      <%= builder.hidden_field :_destroy, label: "Delete" %>
      <a href="javascript:void(0);" class="link flex items-center gap-2 rounded" data-action="click->lessons-form#removeRecord">
        <%= button(label: 'Remove', type: "secondary",size:"lg", icon_name: "trash",icon_position: "right") %>
      </a>
    </div>
    <div class="flex items-center justify-center">
      <div class="w-4/6 flex flex-col gap-4">
        <div class="embed-container border-line-colour-light rounded border p-2 xl:h-[226px]">
          <% if Rails.env.production? && vimeo_upload_timed_out?(builder.object) %>
            <div class="absolute inset-0 flex justify-center items-center">
              <span class="text-center"><%= t("local_content.video_not_available") %></span>
            </div>
          <% else %>
            <%= render "video_player", video_iframe: get_video_iframe(builder.object), local_content: builder.object %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
