<div id="team-member-list" class="h-full flex flex-col md:border border-line-colour rounded-xl">
  <div id="teams-list" class="flex-shrink-0 md:py-4 md:px-6 md:border-b border-line-colour-light">
    <div class="hidden md:grid grid-cols-12 gap-3 text-left main-text-md-semibold w-full">
      <div class="col-span-6 flex justify-start">Name</div>
      <div class="col-span-2 flex justify-start">Phone Number</div>
      <div class="col-span-2 flex justify-start">Role</div>
      <div class="col-span-2 flex justify-center">Actions</div>
    </div>
  </div>

  <% if members.empty? %>
    <div class="text-center text-sm mt-6">
      No users available.
    </div>
  <% else %>
    <div class="flex-1 overflow-y-auto md:divide-y md:divide-line-colour rounded-lg border border-line-colour md:border-0">
      <% members.each do |member| %>
        <div class="grid grid-cols-1 md:grid-cols-12 gap-3 items-center md:py-4 md:px-5 border-b border-line-colour md:border-0">
          <div class="col-span-6 flex flex-wrap items-center justify-between gap-2 border-b md:px-0 md:py-0 px-4 py-3 border-line-colour md:border-none bg-primary-light-50 md:bg-white ">
            <% link = policy(member).show? ? member_path(member) : "javascript:void(0);" %>

            <%= link_to link, class: "cursor-pointer" do %>
              <div class="flex items-center justify-center gap-2">
                <%= profile_icon_component(letter: member.name.first, size: 'sm' ) %>
                <span class="ml-2 text-ellipsis main-text-lg-normal"><%= member.name %></span>
              </div>
            <% end %>
            <% if member.active? %>
              <div class="mt-1 flex flex-1 justify-end pe-6 md:mt-0">
                <%= chip_component(text: 'Active', colorscheme: 'primary', icon_name: 'check') %>
              </div>
            <% end %>
          </div>
          <% if member.phone.present? %>
            <div class="col-span-6 md:col-span-2 pl-4 main-text-lg-normal md:pl-0"><%= member.country_code %><%= member.phone %></div>
          <% else %>
            <div class="col-span-6 md:col-span-2 pl-4 main-text-lg-normal md:pl-0">-</div>
          <% end %>
          <div class="col-span-6 md:col-span-2 px-4 main-text-lg-normal md:px-0">
            <%= role_text(member.role) %>
          </div>
          <div class="col-span-6 md:col-span-2 flex flex-col gap-2 main-text-lg-normal items-center md:items-end main-text-lg-normal pb-3 md:pb-0 ">
            <% if member.active_learner? && policy(:course_assigns).new? %>
              <%= link_to new_course_assign_path(user_id: member, source_path: team_path(team)) do %>
                <%= render 'shared/components/label_medium_notice', label: 'Assign course', icon_name: 'icon-assign-user' %>
              <% end %>
            <% end %>

            <% if InvitePolicy.new(current_user, member).resend? %>
              <%= link_to resend_invite_path(member, team_id: team.id), data: { turbo_method: "put" }, class:"w-full px-4 md:px-0" do %>
                <%= button_component text: 'Re-Invite', type: 'outline', icon_name: 're-invite' %>
              <% end %>
            <% end %>
          </div>

        </div>
      <% end %>
      <% if members.prev_page || members.next_page %>
        <div class="py-4 flex justify-center">
          <%= paginator_component(collection: members, path: user_searches_path(team_id: team.id, all_members:, term:)) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
