<div>
  <%= form_with url: user_searches_path, method: :post do |form| %>
    <%= form.hidden_field :team_id, value: team.id %>
    <%= form.hidden_field :all_members, value: all_members %>
    <div class="flex flex-col md:flex-row gap-5 md:gap-3 w-full">
      <div class="flex gap-2 md:gap-3 w-full">
        <%= input_text_component form:, name: :term, placeholder: 'Search members'%>
        <%= button_tag do %>
          <%= button_component text: 'Search', type: 'outline' %>
        <% end %>
      </div>      
      <%= render "commons/invite_user", team: team %>
    </div>
  <% end %>
</div>