<div class="heading heading-medium pb-6">Typography (New)</div>
<table class="w-full border-collapse border border-line-colour-light rounded mb-6">
  <thead>
    <tr>
      <th class="border border-line-colour-light px-2 md:px-4 py-2 text-left text-sm md:text-base">Typography<br>(CSS Class)</th>
      <th class="border border-line-colour-light px-2 md:px-4 py-2 text-center text-sm md:text-base">Usage</th>
      <th class="border border-line-colour-light px-2 md:px-4 py-2 text-left text-sm md:text-base">Example</th>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-slate-grey-light font-bold">
      <td colspan="3" class="px-2 md:px-4 py-2 text-sm md:text-base">Heading</td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">heading_3XL<br>(heading-3xl)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          h1_component(text: 'New Design')
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2"><%= h1_component(text: 'New Design') %></td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">heading_2XL<br>(heading-2xl)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          h2_component(text: 'New Design')
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2"><%= h2_component(text: 'New Design') %></td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">heading_XL<br>(heading-xl)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          h3_component(text: 'New Design')
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2"><%= h3_component(text: 'New Design') %></td>
    </tr>

    <tr class="bg-slate-grey-light font-bold">
      <td colspan="3" class="px-2 md:px-4 py-2 text-sm md:text-base">Main Text (Poppins)</td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">body_large_B<br>(main-text-lg-bold)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          text_component(text: 'New Design',
                         html_options: { class: 'main-text-lg-bold' })
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2"><%= text_component(text: 'New Design', html_options: { class: 'main-text-lg-bold' }) %></td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">body_large_M<br>(main-text-lg-medium)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          text_component(text: 'New Design',
                         html_options: { class: 'main-text-lg-medium' })
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2"><%= text_component(text: 'New Design', html_options: { class: 'main-text-lg-medium' }) %></td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">body_large_N<br>(main-text-lg-normal)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          text_component(text: 'New Design',
                         html_options: { class: 'main-text-lg-normal' })
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2"><%= text_component(text: 'New Design', html_options: { class: 'main-text-lg-normal' }) %></td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">body_B<br>(main-text-base-bold)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          text_component(text: 'New Design',
                         html_options: { class: 'main-text-base-bold' })
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2"><%= text_component(text: 'New Design', html_options: { class: 'main-text-base-bold' }) %></td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">body_M<br>(main-text-base-medium)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          text_component(text: 'New Design',
                         html_options: { class: 'main-text-base-medium' })
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2"><%= text_component(text: 'New Design', html_options: { class: 'main-text-base-medium' }) %></td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">body_N<br>(main-text-base-normal)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          text_component(text: 'New Design',
                         html_options: { class: 'main-text-base-normal' })
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2"><%= text_component(text: 'New Design', html_options: { class: 'main-text-base-normal' }) %></td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">body_small_M<br>(main-text-sm-medium)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          text_component(text: 'New Design',
                         html_options: { class: 'main-text-sm-medium' })
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2"><%= text_component(text: 'New Design', html_options: { class: 'main-text-sm-medium' }) %></td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">body_small_N<br>(main-text-sm-normal)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          text_component(text: 'New Design',
                         html_options: { class: 'main-text-sm-normal' })
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2"><%= text_component(text: 'New Design', html_options: { class: 'main-text-sm-normal' }) %></td>
    </tr>

    <tr class="bg-slate-grey-light font-bold">
      <td colspan="3" class="px-2 md:px-4 py-2 text-sm md:text-base">General Text (Roboto)</td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">body_large_N<br>(general-text-lg-normal)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          text_component(text: 'New Design',
                         html_options: { class: 'general-text-lg-normal' })
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2">
        <%= text_component(text: 'New Design', html_options: { class: 'general-text-lg-normal' }) %>
      </td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">body_M<br>(general-text-base-medium)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          text_component(text: 'New Design',
                         html_options: { class: 'general-text-base-medium' })
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2">
        <%= text_component(text: 'New Design', html_options: { class: 'general-text-base-medium' }) %>
      </td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">body_N<br>(general-text-base-normal)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          text_component(text: 'New Design',
                         html_options: { class: 'general-text-base-normal' })
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2">
        <%= text_component(text: 'New Design', html_options: { class: 'general-text-base-normal' }) %>
      </td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">body_small_M<br>(general-text-sm-medium)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          text_component(text: 'New Design',
                         html_options: { class: 'general-text-sm-medium' })
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2">
        <%= text_component(text: 'New Design', html_options: { class: 'general-text-sm-medium' }) %>
      </td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">body_small_N<br>(general-text-sm-normal)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          text_component(text: 'New Design',
                         html_options: { class: 'general-text-sm-normal' })
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2">
        <%= text_component(text: 'New Design',html_options: { class: 'general-text-sm-normal' }) %>
      </td>
    </tr>
    <tr class="bg-slate-grey-light font-bold">
      <td colspan="3" class="px-2 md:px-4 py-2 text-sm md:text-base">Link (Roboto)</td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">body_N<br>(general-text-base-normal)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          link_component(text: 'New Link',
                         url: 'https://app.instruo.co',
                         target: '_blank')
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2">
        <%= link_component(text: 'New Link', url: 'https://app.instruo.co', target: '_blank') %>
      </td>
    </tr>
  </tbody>
</table>
