<div class="heading heading-medium pb-6">Typography (New)</div>
<table class="w-full border-collapse border border-line-colour-light rounded mb-6">
  <thead>
    <tr>
      <th class="border border-line-colour-light px-2 md:px-4 py-2 text-left text-sm md:text-base">Typography<br>(CSS Class)</th>
      <th class="border border-line-colour-light px-2 md:px-4 py-2 text-center text-sm md:text-base">Usage</th>
      <th class="border border-line-colour-light px-2 md:px-4 py-2 text-left text-sm md:text-base">Example</th>
    </tr>
  </thead>
  <tbody>
    <tr class="bg-slate-grey-light font-bold">
      <td colspan="3" class="px-2 md:px-4 py-2 text-sm md:text-base">Heading</td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">heading_3XL<br>(heading-3xl)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          h1_component(text: 'Example text')
          content_tag(:h1, "Example text", class: "heading-3xl")
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2"><%= h1_component(text: 'Example text') %></td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">heading_2XL<br>(heading-2xl)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          h2_component(text: 'Example text')
          content_tag(:h2, "Example text", class: "heading-2xl")
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2"><%= h2_component(text: 'Example text') %></td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">heading_XL<br>(heading-xl)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          h3_component(text: 'Example text')
          content_tag(:h3, "Example text", class: "heading-xl")
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2"><%= h3_component(text: 'Example text') %></td>
    </tr>

    <tr class="bg-slate-grey-light font-bold">
      <td colspan="3" class="px-2 md:px-4 py-2 text-sm md:text-base">Main Text (Poppins)</td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">text_large_SB<br>(main-text-lg-semibold)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          content_tag(:p, "Example text", class: "main-text-lg-semibold")
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2"><%= content_tag(:p, "Example text", class: "main-text-lg-semibold") %></td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">text_large_M<br>(main-text-lg-medium)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          content_tag(:p, "Example text", class: "main-text-lg-medium")
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2"><%= content_tag(:p, "Example text", class: "main-text-lg-medium") %></td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">text_large_N<br>(main-text-lg-normal)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          content_tag(:p, "Example text", class: "main-text-lg-normal")
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2"><%= content_tag(:p, "Example text", class: "main-text-lg-normal") %></td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">text_medium_SB<br>(main-text-md-semibold)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          content_tag(:p, "Example text", class: "main-text-md-semibold")
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2"><%= content_tag(:p, "Example text", class: "main-text-md-semibold") %></td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">text_medium_M<br>(main-text-md-medium)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          content_tag(:p, "Example text", class: "main-text-md-medium")
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2"><%= content_tag(:p, "Example text", class: "main-text-md-medium") %></td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">text_medium_N<br>(main-text-md-normal)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          content_tag(:p, "Example text", class: "main-text-md-normal")
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2"><%= content_tag(:p, "Example text", class: "main-text-md-normal") %></td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">text_small_M<br>(main-text-sm-medium)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          content_tag(:p, "Example text", class: "main-text-sm-medium")
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2"><%= content_tag(:p, "Example text", class: "main-text-sm-medium") %></td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">text_small_N<br>(main-text-sm-normal)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          content_tag(:p, "Example text", class: "main-text-sm-normal")
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2"><%= content_tag(:p, "Example text", class: "main-text-sm-normal") %></td>
    </tr>

    <tr class="bg-slate-grey-light font-bold">
      <td colspan="3" class="px-2 md:px-4 py-2 text-sm md:text-base">General Text (Roboto)</td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">text_large_N<br>(general-text-lg-normal)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          content_tag(:p, "Example text", class: "general-text-lg-normal")
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2">
        <%= content_tag(:p, "Example text", class: "general-text-lg-normal") %>
      </td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">text_medium_M<br>(general-text-md-medium)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          content_tag(:p, "Example text", class: "general-text-md-medium")
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2">
        <%= content_tag(:p, "Example text", class: "general-text-md-medium") %>
      </td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">text_medium_N<br>(general-text-md-normal)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          content_tag(:p, "Example text", class: "general-text-md-normal")
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2">
        <%= content_tag(:p, "Example text", class: "general-text-md-normal") %>
      </td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">text_small_M<br>(general-text-sm-medium)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          content_tag(:p, "Example text", class: "general-text-sm-medium")
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2">
        <%= content_tag(:p, "Example text", class: "general-text-sm-medium") %>
      </td>
    </tr>
    <tr class="border border-line-colour-light">
      <td class="px-2 md:px-4 py-2 text-sm md:text-base">text_small_N<br>(general-text-sm-normal)</td>
      <td class="px-2 md:px-4 py-2">
        <pre><code>
          content_tag(:p, "Example text", class: "general-text-sm-normal")
        </code></pre>
      </td>
      <td class="px-2 md:px-4 py-2">
        <%= content_tag(:p, "Example text", class: "general-text-sm-normal") %>
      </td>
    </tr>
  </tbody>
</table>

<section class="my-6">
  <div class="heading heading-medium my-2">CSS class naming convention</div>
  <p class="general-text-md-normal mb-2">Text typography css classes follow the following naming convention</p>
  <div>
    <p class="general-text-md-normal">[<b>type</b>]-text-[<b>size</b>]-[<b>weight</b>]</p>
    <p class="general-text-md-normal"><b>type</b> can be <b>main</b> for Poppins and <b>general</b> for Roboto</p>
    <p class="general-text-md-normal"><b>size</b> can be <b>sm, md, lg</b></p>
    <p class="general-text-md-normal"><b>weight</b> can be <b>normal, medium, semibold</b></p>
  </div>
</section>

<section class="my-6">
  <div class="heading heading-medium my-2">Heading Components</div>
  <div>
    <%= h1_component(text: "Example text") %>
    <%= h2_component(text: "Example text") %>
    <%= h3_component(text: "Example text") %>
  </div>
  <div class="mt-4">
    <p class="main-text-lg-semibold">Usage</p>
    <p class="general-text-md-normal">Heading Components can be used for any level of headings in font family Poppins. Css class can also be used as defined above to achieve the same.</p>
    <pre class="code mt-4">
      h1_component(text: "Example text")
      h2_component(text: "Example text")
      h3_component(text: "Example text")
    </pre>
  </div>
</section>

<section class="my-6">
  <div class="heading heading-medium my-2">Text Component</div>
  <div>
    <%= text_component(text: "Example text") %>
  </div>
  <div class="mt-4">
    <p class="main-text-lg-semibold">Usage</p>
    <p class="general-text-md-normal">Text component renders text as per typography text_medium_N in main font family Roboto</p>
    <pre class="code mt-4">
      text_component(text: "Example text")
    </pre>
  </div>
</section>

<section class="my-6">
  <div class="heading heading-medium my-2">Link Component</div>
  <div>
  <%= link_component(text: 'Name',
                     url: 'https://app.instruo.co',
                     target: '_blank') %>
  </div>
  <div class="mt-4">
    <p class="main-text-lg-semibold">Usage</p>
    <p class="general-text-md-normal">Link component renders link as per typography text_small_N in font family Poppins</p>
    <pre class="code mt-4">
      link_component(text: 'Name',
                     url: 'https://app.instruo.co',
                     target: '_blank')

    </pre>
  </div>
</section>
