<div class="mb-8 text-sm w-auto md:max-w-3xl">
  <%= input_field(form:, field_name: :name, label: "Title", placeholder: "Enter the Title", type: "text",width:"w-full") %>
</div>
<div id="course-list-with-assign-form">
  <% if courses.empty? %>
    <div class="text-notice">No courses to assign</div>
  <% else %>
    <ul id="course-list" class="w-full overflow-y-auto p-1 flex flex-col gap-4 h-[700px]">
      <% courses.each do |course| %>
        <%= render "course_assigns/course_list_item", course: course, show_duration: false %>
      <% end %>
    </ul>
    <%= render "course_assigns/load_more", search_context: search_context, courses: courses %>
    <div id="footer" class="flex flex-col md:flex-row gap-4 py-6 text-sm justify-end sticky bottom-0 -mb-8 right-8 w-full bg-white items-center">
      <%= form.button 'Assign Course', class: 'bg-primary text-white px-4 py-2 rounded w-full md:w-auto md:order-2' %>
      <%= link_to 'Cancel', programs_path, class: 'w-full md:w-auto text-center md:text-left md:order-1' %>
    </div>
  <% end %>
</div>
