<div class="flex flex-col gap-3 bg-primary-light-100 px-6 md:px-16  py-5 -mx-5 md:-mx-16">
  <p class="main-text-lg-semibold"><%= program.name %></p>
  <div class="flex gap-3 md:gap-2">
    <div class="flex items-center">
      <%= icon("book", css: "h-4 w-4 text-primary") %>
      <span class="ml-2 general-text-sm-normal"  data-programs-target="coursesCount"><%= pluralize(program.courses_count, 'course') %></span>
    </div>
    <div class="w-px h-4 bg-slate-grey-50"></div>

    <div class="flex items-center">
      <%= icon("user", css: "h-4 w-4 text-primary") %>
      <%# TODO: Replace hardcoded "102" with dynamic value once available %>
      <span class="ml-2 general-text-sm-normal">102</span>
    </div>
  </div>
</div>
<div class="flex flex-col md:flex-row gap-4 md:justify-between mt-4 md:mt-6">
  <p class="main-text-lg-semibold">Courses included in the Programme</p>
  <% if current_user.privileged_user? %>
    <div data-programs-target="deleteButton" class="hidden">
      <div class="flex items-center">
        <h3 class="text-sm font-bold">
          <span data-programs-target="selectedCoursesCount"></span> selected of
          <%= pluralize(program.courses_count, 'course') %>
        </h3>
        <div class="pl-2 cursor-pointer">

          <%= button_component(text: "Delete", size: "sm", type: "outline", colorscheme: "danger",
              html_options: {
                data: {
                  action: "click->programs#bulkDelete",
                  url: confirm_bulk_destroy_courses_program_path(program, page: params[:page])
                }})
          %>
        </div>
      </div>
    </div>
  <% end %>  
</div>

<% if courses.any? %>
  <div class="flex flex-col gap-4 mt-4 md:mt-5">
    <% courses.each do |course| %>
      <div class="relative">
        <% if current_user.privileged_user? %>
          <%= check_box_tag 'course_ids[]',
              course.id,
              false,
              id: dom_id(course, "course_ids"),
              class: 'absolute top-4 right-4 w-5 h-5 z-50 border-2 rounded checked:bg-primary checked:border-primary focus:ring-0',
              data: {
                programs_target: "courseCheckbox",
                action: "programs#toggleDeleteButton"
              }
          %>
        <% end %>   
        <div class="relative">
          <%= link_to course_path(course) do %>
            <%= long_course_card_component(course: course, program:program) %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="flex flex-col items-center justify-center">
    <p class="text-gray-500 mb-4">No courses present</p>
    <%= link_to add_courses_program_path(program) do %>
      <%= button(label: 'Add courses', icon_name: "plus") %>
    <% end %>
  </div>
<% end %>
<%= paginate courses %>
