<div class="rounded-2xl border border-gray-200 h-full">
  <div class="p-4 flex flex-col justify-between h-full">
    <div class="flex justify-between items-start gap-2">
      <%= link_to program_path(program), class: "hover:cursor-pointer" do %>
        <p class="overflow-hidden text-ellipsis heading heading-semibold text-primary min-h-[3rem]">
          <%= program.name %>
        </p>
      <% end %>
      <%= menu_component_old(menu_items: program_menu_items(program)) %>
    </div>
    <div class="flex mt-3 justify-between items-center">
      <div class="flex items-center gap-2">
        <span class="icon icon-lessons h-3.5 w-3.5 bg-primary"></span>
        <span class="text-xs font-medium"><%= pluralize(program.courses_count, 'course') %></span>
      </div>
      <div class="flex items-center gap-2">
        <span class="icon icon-clock h-3.5 w-3.5 bg-primary"></span>
        <span class="text-xs font-medium"><%= pluralize(program.users_count, 'user') %></span>
      </div>
    </div>
    </div>
</div>
