<% modal_footer = capture do %>
  <div class="flex gap-2 sticky bottom-0 bg-white w-full">
    <div class="flex-1" data-action="click->modals#closeModal">
      <%= button_component(text: "Cancel", type: "outline") %>
    </div>
    <%= button_tag form: "program-form", class: "flex-1" do %>
      <%= button_component(text: "Save") %>
    <% end %>
  </div>
<% end %>

<%= modal_box_component(title: t("programs.add"), modal_footer:) do %>
  <%= form_with(url: programs_path, method: :post, model: @program, scope: :program, id: "program-form", class: "flex flex-col gap-6") do |form| %>
    <div class="flex flex-col gap-4">
      <%= input_text_component(form:, name: :name, label: "Name", placeholder: "Enter the program name") %>
    </div>
  <% end %>
<% end %>
