<%= turbo_frame_tag 'modal' do %>
<div data-controller="modal-loader" class="relative">
    <div class="modal-wrapper" data-controller="modals" data-modals-target="modalBox">     
      <div class="<%= container_class %>">
        <div data-modal-loader-target="loader"
             class="hidden absolute flex modal-loader-container">
          <div class="modal-loader"></div>
        </div>
        <div class="modal-content" <%= tag.attributes(html_options) %>>
          <% if modal.title.present? %>
            <div class="modal-header">
              <span class="main-text-lg-semibold"><%= modal.title %></span>
              <button data-action="click->modals#closeModal">
                <%= icon("x-circle", css: "h-6 w-6") %>
              </button>
            </div>
          <% end %>
          <div class="modal-body">
            <%= body %>
          </div>
          <%= content_tag :div, class: "modal-footer" do %>
            <%= modal_footer %>
          <% end if modal_footer %>
        </div>
      </div>
    </div>
  </div>
<% end %>
