<%= turbo_frame_tag "onboarding-frame", class: "flex flex-col bg-white w-screen md:w-[456px] h-[740px] md:h-[656px] py-6 mt-2 md:mt-0 relative" do %>
  <%= render "onboarding/welcomes/progress", progress: 75 %>

  <div class="mt-12 flex flex-col gap-6 px-4 md:mt-0 md:px-8" >
    <h2 class="pt-2 text-base font-semibold heading md:text-xl">
      Select learning program
    </h2>

    <%= form_with model: current_user, url: onboarding_welcome_path, local: false, class: "h-full w-full flex flex-col gap-6 md:gap-4" do |form| %>
      <%= hidden_field_tag :step, "set_learning_program" %>

      <div class="w-full">
        <%= input_dropdown(form: form, field_name: :program_id, label: "Choose learning program (optional)", options: @programs.map { |prog| [prog.name, prog.id] }, placeholder: "Please choose a gender", value: form.object.gender, html_options: { required: false, include_blank: true }, width: "w-full" ) %>

        <div class="text-sm my-2 text-letter-color-light">
          (Choose a learning program that suits your department.)
        </div>
      </div>

      <div class="absolute bottom-6 left-0 flex w-full justify-center gap-4 px-4">
        <%= link_to "Back", set_language_onboarding_welcome_path, class: "btn-secondary-outline" %>
        <%= form.submit "Next", class: "btn-primary" %>
      </div>
    <% end %>
  </div>

<% end %>
