<%= turbo_frame_tag "onboarding-frame", class: "flex flex-col bg-white w-screen md:w-[456px] h-[740px] md:h-[656px] py-6 mt-2 md:mt-0 relative" do %>
  <%= render "onboarding/welcomes/progress", progress: 95 %>
  <div class="flex flex-col gap-6 px-4 md:px-8 mt-12 md:mt-0">
    <h2 class="heading pt-2 text-base md:text-xl font-semibold">
      Set a secure password for your account
    </h2>

    <%= form_with model: current_user, url: update_password_onboarding_welcome_path, method: :put,
                  class: "h-full w-full flex flex-col gap-6 md:gap-4" do |form| %>

      <%= render "shared/components/form_errors", resource: current_user %>

      <div class="flex flex-col gap-2 w-full">
        <%= form.label :password, "Password", class: "text-sm font-medium" %>
        <%= form.password_field :password, class: "rounded border border-line-colour py-3 px-4 w-full", required: true %>
      </div>

      <div class="flex flex-col gap-2 w-full">
        <%= form.label :password_confirmation, "Retype Password", class: "text-sm font-medium" %>
        <%= form.password_field :password_confirmation, class: "rounded border border-line-colour py-3 px-4 w-full", required: true %>
      </div>

      <div class="text-sm text-secondary flex flex-col gap-1 w-full">
        <p>Must be at least 8 characters</p>
        <p>Must contain at least one special character</p>
      </div>

      <div class="absolute bottom-6 left-0 w-full flex gap-4 justify-center px-4">
        <%= link_to set_language_onboarding_welcome_path, class:"btn-secondary-outline" do %>
          Back
        <% end %>
        <%= form.submit "Next", class: "btn-primary" %>
      </div>

    <% end %>

  </div>
<% end %>
