<%= turbo_frame_tag "onboarding-frame", class: "relative mt-2 flex w-screen flex-col bg-white py-6 h-[740px] md:w-[456px] md:h-[656px] md:mt-0" do %>
  <%= render "onboarding/welcomes/progress", progress: 50 %>
  <div class="mt-12 flex flex-col gap-6 px-4 md:mt-0 md:px-8">
    <h2 class="pt-2 text-base font-semibold heading md:text-xl">
      Add your Date of Birth and Gender (optional)
    </h2>

    <%= form_with model: current_user, url: onboarding_welcome_path, method: :put, local: false, class: "h-full w-full flex flex-col gap-6 md:gap-4" do |form| %>
      <%= hidden_field_tag :step, "set_dob_and_gender" %>
      <%= render "shared/components/form_errors", resource: current_user %>

      <div class="relative flex flex-col gap-3 text-letter-color-light text-sm " data-controller="date-picker">
        <%= form.label :dob, "Date of Birth" %>
        <div class="relative flex w-full flex-row items-center">
          <input type="date" id="datePicker" class="invisible p-0 w-[2px]" data-action="change->date-picker#datePicked" data-date-picker-target="datePicker" max="<%= (Date.today - 16.years).strftime('%Y-%m-%d') %>"/>
          <%= input_field(form:form, field_name: :dob, placeholder: "YYYY-MM-DD",type: "text", width:"w-full",html_options: { data: { date_picker_target: "dateSelector" } }) %>
          <div class="absolute right-2 flex items-center pl-2">
            <span class="cursor-pointer icon-small icon icon-calendar bg-letter-color" data-action="click->date-picker#openDatePicker"></span>
          </div>
        </div>
      </div>
      <%= input_dropdown(
        form: form,
        field_name: :gender,
        label: "Gender",
        options: User::GENDERS,
        placeholder: "Please choose a gender",
        html_options: {
          required: true
        },
        width: "w-full"
    ) %>

      <div class="absolute bottom-6 left-0 flex w-full justify-center gap-4 px-4">
        <%= link_to "Back", set_name_and_phone_onboarding_welcome_path, class: "btn-secondary-outline" %>
        <%= form.submit "Next", class: "btn-primary" %>
      </div>
    <% end %>
  </div>
<% end %>