<%= turbo_frame_tag "onboarding-frame" do %>
  <div class="w-full h-1 fixed top-0 left-0">
    <div class="h-full bg-light-green transition-all duration-300" data-onboarding-target="progressBar" style="width: 0%;"></div>
  </div>
  <div data-onboarding-target="welcomeScreen">
    <%= render "onboarding/welcomes/welcome" %>
  </div>

  <div data-onboarding-target="step1Screen" class="hidden">
    <% if current_user.is_learner? %>
      <%= render "onboarding/welcomes/step1" %>
    <% else %>
      <%= render "onboarding/welcomes/manager_step1" %>
    <% end %>
  </div>

  <div data-onboarding-target="step2Screen" class="hidden">
    <% if current_user.is_learner? %>
      <%= render "onboarding/welcomes/step2" %>
    <% else %>
      <%= render "onboarding/welcomes/manager_step2" %>
    <% end %>
  </div>

  <div data-onboarding-target="step3Screen" class="hidden">
    <% if current_user.is_learner? %>
      <%= render "onboarding/welcomes/step3" %>
    <% else %>
      <%= render "onboarding/welcomes/manager_step3" %>
    <% end %>
  </div>

  <div data-onboarding-target="step4Screen" class="hidden">
    <% if current_user.is_learner? %>
      <%= render "onboarding/welcomes/step4" %>
    <% else %>
      <%= render "onboarding/welcomes/manager_step4" %>
    <% end %>
  </div>
<% end %>