<div id="notification-frame" data-notifications-target="notificationList" class="bg-white box-shadow-medium w-full md:w-[360px] fixed md:absolute right-0 z-50 overflow-y-auto max-h-[calc(100vh-55px)]">
  <% unless notifications.empty? %>
    <div class="p-4 border-b border-line-colour-light flex justify-between items-center">
      <h1 class="heading heading-semibold text-primary">Notification</h1>
      <button aria-label="Close" class="inline-block hover:opacity-80" data-action="click->notifications#close">
        <span class="icon icon-close icon-base bg-primary"></span>
      </button>
    </div>
    <div class="w-full p-0">
      <ul class="p-0 w-full">
        <li class="text-right px-4 pt-4">
          <%= link_to 'Clear all', clear_notifications_path, data: { turbo_stream: true }, class: 'text-xs text-letter-color-light hover:cursor-pointer hover:underline' %>
        </li>
        <% notifications.each do |notification| %>
          <li class="border-b border-line-colour-light px-6 py-4 w-full">
            <%= link_to mark_as_read_notifications_path(message: notification.encoded_message, redirect_url: notification.link), data: { turbo_stream: true } do %>
              <% if notification.ntype == 'error' %>
                <p class="text-xs text-danger font-semibold mb-1 heading"><%= notification.title %></p>
              <% else %>
                <p class="text-xs text-primary font-semibold mb-1 heading"><%= notification.title %></p>
              <% end %>
              <p class="text-xs text-letter-color-light mb-1"><%= notification.text %></p>
              <p class="text-xs text-letter-color-light text-right"><%= time_ago_in_words(notification.created_at) %> ago</p>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
