<li class="mt-6 flex flex-col p-4 box-shadow-medium" data-controller="assigns">
  <div class="flex justify-between">
    <%= image_tag course_banner(course, :vertical), class: "h-[118px] w-[152px] rounded-l object-cover" %>
    <div class="flex flex-col items-end">
      <%= f.check_box :course_ids, { multiple: true, class: "w-6 h-6 border-2 rounded border-secondary checked:bg-secondary checked:border-secondary checked:focus:bg-secondary focus:ring-0", data: { action: "assigns#toggle" } }, course.id, false %>
      <div class="flex hidden flex-col items-center gap-2" data-assigns-target="durationContainer">
        <div class="flex items-center py-1 font-medium" data-assigns-target="labelContainer">
          <label for="duration">Assign Duration:</label>
        </div>
        <div class="flex hidden items-center font-medium" data-assigns-target="customLabelContainer">
          <label class="">Custom:</label>
          <input type="date" id="custom-date" class="border-0 focus:ring-0" data-action="change->assigns#datePicked">
        </div>
        <%= f.select "duration[]", options_for_duration, {}, disabled: true, id: 'duration', class: "border border-line-colour-light box-shadow-small rounded focus:ring-0", data: { assigns_target: "dateSelector", action: "change->assigns#durationChanged", duration: 'duration' } %>
      </div>
    </div>
  </div>
  <div class="mt-4 flex flex-col">
    <p class="mb-1 overflow-hidden text-ellipsis text-sm font-extrabold text-primary">
      <%= course.title %>
    </p>
    <div class="mt-2 flex justify-between space-x-3">
      <div class="flex items-center space-x-2">
        <span class="icon-small icon icon-lessons"></span>
        <span class="ml-2 text-xs font-medium"><%= modules_count(course) %></span>
      </div>
      <div class="flex items-center space-x-2">
        <span class="icon-small icon icon-clock"></span>
        <span class="ml-2 text-xs font-medium"><%= course_duration(course) %></span>
      </div>
      <div class="flex items-center space-x-2">
        <span class="icon-small icon icon-user"></span>
        <span class="ml-2 text-xs font-medium"><%= enroll_count(course) %></span>
      </div>
    </div>
    <p class="my-3 overflow-hidden text-ellipsis text-sm font-medium tracking-tight max-h-[20px]">
      Course Description
    </p>
    <div class="overflow-hidden text-ellipsis text-justify text-sm tracking-tight text-letter-color-light max-h-[100px]">
      <%= course_description(course) %>
    </div>
  </div>
</li>