<div class="flex flex-col md:flex-row p-6 box-shadow-medium w-full relative rounded" data-controller="assigns">
  <div class="absolute top-1 left-1 z-10 flex flex-wrap justify-start gap-2 heading">
    <% course.tags.each do |tag| %>
      <% if tag.tag_type == "level" %>
          <span class="px-2 py-1 text-xs font-medium bg-theme-highlight text-white">
            <%= tag.name %>
          </span>
      <% end %>
    <% end %>
  </div>
  <%= image_tag course_banner(course, :vertical), class: 'h-[118px] w-[152px] md:h-[208px] md:w-[140px] rounded-l object-cover' %>
  
  <div class="flex flex-col md:ps-4 pt-2 w-full gap-4">
    <div class="relative">
      <%= check_box_tag 'course_ids[]',                # name
                        course.id,                            # value
                        false,                         # checked?
                        id: dom_id(course, "course_ids"),
                        class: 'absolute -top-32 md:top-0 right-0 w-6 h-6 border-2 rounded border-secondary checked:bg-secondary checked:border-secondary checked:focus:bg-secondary focus:ring-0',
                        data:  { action: 'assigns#toggle' } %>

      <div class="flex flex-col gap-4">
        <p class="text-primary overflow-hidden text-ellipsis heading heading-semibold">
          <%= course.title %>
        </p>
        <div class="flex justify-start space-x-1 md:space-x-4">
          <div class="flex items-center">
            <span class="icon icon-lessons h-3.5 w-3.5 bg-primary"></span>
            <span class="ml-2 text-xs font-medium"><%= modules_count(course) %></span>
          </div>
          <div class="flex items-center">
            <span class="icon icon-clock h-3.5 w-3.5 bg-primary"></span>
            <span class="ml-2 text-xs font-medium"><%= course_duration(course) %></span>
          </div>
          <div class="flex items-center">
            <span class="icon icon-user h-3.5 w-3.5 bg-primary"></span>
            <span class="ml-2 text-xs font-medium"><%= enroll_count(course) %></span>
          </div>
        </div>
        <p class="max-h-[20px] overflow-hidden text-ellipsis text-sm font-medium tracking-tight heading">Course Description</p>
        <div class="p-4 text-justify text-sm tracking-tight bg-primary-light-50 rounded-lg">
          <div class="h-full overflow-hidden flex items-center text-sm">
            <%= course_description(course) %>
          </div>
        </div>
        <div>
          <div class="h-full overflow-hidden flex items-center text-sm">
            <% course.tags.each do |tag| %>
              <% if tag.tag_type == "category" %>
              <span class="px-2 py-1 text-xs font-medium bg-primary-light-50 rounded">
                <%= tag.name %>
              </span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-2 items-end md:items-center absolute -top-24 md:top-0 -right-4 md:right-12 invisible opacity-0" data-assigns-target="durationContainer">
        <label for="duration" class="heading font-medium text-sm md:text-base">Assign Duration:</label>
        <div class="flex flex-row items-center">
          <input type="date" id="datePicker" class="invisible w-[2px] p-0" data-action="change->assigns#datePicked" data-assigns-target="datePicker"/>

          <%= select_tag 'duration[]', options_for_select(options_for_duration),
                         id:  'duration',
                         disabled: true,
                         class: 'border border-line-colour-light box-shadow-small rounded focus:ring-0 p-0 px-2 h-6 w-28 text-sm',
                         data:  { assigns_target: 'dateSelector', duration: 'duration' } %>
          <div class="relative flex items-center pl-2">
            <span class="icon-small icon icon-calendar bg-letter-color cursor-pointer" data-action="click->assigns#openDatePicker"></span>
          </div>
       </div>
      </div>
    </div>
  </div>
</div>
