<%= render "shared/components/mobile_layout" do %>
  <div class="flex justify-between items-center">
    <div class="flex gap-2">
      <%= link_to team_path(current_user.team), class: "flex items-center gap-2" do %>
        <span class="icon icon-arrow-left bg-primary icon-small"></span>
        <span class="text-primary text-sm font-semibold">Assign Course</span>
      <% end %>
    </div>
    <div class="box-shadow-medium flex items-center gap-2 rounded px-3 py-2">
      <span class="icon icon-filter bg-secondary icon-small"></span>
      <span class="text-secondary text-sm">Filter</span>
    </div>
  </div>
  <div class="relative rounded-md shadow-sm w-full mt-4">
    <%= form_tag search_courses_path, method: :get do %>
      <div class="pointer-events-none absolute inset-y-0 flex items-center pl-3">
        <span class="icon icon-search icon-small bg-letter-color"></span>
      </div>
      <div class="border rounded-lg border-line-colour-light">
        <%=
          text_field_tag :term, '', id: 'course-search', class: 'input-search w-full', placeholder: 'Search courses ...'
        %>
      </div>
    <% end %>
  </div>
  <% if @courses.empty? %>
    <div class="text-notice">No courses to assign</div>
  <% else %>
    <%= form_with url: course_assigns_path, method: :post do |form| %>
      <% if @team_assign %>
        <%= form.hidden_field :team_id, value: @team.id %>
      <% else %>
        <%= form.hidden_field :user_id, value: @user.id %>
      <% end %>
      <ul class="overflow-y-auto p-1 flex flex-col gap-4 max-h-[calc(100vh-300px)]">
        <% @courses.each do |course| %>
          <%= render 'course_assigns/course_card_mobile', course: course, f: form %>
        <% end %>
      </ul>
      <div class="bg-white fixed bottom-0 left-0 right-0  px-4 w-full flex flex-col items-center">
        <%= form.button 'Assign Course', class: 'bg-primary rounded w-full p-4 text-white text-base font-medium' %>
        <%= link_to 'Cancel', request.referer, class: 'text-center w-full p-4 text-base font-medium' %>
      </div>
    <% end %>
  <% end %>
<% end %>
