<div class="p-6 bg-white rounded box-shadow-medium mt-6" id="team-user-info-fragment">
  <div class="flex flex-row justify-between items-start w-full">
    <div class="flex flex-col gap-4 w-full">
      <div class="flex justify-between">
        <p class="heading heading-semibold text-primary w-52 md:w-full break-words"><%= user.name %></p>

        <div class="flex space-x-3 items-start flex-shrink-0">
          <%= render 'users/user_state', user: user %>

          <%= menu_component_old(menu_items: member_menu_items(user)) %>
        </div>
      </div>

      <div class="flex flex-col md:flex-row items-start space-y-4 md:space-y-0 md:space-x-6">
        <div class="flex items-center">
          <span class="text-sm mr-1">Role:</span>
          <p class="text-sm"><%= user.role %></p>
        </div>
        <div class="flex items-center space-x-2">
          <span class="icon icon-at-sign bg-letter-color icon-small mr-1"></span>
          <p class="text-sm"><%= email(user) %></p>
        </div>
        <% if user.phone.present? %>
          <div class="flex items-center space-x-2">
            <span class="icon icon-smartphone bg-letter-color icon-small mr-1"></span>
            <p class="text-sm"><%= user.country_code %><%= user.phone %></p>
          </div>
        <% end %>
        <div class="flex items-center space-x-2">
          <span class="icon icon-team bg-letter-color icon-small mr-1"></span>
          <p class="text-sm"><%= user.team.name %></p>
        </div>
      </div>
    </div>
  </div>
</div>
