<div class="p-6 bg-white rounded box-shadow-medium mt-6" id="team-user-info-fragment">
  <div class="flex flex-row justify-between items-start w-full">
    <div class="flex flex-col gap-4 w-full">
      <div class="flex justify-between">
        <p class="text-base font-semibold text-primary w-52 md:w-full break-words header-font"><%= user.name %></p>

        <div class="flex space-x-3 items-start flex-shrink-0">
          <%= render 'users/user_state', user: user %>
          <%= render 'shared/components/more_action',icon_class: 'member-more', label_hover:"hover:bg-line-colour" do %>
            <% if policy(user).deactivate? %>
              <%= link_to 'Deactivate', deactivate_member_path(user), class: 'text-xs cursor-pointer px-4 py-2 hover:bg-primary-light-50 w-full text-left', data: { turbo_frame: "modal" } %>
            <% end %>
            <% if policy(user).activate? %>
              <%= link_to 'Activate', activate_member_path(user), class: 'text-xs cursor-pointer px-4 py-2 hover:bg-primary-light-50 w-full text-left', data: { turbo_frame: "modal" } %>
            <% end %>
          <% end %>
        </div>
      </div>
      
      <div class="flex flex-col md:flex-row items-start space-y-4 md:space-y-0 md:space-x-6">
        <div class="flex items-center">
          <span class="text-sm mr-1">Role:</span>
          <p class="text-sm"><%= user.role %></p>
        </div>
        <div class="flex items-center space-x-2">
          <span class="icon icon-at-sign bg-letter-color icon-small mr-1"></span>
          <p class="text-sm"><%= user.email %></p>
        </div>
        <div class="flex items-center space-x-2">
          <span class="icon icon-smartphone bg-letter-color icon-small mr-1"></span>
          <p class="text-sm"><%= user.phone %></p>
        </div>
        <div class="flex items-center space-x-2">
          <span class="icon icon-team bg-letter-color icon-small mr-1"></span>
          <p class="text-sm"><%= user.team.name %></p>
        </div>
      </div>
    </div>
  </div>
</div>
