<tr class="bg-white border-b">
  <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
    <% if policy(user).show? %>
      <%= link_to user.name || "User", user_path(user) %>
    <% else  %>
      <%= user.name || "User" %>
    <% end %>
  </td>
  <td class="px-6 py-4">
    <%= role_text(user.role) %>
  </td>
  <td class="px-6 py-4">
    <%= user.email %>
    (<%= invite_status(user) %>)
  </td>
  <td class="px-6 py-4">
    <!-- when admin visiting his team page -->
    <% if InvitePolicy.new(current_user, user).resend? %>
      <% if learning_partner.present? %>
        <%= link_to "Re-invite", resend_invite_path(user, learning_partner_id: learning_partner.id), class: "nav-link", data: { turbo_frame: "notice" } %>
      <% else %>
        <%= link_to "Re-invite", resend_invite_path(user), class: "nav-link", data: { turbo_frame: "notice" } %>
      <% end %>
    <% end %>
    <% if policy(:course_assigns).new? %>
      <%= link_to "Assign", new_course_assign_path(user), class: "nav-link" %>
    <% end %>
  </td>
</tr>