
<h1>Users</h1>
<%= link_to "New user", new_user_path %>

<table id="users">
  <tr>
    <td>Name</td>
    <td>Role</td>
    <td>Learning Partner</td>
    <td>Actions</td>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= link_to user.name, user %>
      </td>
      <td>
        <%= role_text(user.role) %>
      </td>
      <td>
        <% if user.learning_partner.present? %>
          <%= link_to user.learning_partner.name, learning_partner_path(user.learning_partner) %>
        <% end %>
      </td>
      <td>
        <%= link_to "Edit", edit_user_path(user) %>
      </td>
      <td>
        <%= button_to "Delete", user, method: :delete %>
      </td>
    </tr>
  <% end %>
</table>


