
<div class="my-8 mx-4 text-right"><%= link_to "New user", new_user_path, class: "border rounded p-2 min-w-4 min-h-2 auto w-32" %></div>

<table id="users" class="table-auto w-fit mx-auto">
  <thead>
  <tr>
    <th>Name</th>
    <th>Role</th>
    <th>Learning Partner</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr class="text-sm border-b">
      <td class="p-2">
        <%= link_to user.name, user, class: "underline pointer" %>
      </td>
      <td class="p-2">
        <%= role_text(user.role) %>
      </td>
      <td class="p-2">
        <% if user.learning_partner.present? %>
          <%= link_to user.learning_partner.name, learning_partner_path(user.learning_partner) %>
        <% end %>
      </td>
      <td class="p-2">
        <%= link_to "edit", edit_user_path(user), class: "text-xs underline pointer"  %>
        <%= button_to "delete", user, method: :delete, class: "text-xs underline pointer" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class="my-8 mx-4 text-center">
  <%= link_to_prev_page @users, 'Prev', class: "underline pointer" %>
  <%= link_to_next_page @users, 'Next', class: "underline pointer" %>
</div>
