<div id="member-breadcrumbs">
  <%= render 'shared/components/bread_crumbs', links: (
    team_list(current_user.team, @user.team).map { |team| [team.name, team_path(team)] }) %>
</div>
<%= render 'users/team_user_info', user: @user %>
<%= render 'users/team_user_course_status' %>
<div class="my-8">
  <% if enrolled_courses?(@enrolled_courses) %>
    <p class="heading heading-medium mb-4">
      <span class="">Assigned courses</span>&nbsp<span class="text-letter-color-light">(<%= pluralize(@enrolled_courses.count, 'course') %>
        )</span>
    </p>
    <div class="flex flex-wrap gap-4">
      <% @enrolled_courses.each do |course| %>
        <% _level_tag = course.tags.find { |t| t.tag_type == 'level' } %>
        <%= course_card_component(
          title: course.title,
          banner_url: course_banner(course, :horizontal),
          duration: course_duration(course),
          modules_count: modules_count(course),
          enroll_count: enroll_count(course),
          categories: course.tags.select { |t| t.tag_type == 'category' }.map(&:name),
          badge: _level_tag && { label: _level_tag.name },
          rating: course.rating,
          progress: @enrollments_by_course_id[course.id]&.progress
        ) %>
      <% end %>
    </div>
  <% end %>
</div>
