<%= desktop_view do %>
  <div class="h-full columns-2 size-full">
    <%= render "devise/shared/left_side_desktop" %>
    <div class="flex h-full items-center justify-center right-side">
      <div class="bg-white w-[528px]">
        <%= image_tag "instruo_logo_blue.png", alt: "Instruo", class: "mx-auto mb-12 h-10" %>
        <div class="rounded-lg px-8 pt-8 pb-24 box-shadow-large">
          <h1 class="my-8 text-3xl heading page-heading">Forgot password?</h1>
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.hidden_field :reset_password_token %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="flex flex-col gap-14">
              <div class="input-group">
                <%= f.label :password, "New password", class: "label-text" %><br />
                <% if @minimum_password_length %>
                  <em class="label-text">(<%= @minimum_password_length %> characters minimum)</em><br />
                <% end %>
                <p class="mt-4">
                  <%= f.password_field :password, class: "input-text", autofocus: true, autocomplete: "new-password" %>
                </p>
              </div>
              <div class="input-group">
                <%= f.label :password_confirmation, "Confirm new password", class: "label-text" %>
                <p class="mt-4">
                  <%= f.password_field :password_confirmation, class: "input-text", autocomplete: "new-password" %>
                </p>
              </div>
              <div class="my-4 actions">
                <%= f.button class: "btn-primary w-full" do %>
                  <span>Update password</span>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="mt-6">
            <% if feature_enabled?(FLAG_LOGIN_WITH_OTP) %>
              <p class="mb-2"><%= link_to "Login with OTP", new_login_path, class: "link-text" %></p>
            <% end %>
            <p><%= link_to "Login with email and password", new_user_session_path, class: "link-text" %></p>
          </div>
        </div>
        <hr class="mt-1 border-y-2 border-primary"/>
      </div>
    </div>
  </div>
<% end %>