<%= mobile_view do %>
  <%= render "devise/shared/top_mobile" %>
  <div class="px-4 py-6">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <div class="mb-4">
        <h1 class="heading page-heading">Forgot password?</h1>
      </div>

      <div class="flex flex-col gap-8">
        <%= content_tag :div, class: "input-group" do %>
          <label for="" class="label-text">No worries. We&apos;ll send you confirmation instructions.</label>
        <% end unless resource.errors.any? %>

        <div class="input-group">
          <%= input_field(form:f, field_name: :email, label: "Email", placeholder: "Enter your email", type: "email", width:"w-full", html_options: { autofocus: true, autocomplete: "email", required: true }) %>
          <p class="text-danger general-text-md-normal py-1"><%= reset_password_error_msg(resource.errors) %></p>
        </div>

        <div class="mt-4">
          <%= f.button class: "btn-primary w-full" do %>
            <span>Reset password</span>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="mt-6">
      <% if feature_enabled?(FLAG_LOGIN_WITH_OTP) %>
        <%= link_text_component "Login with OTP", new_login_path %><br/>
      <% end %>
      <%= link_text_component "Login with email and password", new_user_session_path %><br/>
      <%= link_text_component "Didn't receive confirmation instructions?", new_confirmation_path('user') %>
    </div>
  </div>
<% end %>