<div class="w-full h-screen flex">
  <div class="md:basis-1/2 w-full flex items-center">
    <div class="my-10 w-80 border rounded-2xl mx-auto p-10 text-gray-900">
      <div class="w-full"><div class="w-fit m-auto"><%= render "shared/svg/logo" %></div></div>
      <h1 class="my-8 text-xl font-semibold">
        <p class="auto">Change your password</p>
      </h1>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>
        <div class="field my-4">
          <%= f.label :password, "New password", class: "font-medium text-sm" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, class: "input-text mt-2", autofocus: true, autocomplete: "new-password" %>
        </div>

        <div class="field my-4">
          <%= f.label :password_confirmation, "Confirm new password", class: "font-medium text-sm" %><br />
          <%= f.password_field :password_confirmation, class: "input-text mt-2", autocomplete: "new-password" %>
        </div>

        <div class="actions my-4">
          <%= f.submit "Update password", class: "btn-default w-full" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>

  <div class="hidden md:block md:basis-1/2 md:bg-gray-100 md:flex md:items-center md:pl-10">
    <%= image_tag "login_banner.png", class: "rounded-2xl" %>
  </div>
</div>
