<div class="flex items-center gap-3 mb-6">
  <div class="flex gap-2 items-center">
    <%= render 'shared/components/back_button', back_link: profile_path %>
    <p class="main-text-lg-semibold"><%= t("my_profile.my_certificates.label") %></p>
  </div>
</div>

<% if @pending_count > 0 %>
  <%= link_to pending_certificates_profile_path do %>
    <div class="flex items-center justify-between bg-danger-light border border-line-colour rounded-xl p-5">
      <div class="flex items-center gap-3">
        <div class="w-8 h-8 bg-white-light rounded-lg outline outline-1 outline-line-colour-light inline-flex justify-center items-center gap-2.5">
            <%= icon("exclamation-circle-solid", css: "h-5 w-5 text-danger flex-none") %>
        </div>        
        <div>
          <p class="main-text-md-semibold"><%= t("my_profile.my_certificates.request_pending_certificates") %></p>
          <p class="general-text-sm-normal"><%= t("my_profile.my_certificates.certificates_available", count: @pending_count) %></p>
        </div>
      </div>
      <div class="bg-primary-light-50 rounded-full p-1 border border-slate-grey-light">
        <%= icon 'chevron-right', css: 'w-4 h-4 text-primary' %>
      </div>    
      </div>
  <% end %>
<% end %>

<div class="mt-4">
  <div class="border border-line-colour divide-y divide-line-colour rounded-lg md:rounded-xl">
    <% if @combined_items.any? %>
      <% @combined_items.each do |item| %>
        <% course_certificate = item[:data] %>
        <div class="px-4 md:px-5 py-3 md:py-4">
          <div class="flex flex-col md:flex-row gap-2 justify-between">
            <h2 class="main-text-lg-normal flex items-center"><%= course_certificate.course.title %></h2>
            <div class="flex gap-3 md:gap-[10px]">
              <div class="flex-grow md:flex-none">
                <%= link_to rails_blob_path(course_certificate.file, disposition: "attachment") do %>
                  <%= button_component(text: t("button.download"), type: "outline", size: "sm",
                                       icon_name: "arrow-down-tray", icon_position: "right") %>
                <% end %>
              </div>
              <div class="flex-grow md:flex-none">
                <%= link_to share_certificate_profile_path(certificate_id: course_certificate.id),
                            data: { turbo_frame: "modal" } do %>
                  <%= button_component(text: t("button.share"), size: "sm", icon_name: "share", icon_position: "right") %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="flex flex-col items-center justify-center mt-10 mb-5">
        <h2 class="text-semibold pb-4">
          <%= t("record.empty", resource: t("my_profile.my_certificates.certificates")) %>
        </h2>
      </div>
    <% end %>
  </div>

  <div class="flex justify-end gap-3 mt-4">
    <%= render 'shared/pagination/prev', items: @combined_items %>
    <%= render 'shared/pagination/next', items: @combined_items %>
  </div>
</div>