<div class="mt-2 flex flex-col gap-3 md:gap-4">
  <%= heading_component(text: t("my_profile.label"), size: 'md') %>
  <%= render "my_profiles/profile_header" , team: @team%>
</div>
<% cert_cards = certificate_cards(@course_certificates) %>
<% if cert_cards.any? %>
  <div class="mt-5 md:mt-6">
    <section class="bg-white py-5 md:px-5 md:pt-4 md:rounded-xl md:border md:border-line-colour-light space-y-5">
      <div class="flex items-center gap-3 justify-between">
        <h2 class="main-text-lg-semibold"><%= t("my_profile.my_certificates.label") %></h2>
        <%= link_to certificates_profile_path, data: { carousel_view_more: true } do %>
          <div class="hidden md:inline">
            <%= button_component text: t("button.view_more"),
                                 size: 'sm',
                                 type: 'outline',
                                 icon_name: 'chevron-right',
                                 icon_position: 'right' %>
          </div>
          <div class="md:hidden bg-primary-light-50 rounded-full p-1 border border-slate-grey-light">
            <%= icon 'chevron-right', css: 'w-4 h-4 text-primary' %>
          </div>
        <% end %>
      </div>
        <%= carousel_component cards: cert_cards, loop: false %>
    </section>
  </div>
<% else %>
  <div class="my-5 md:mt-6">
    <%= heading_component(text: t("my_profile.my_certificates.label"), size: 'sm') %>
  </div>
  <div class="mt-3 md:mt-4">
    <div class="border border-line-colour rounded-lg md:rounded-xl">
      <div class="flex flex-col items-center justify-center mt-10 mb-5">
        <h2 class="text-semibold pb-4">
          <%= t("record.empty", resource: t("my_profile.my_certificates.certificates")) %>
        </h2>
      </div>
    </div>
  </div>
<% end %>
<% if @enrolled_courses_by_status.present? %>
  <% ongoing_label = t("my_profile.my_courses.ongoing") %>
  <% status_cards = @enrolled_courses_by_status.transform_values { |courses| course_cards(courses) } %>
  <div class="my-5 md:mt-6">
    <section class="space-y-2">
      <p class="heading-xl px-2"><%= t("my_profile.my_courses.label") %></p>

      <%# Desktop - tabs with carousel %>
      <section class="hidden md:block bg-white p-5 pr-0 md:pr-5 md:pt-4 md:rounded-xl md:border md:border-line-colour-light space-y-4">
        <div data-controller="auto-click">
          <div class="flex flex-col gap-4 tabs-list"
               data-controller="tabs"
               data-tabs-active-class="text-letter-color border-b border-letter-color">
            <%= content_tag :div, class: "flex gap-3 md:gap-4 main-text-md-semibold border-b border-line-colour" do %>
              <% @enrolled_courses_by_status.keys.each do |tab_key| %>
                <div class="p-1 cursor-pointer"
                     data-auto-click-target="tabItem"
                     data-tabs-target="tabItem"
                     data-action="click->tabs#select">
                  <%= tab_key %>
                </div>
              <% end %>
            <% end %>
            <div class="tab-panels-container">
              <% status_cards.each do |status, all_cards| %>
                <% view_all_path = status == ongoing_label ? continue_courses_path(from: 'my_profile') : complete_courses_path(from: 'my_profile') %>
                <div data-tabs-target="panelItem" class="space-y-4">
                  <%= carousel_component cards: all_cards, loop: false, enable_in_small_devices: false %>
                  <%= link_to view_all_path, class: 'block w-fit', data: { carousel_view_more: true } do %>
                    <%= button_component text: t("my_profile.my_courses.show_all", status: status),
                                        size: 'sm',
                                        type: 'outline',
                                        icon_name: 'chevron-right',
                                        icon_position: 'right' %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </section>

      <%# Mobile - accordion %>
      <section class="md:hidden border-y border-line-colour">
        <% status_cards.each do |status, all_cards| %>
          <% view_all_path = status == ongoing_label ? continue_courses_path(from: 'my_profile') : complete_courses_path(from: 'my_profile') %>
          <%= accordion_component header: status do %>
            <div class="flex flex-col w-full gap-3 pb-5">
              <% all_cards.take(3).each do |card_html| %>
                <div class="w-full">
                  <%= card_html %>
                </div>
              <% end %>
              <%= link_to view_all_path, class: 'block w-fit mx-auto' do %>
                <%= button_component text: t("my_profile.my_courses.show_all", status: status),
                                     size: 'sm',
                                     type: 'outline',
                                     icon_name: 'chevron-right',
                                     icon_position: 'right' %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </section>
    </section>
  </div>
<% end %>
