<div class="relative flex w-full items-center">

  <% if date_picker.form.present? %>
    <%= date_picker.form.text_field date_picker.name,
          value: date_picker.value,
          class: date_picker.html_options[:class],
          data: { date_picker_target: "dateSelector" },
          disabled: date_picker.disabled %>
  <% else %>
    <%= text_field_tag date_picker.name,
          date_picker.value,
          class: date_picker.html_options[:class],
          data: { date_picker_target: "dateSelector" },
          disabled: date_picker.disabled %>
  <% end %>
  <input type="date"
        class="invisible p-0 w-[2px]"
        data-date-picker-target="datePicker"
        data-action="change->date-picker#datePicked"
        min="<%= Date.today.strftime('%Y-%m-%d') %>" />


  <div class="<%= date_picker.icon_wrapper_style %>" data-action="click->date-picker#openDatePicker">
    <%= icon("calendar", css: date_picker.icon_style) %>
  </div>
</div>


