<div class="header relative flex bg-white justify-between">
  <% if title.present? %>
    <div class="header-title"><%= title %></div>
  <% end %>

  <div class="flex p-4">
    <ul class="flex flex-auto gap-2 justify-end items-center">
      <% if user_signed_in? %>
        <li>
          <%= form_tag search_courses_path, method: :get, class: "px-2.5 flex gap-1 items-center gap-2" do %>
            <div class="border rounded-lg border-gray-200">
              <%= text_field_tag :term, "", id: "course-search", class: "flex-1 px-2 py-2 border rounded-lg border-gray-200 font-light text-base text-gray-500 border-none border-transparent focus:border-transparent focus:ring-0", style: "background: transparent;", placeholder: "Search courses ..." %>
            </div>
            <%= button_tag type: "submit", class: "btn-primary btn-icon text-gray-500 hover:text-gray-800" do %>
              <%= render "shared/svg/search" %>
            <% end %>
          <% end %>
        </li>
        <li>
          <%= link_to "Logout", destroy_user_session_path, class: "btn-primary", data: { turbo_method: :delete } %>
        </li>
      <% else %>
        <li class="my-8 text-center">
          <%= link_to "Login", new_user_session_path, class: "btn-primary" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<% unless header_extended %>
<hr>
<%  end %>
<%= turbo_frame_tag :notice %>