<div class="bg-gray-900 h-full px-4 py-6 relative">
  <ul class="text-gray-500 text-sm">
    <li class="text-center mb-6">
      <%= link_to root_path, class: "text-gray-50" do %>
        <%= render "shared/svg/logo" %>
      <% end %>
    </li>
    <li class="px-3 py-2.5 hover:bg-bl-100 hover:rounded-lg hover:text-gray-100">
      <%= link_to  dashboard_path, class: "flex items-center gap-2" do %>
        <%= render "shared/svg/home" %>
        <span>Home</span>
      <% end %>
    </li>
    <li class="px-3 py-2.5 hover:bg-bl-100 hover:rounded-lg hover:text-gray-100">
      <%= link_to  courses_path, class: "flex items-center gap-2" do %>
        <%= render "shared/svg/book" %>
        <span>My Courses</span>
      <% end %>
    </li>
    <li class="px-3 py-2.5 hover:bg-bl-100 hover:rounded-lg hover:text-gray-100">
      <%= link_to  "#", class: "flex items-center gap-2" do %>
        <%= render "shared/svg/bell" %>
        <span>Notifications</span>
      <% end %>
    </li>
  </ul>

  <ul class="absolute bottom-0 left-0 w-full px-4 py-6 text-sm">
    <li class="px-3 py-2.5 text-gray-500 hover:bg-bl-100 hover:rounded-lg hover:text-gray-100 ">
      <%= link_to  settings_path, class: "flex items-center gap-2" do %>
        <%= render "shared/svg/gear" %>
        <span>Settings</span>
      <% end %>
    </li>
    <li class="px-3 py-2.5 text-gray-500 hover:bg-bl-100 hover:rounded-lg hover:text-gray-100 mb-4">
      <%= link_to  "#", class: "flex items-center gap-2" do %>
        <%= render "shared/svg/help" %>
        <span>Support</span>
      <% end %>
    </li>
    <li class="text-gray-100 border-t border-gray-800 pt-4">
      <%= link_to "#" do %>
        <div class="flex items-center">
          <div class="flex justify-center items-center rounded-full w-8 h-8 bg-gray-500 text-gray-100"><%= current_user.name[0] %></div>
          <div class="ml-2"><%= current_user.name %></div>
          <div class="text-gray-500 grow flex justify-end" data-tooltip-target="tooltip-default">
            <%= render "shared/components/tooltip", text: "Profile settings" %>
            <%= render "shared/svg/right" %>
          </div>
        </div>
      <% end %>
    </li>
  </ul>
</div>