<%= render "shared/components/desktop_layout" do %>
  <h1 class="font-semibold text-xl my-4">User settings</h1>
  <div class="box-shadow-medium rounded">
      <div class="flex gap-8 p-8 border-b border-line-colour">
        <div>
          <div class="flex justify-center items-center w-14 h-14 rounded-full border border-line-colour px-4">
            <span class="icon icon-user icon-medium"></span>
          </div>
        </div>
        <div>
          <div class="flex gap-4 items-center"><span class="font-semibold text-base"><%= current_user.name %></span> <%= image_tag current_user.team.banner, class: "h-3 w-20 object-cover"%></div>
          <div class="flex gap-4"><span class="font-normal text-sm text-letter-color-light">Organization: <%= current_user.learning_partner.name %></span><span class="font-normal text-sm text-letter-color-light">Role: <%= role_text(current_user.role) %></span></div>
        </div>
      </div>
      <div class="flex gap-8 p-8 border-b border-line-colour">
        <div class="flex flex-col gap-8">
          <div>
            <h1 class="font-semibold text-base">Personal information</h1>
            <%= link_to "#", class: "" do %>
              <span>Edit</span>
              <span class="icon icon-edit icon-small"></span>
            <% end %>
          </div>
          <div>
            <div class="font-normal text-sm text-letter-color-light">Email</div>
            <div class="font-medium text-base mt-2"><%= current_user.email %></div>
          </div>
          <div>
            <div class="font-normal text-sm text-letter-color-light">Phone</div>
            <div class="font-medium text-base mt-2"><%= current_user.phone %></div>
          </div>
        </div>
      </div>
      <div class="p-8">
        <h1 class="font-semibold text-base">Change password</h1>
        <div class="mt-4">
          <%= link_to 'change your password', "#", class: "link-text" %>
        </div>
      </div>

  </div>

<% end %>