<%= render "shared/components/mobile_layout" do %>
  <h1 class="text-sm font-medium">User settings</h1>
  <% if current_user.not_admin? %>
    <div class="flex flex-col">
      <div class="mt-4 bg-line-colour-light rounded">
        <%= image_tag team_banner(current_user.team, 'mobile'), class: 'h-[194px] w-full object-cover rounded-lg box-shadow-medium' %>
      </div>
      <div class="flex justify-start -mt-10 ml-4">
        <%= link_to "javascript:void(0);", class: "inline-block w-20 h-20" do %>
          <%= render 'shared/components/profile_pic', letter: letter_avatar(@user) %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= render 'settings/page_header_mobile' %>
  <div class="rounded box-shadow-medium">
    <%= render 'settings/page_body_mobile' %>
    <div class="p-4">
      <h1 class="text-base font-semibold">Change password</h1>
      <div class="mt-2">
        <%= link_to 'Change your password', change_password_settings_path, data: { turbo_frame: 'change-password-modal' }, class: 'link-text text-purple' %>
      </div>
    </div>
  </div>
<% end %>
