<%= turbo_frame_tag 'change-password-modal' do %>
  <div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-80 z-[9999] md:items-center md:justify-center" data-controller="modals" data-modals-target="modalBox">
    <div class="absolute bottom-4 rounded-lg bg-white w-[326px] md:w-[462px] md:relative md:inset-auto md:bottom-auto md:rounded-lg">
      <div class="flex items-center justify-between border-b p-6 border-line-colour-light">
        <span class="text-base font-semibold">Change Password</span>
        <button data-action="click->modals#closeModal">
          <span class="icon icon-close icon-small"></span>
        </button>
      </div>

      <%= form_with(url: update_password_settings_path, method: :put, model: @user, data: { turbo: false }, class: "flex flex-col gap-6 p-6") do |form| %>

        <div class="text-sm text-danger"><%= t('settings.password_change') %></div>

        <%= render "shared/components/form_errors", resource: @user %>

        <div class="flex flex-col gap-4">
          <%= form.label :password, class: "block text-sm" %>
          <%= form.password_field :password, placeholder: "Set your password", class: "w-full px-3 py-2 border rounded" %>
        </div>

        <div class="flex flex-col gap-4">
          <%= form.label :password_confirmation, class: "block text-sm" %>
          <%= form.password_field :password_confirmation, placeholder: "Confirm your password", class: "w-full px-3 py-2 border rounded" %>
        </div>

        <div class="flex flex-col justify-between">
          <%= form.button "Save password", class: "bg-primary text-white px-4 py-2 rounded" %>
          <%= form.button "Cancel", class: "px-4 py-2", data: { action: "click->modals#closeModal" } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>