<%= turbo_frame_tag 'change-password-modal' do %>
  <div class="fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center md:items-center md:justify-center z-[9999]" data-controller="modals" data-modals-target="modalBox">
    <div class="bg-white rounded-lg w-[326px] md:w-[462px] md:rounded-lg md:relative absolute bottom-4 md:bottom-auto md:inset-auto">
      <div class="flex items-center justify-between border-b border-line-colour-light p-6">
        <span class="text-base font-semibold">Change Password</span>
        <button data-action="click->modals#closeModal">
          <span class="icon icon-close icon-small"></span>
        </button>
      </div>

      <%= form_with(url: update_password_settings_path, method: :put, model: @user, class: "flex flex-col gap-6 p-6") do |form| %>

        <% if @user.errors.any? %>
          <div>
            <ul>
              <% @user.errors.each do |error| %>
                <li class="text-danger"><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="flex flex-col gap-4">
          <%= form.label :password, class: "block text-sm" %>
          <%= form.password_field :password, placeholder: "Set your password", class: "w-full px-3 py-2 border rounded" %>
        </div>

        <div class="flex flex-col gap-4">
          <%= form.label :password_confirmation, class: "block text-sm" %>
          <%= form.password_field :password_confirmation, placeholder: "Confirm your password", class: "w-full px-3 py-2 border rounded" %>
        </div>

        <div class="flex flex-col justify-between">
          <%= form.button "Save password", class: "bg-primary text-white px-4 py-2 rounded" %>
          <%= form.button "Cancel", class: "px-4 py-2", data: { action: "click->modals#closeModal" } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>