<%= render "shared/components/layout" do %>
  <h1 class="mb-4 text-xl font-semibold">User settings</h1>
  <% if current_user.not_admin? %>
    <div class="flex flex-col">
      <div class="mt-2 bg-line-colour-light rounded">
        <%= image_tag team_banner(current_user.team, 'desktop'), class: 'h-[194px] w-full object-cover rounded box-shadow-medium' %>
      </div>
      <div class="flex justify-start -mt-10 ml-6">
        <%= link_to "javascript:void(0);", class: "inline-block w-20 h-20" do %>
          <%= render 'shared/components/profile_pic', letter: letter_avatar(@user) %>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= render 'settings/page_header', user: @user %>
  <div class="rounded box-shadow-medium">
    <%= render 'settings/page_body', user: @user  %>
    <div class="p-6">
      <h1 class="text-base font-semibold">Change password</h1>
      <div class="mt-2">
        <%= link_to 'Change your password', change_password_settings_path, data: { turbo_frame: 'change-password-modal' }, class: 'link-text text-purple' %>
      </div>
    </div>
  </div>
<% end %>

<%= turbo_frame_tag 'change-password-modal' %>
