

<div class="my-6">
  <%= render "shared/components/back_button", back_link: ui_components_path %>
</div>

<%= h3_component(text: "Modal Component") %>

<%= doc_section_component(title: "Sample modal") do %>
  <%= link_to ui_modal_preview_path, data: { turbo_frame: "modal" } do %>
    <%= button(label: "Click here for modal") %>
  <% end %>
<% end %>

<%= doc_section_component(title: "Success modal (header-less modal)") do %>
  <%= link_to ui_success_modal_path, data: { turbo_frame: "modal" } do %>
    <%= button(label: "Click here for success modal") %>
  <% end %>
<% end %>



