<%= render "shared/header", header_options %>

<h1 class="my-8 text-3xl font-bold">
  <p class="auto text-center">Welcome to Blackboard LMS</p>
</h1>

<% if user_signed_in? %>
  <ul>
    <li><%= link_to 'Sign Out', destroy_user_session_path, data: { turbo_method: :delete } %></li>

    <% if policy(:learning_partner).show? %>
      <li><%= link_to 'Learning partners', learning_partners_path %></li>
    <% end %>

    <li><%= link_to 'Course management', courses_path %></li>

    <% if policy(:user).index? %>
      <li><%= link_to 'User management', users_path %></li>
    <% end %>
    <li><%= link_to 'Settings', user_path(current_user) %></li>
    <li><%= link_to 'Analytic Events Stream', events_path %></li>
  </ul>
<% else %>
  <p class="my-8 text-center">
    <%= link_to 'Sign in', new_user_session_path, class: "border rounded p-2 min-w-4 min-h-2 auto" %>
  </p>
<% end %>