<div id="user-settings-page-body">
  <div class="flex border-b p-4 md:p-6  border-line-colour ">
    <div class="flex w-full flex-col gap-4 md:gap-8">
      <div class="flex justify-between">
        <h1 class="text-semibold">Personal information</h1>
        <%= link_to edit_user_settings_path, data: { turbo_frame: "modal" }, class: "flex items-center" do %>
          <%= button(label: 'Edit', type: "secondary", size:"sm", icon_name: "pencil") %>
        <% end %>
      </div>
      <div>
        <div class="text-sm font-normal text-letter-color-light">Organization</div>
        <div class="mt-2 text-medium"><%= org_name(user.learning_partner) %></div>
      </div>
      <div>
        <div class="text-sm font-normal text-letter-color-light">Role</div>
        <div class="mt-2 text-medium"><%= role_text(user.role) %></div>
      </div>
      <div>
        <div class="text-sm font-normal text-letter-color-light">Email</div>
        <div class="mt-2 text-medium"><%= email(user) %></div>
      </div>
      <div>
        <div class="text-sm font-normal text-letter-color-light">Phone</div>
        <% if user.phone.present? %>
          <div class="mt-2 text-medium"><%= user.country_code %><%= user.phone %></div>
        <% else %>
          <div class="mt-2 text-medium">-</div>
        <% end %>
      </div>
    </div>
  </div>
</div>
