<% modal_footer = capture do %>
  <div class="flex gap-2 sticky bottom-0 bg-white w-full">
    <div class="flex-1" data-action="click->modals#closeModal">
      <%= button_component(text: "Cancel", type:"outline") %>
    </div>
    <%= button_tag form: "otp-form", class: "flex-1 cursor-not-allowed pointer-events-none", disabled: true, data: { otp_submit_target: "submitButton" } do %>
      <%= button_component(text: "Done", html_options: { data: { otp_submit_target: "innerButton" } }) %>
    <% end %>
  </div>
<% end %>

<%= modal_box_component(
      title: "Verify Phone number",
      modal_footer:,
      html_options: { data: { controller: "otp-submit", action: "input->otp-submit#updateHiddenOtp" } }
    ) do %>
  <%= form_with(url: verify_phone_number_user_settings_path, method: :post, id: "otp-form", class: "flex flex-col gap-6") do |form| %>
    <div class="flex flex-col gap-4">
      <% if @error.present? %>
        <p class="text-sm text-danger"><%= @error %></p>
      <% end %>
      <p class="text-sm text-letter-color-light">Enter the OTP sent to your phone number</p>
      <%= input_otp(
            form:,
            input_options: {
              data: {
                otp_submit_target: "input",
                action: "input keydown change->otp-submit#handleInputOrKeyDown"
              }
            }
          ) %>
      <%= form.hidden_field :otp, data: { otp_submit_target: "hiddenOtp" } %>
    </div>
  <% end %>
<% end %>