<% modal_footer = capture do %>
  <div class="flex gap-2 sticky bottom-0 bg-white w-full">

    <div class="flex-1" data-action="click->modals#closeModal">
      <%= button_component(text: "Cancel", type:"outline") %>
    </div>
    <%= button_tag form: "password-form", class: "flex-1 " do %>
      <%= button_component(text: "Save password") %>
    <% end %>    
  </div>
<% end %>

<%= modal_box_component(
      title: "Change password",
      modal_footer:
    ) do %>
  <%= form_with(url: update_password_user_settings_path, method: :put, model: @user, id: "password-form", class: "flex flex-col gap-6") do |form| %>

    <div class="flex flex-col gap-4">
      <%= input_text_component(name: :password, label: "Enter new Password", type: 'password', placeholder: "Enter your password") %>
      <%= input_text_component(name: :password_confirmation, label: "Confirm new Password", type: 'password', placeholder: "Re-enter your password") %>
    </div>
  <% end %>
<% end %>
