<%= turbo_frame_tag 'edit-user-settings-modal' do %>
  <div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-80 z-[9999] md:items-center md:justify-center" data-controller="modals" data-modals-target="modalBox">
    <div class="absolute bottom-4 rounded-lg bg-white w-[326px] md:w-[462px] md:relative md:inset-auto md:bottom-auto md:rounded-lg">
      <div class="flex items-center justify-between border-b p-6 border-line-colour-light">
        <span class="text-base font-semibold">Settings</span>
        <button data-action="click->modals#closeModal">
          <span class="icon icon-close icon-small bg-letter-color"></span>
        </button>
      </div>
      <%= form_with(url: user_settings_path, method: :put, model: @user, class: "flex flex-col gap-6 p-6") do |form| %>
        <%= render "shared/components/form_errors", resource: @user %>
        <div class="flex flex-col gap-4">
          <%= form.label :name, class: "block text-sm" %>
          <%= form.text_field :name, placeholder: "Set your name", class: "input-text" %>
        </div>
        <div class="flex flex-col gap-4">
          <%= form.label :phone, class: "block text-sm" %>
          <%= form.text_field :phone, placeholder: "Set your 10 digit phone number", class: "input-number" %>
        </div>
        <div class="flex flex-col gap-6 justify-between">
          <%= form.button "Save settings", class: "bg-primary text-white p-4 rounded" %>
          <%= form.button "Cancel", data: { action: "click->modals#closeModal" } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
