<%= render "shared/components/modal", modalTitle: "Settings" do %>
  <%= form_with(url: user_settings_path, method: :put, model: @user, class: "flex flex-col gap-6 p-6") do |form| %>

    <%= render "shared/components/form_errors", resource: @user %>

    <div class="flex flex-col gap-4">
      <%= input_field(form:form, field_name: :name, label: "Name", placeholder: "Set your name",type: "text", width:"w-full") %> 
    </div>

    <div class="flex flex-col gap-4">

      <%= input_mobile(form: form, field_name: :phone,label: "Phone number", placeholder: "Set your 10 digit phone number") %>
    </div>

    <div class="flex flex-col justify-between">
      <%= form.button "Save settings", class: "bg-primary text-white px-4 py-2 rounded" %>
      <%= form.button "Cancel", class: "px-4 py-2", data: { action: "click->modals#closeModal" } %>
    </div>
  <% end %>
<% end %>