<% element = content_tag :div, class: "flex justify-center items-center" do %>
  <% if input.form.present? %>
    <%= input.form.radio_button input.name, input.value, **input.html_options %>
  <% else %>
    <%= radio_button_tag input.name, input.value, **input.html_options %>
  <% end %>
  <div class="w-5 h-5 flex justify-center items-center rounded-full border-2 <%= input.radio_circle_style %>">
    <div class="w-2 h-2 inline-block rounded-full <%= input.radio_dot_style %>"></div>
  </div>
<% end %>

<% label_tag = content_tag :div, input.label, class: "main-text-lg-normal" %>

<%= arrange_tags(label_tag, element, input.label_position) %>