<%= render "shared/components/modal", modalTitle: "Edit Tag" do %>
  <%= form_with(model: @tag, url: tag_path(@tag), method: :patch, class: "flex flex-col gap-6 p-6") do |form| %>
    <%= render "shared/components/form_errors", resource: @tag %>
    <div class="flex flex-col gap-4">
      <%= form.label :name, class: "block text-sm" %>
      <%= form.text_field :name, value: @tag.name, placeholder: "Enter tag name", class: "input-text" %>
    </div>
    <div class="flex flex-col gap-4">
      <%= form.label :type, class: "block text-sm" %>
      <%= form.select :tag_type, options_for_select(tag_list, @type) %>
    </div>
    <div class="flex flex-col justify-between">
      <%= form.button "Save", class: "bg-primary text-white px-4 py-2 rounded" %>
      <%= form.button "Cancel", class: "px-4 py-2", data: { action: "click->modals#closeModal" } %>
    </div>
  <% end %>
<% end %>
