<div class="flex gap-4 justify-between">
  <%= render 'shared/components/bread_crumbs', links: [[t("settings.label"), settings_path], [t("tags.label"), nil]] %>
  <%= link_to new_tag_path, class: "nav-link", data: { turbo_frame: "modal" } do %>
    <%= render 'shared/components/icon_button_primary', label: 'Add tag', icon_name: 'icon-plus' %>
  <% end %>
</div>
<h1 class="mb-4 heading page-heading-medium pt-2">Tags</h1>

<div id="tags-count">
  <h1 class="mb-4 label-small"><%= pluralize(@tags_count, "tag") %></h1>
</div>
<div id="tags-table">
  <%= render "tags/tag_list", tags: @tags, tags_count: @tags_count %>
</div>
