<%= render "shared/components/modal", modalTitle: "Add new tag" do %>
  <%= form_with(url: tags_path, method: :post, model: @tag, class: "flex flex-col gap-6 p-6") do |form| %>
    <%= render 'shared/components/form_errors', resource: @tag %>
    <div class="flex flex-col gap-4">
      <%= input_field(form:form, field_name: :name, label: "Name", placeholder: "Enter tag name",type: "text", width:"w-full") %> 
    </div>
    <div class="flex flex-col gap-4">
      <%= input_dropdown(form:, field_name: :tag_type, label: "Type", options:options_for_select(tag_list)) %>
    </div>
    <div class="flex flex-col gap-6 justify-between heading">
      <%= form.button "Create", class: "bg-primary text-white p-4 rounded" %>
      <%= form.button "Cancel", data: { action: "click->modals#closeModal" } %>
    </div>
  <% end %>
<% end %>