<div class="flex flex-col gap-4">
  <% if label.present? %>
    <label class="text-letter-color-light text-sm leading-tight">
      <%= label %>
    </label>
  <% end %>

  <% input_classes = "w-full text-letter-color-light text-base px-4 py-3 border-none rounded" %>
  <% input_classes += (left_icon.present? || right_icon.present?) ? " focus:outline-none" : " focus:border focus:border-primary" %>

  <% is_text_area = type == "text_area" %>

  <div class="bg-white justify-between items-center flex rounded border border-line-colour <%= width %> ">
    <% if left_icon.present? %>
      <div class="pl-4 pt-2">
        <%= icon(left_icon, css: "icon-mini") %>
      </div>
    <% end %>

    <% if form.present? %>
      <% case type %>
      <% when "password" %>
        <%= form.password_field field_name, class: input_classes, placeholder: placeholder %>
      <% when "email" %>
        <%= form.email_field field_name, class: input_classes, placeholder: placeholder %>
      <% when "number" %>
        <%= form.number_field field_name, class: input_classes, placeholder: placeholder %>
      <% when "text_area" %>
        <%= form.text_area field_name, class: input_classes, placeholder: placeholder, rows: rows %>
      <% else %>
        <%= form.text_field field_name, class: input_classes, placeholder: placeholder %>
      <% end %>
    <% else %>
      <% if is_text_area %>
        <textarea placeholder="<%= placeholder %>" class="<%= input_classes %>" rows="<%= rows %>"></textarea>
      <% else %>
        <input type="<%= type %>" placeholder="<%= placeholder %>" class="<%= input_classes %>" />
      <% end %>
    <% end %>

    <% if right_icon.present? %>
      <div class="pt-2">
        <%= icon(right_icon, css: "icon-mini") %>
      </div>
    <% end %>
  </div>
</div>
