<div class="flex flex-col gap-4 <%= width %> ">
  <% if label.present? %>
    <label class="text-letter-color-light text-sm md:text-base leading-tight">
      <%= label %>
    </label>
  <% end %>

  <% input_classes = "w-full text-letter-color-light text-base px-4 py-3 border-none rounded" %>
  <% input_classes += (left_icon.present? || right_icon.present?) ? " focus:ring-0 focus:outline-none" : " focus:border focus:border-primary" %>
  <% html_options[:class] = [input_classes, html_options[:class]].compact.join(" ") %>
  <% is_text_area = type == "text_area" %>

  <% field_options = html_options.merge(placeholder: placeholder) %>
  <% field_options[:value] = value if value.present? %>

  <div class="bg-white justify-between items-center flex rounded border border-line-colour">
    <% if left_icon.present? %>
      <div class="pl-4 flex items-center">
        <%= icon(left_icon, css: "icon-small") %>
      </div>
    <% end %>

    <% if form.present? %>
      <% case type %>
      <% when "password" %>
        <%= form.password_field field_name, field_options %>
      <% when "email" %>
        <%= form.email_field field_name, field_options %>
      <% when "number" %>
        <%= form.number_field field_name, field_options%>
      <% when "text_area" %>
        <%= form.text_area field_name,field_options%>
      <% else %>
        <%= form.text_field field_name, field_options %>
      <% end %>
    <% else %>
      <% if is_text_area %>
        <textarea placeholder="<%= placeholder %>" rows="<%= rows %>" class="<%= html_options[:class] %>"><%= value %>></textarea>
      <% else %>
        <%= text_field_tag field_name, value,field_options %>
      <% end %>
    <% end %>

    <% if right_icon.present? %>
      <div class="pt-2">
        <%= icon(right_icon, css: "icon-mini") %>
      </div>
    <% end %>
  </div>
</div>