<div class="my-6">
  <%= render "shared/components/back_button", back_link: ui_components_path %>
</div>

<ul class="my-6 flex flex-col gap-2">
  <li><%= link_component(text: 'Text field', url: ui_inputs_text_field_path) %></li>
  <li><%= link_component(text: 'Radio button', url: ui_inputs_radio_button_path) %></li>
  <li><%= link_component(text: 'Check box', url: ui_inputs_checkbox_path) %></li>
  <li><%= link_component(text: 'File selector', url: ui_inputs_file_selector_path) %></li>
</ul>

<hr>

<p class="my-2">Old code to be removed later</p>

<ul>
  <li>
    <div class="heading heading-medium">Text input with icon</div>
    <%= input_field(label: "Text Input", placeholder: "Search here", left_icon: "magnifying-glass",) %>
  </li>
  <li>
    <%= input_field(label: "Select an Option", type: "dropdown_field", options: ["Option 1", "Option 2", "Option 3"]) %>
  </li>
  <li>
    <%= input_radio(label: "Radio Option", option: "A.English") %>
  </li>

  <li>
    <%= form_with do |form| %>
      <%= date_select_component(form:, field_name: :start_date) %>
    <% end %>
  </li>
</ul>
<h3>Form with fields</h3>
<%= form_with model: User.new, url: courses_path, method: :post do |form| %>
  <ul class="my-6 flex flex-col gap-4">
    <li>
      <%= input_field(form:, label: "Text Input", placeholder: "Enter text") %>
    </li>
    <li class="">
      <%= input_field(form:, field_name: :email, label: "Email", placeholder: "Enter your email", type: "email") %>
    </li>
    <li class="">
      <%= input_field(form:, field_name: :password, label: "Password", placeholder: "Enter password", type: "password") %>
    </li>
    <li class="">
      <%= input_field(form:, field_name: :number, label: "Number", placeholder: "Enter number", type: "number") %>
    </li>
    <li>
      <%= input_field(form:, label: "Select an Option", type: "dropdown_field", options: ["Option 1", "Option 2", "Option 3"]) %>
    </li>
    <li>
      <%= input_radio(form:, label: "Radio Option", option: "A.English") %>
    </li>
    <li>
      <%= input_checkbox(form:, field_name: :remember_me, label: "Remember me") %>
    </li>
    <li>
      <%= input_dropdown(form:, field_name: :category_id, label: "Category", options: ["Option 1", "Option 2", "Option 3"]) %>
    </li>
  </ul>
<% end %>

