<div class="my-6">
  <%= render "shared/components/back_button", back_link: ui_components_path %>
</div>
<%= h1_component text: "Mobile Inputs" %>
<%= text_component text: "Mobile input fields allow users to enter their mobile numbers." %>
<%= text_component text: "When country_code is passed as parameter, it is rendered as read only text field, else available country codes can be selected via a select control" %>

<%= doc_section_component(title: "Mobile input without label and subtext") do %>
  <%= input_mobile_component(name: 'Mobile1', country_code: '+91') %>
<% end %>

<%= doc_section_component(title: "Mobile input") do %>
  <%= input_mobile_component(name: 'Mobile2', label: "Phone", placeholder: "Enter your mobile", subtext: '10 digits', country_code: '+91') %>
<% end %>

<%= doc_section_component(title: "Mobile input large") do %>
  <%= input_mobile_component(name: 'Mobile3', label: "Phone", placeholder: "Enter your mobile", subtext: '10 digits', size: 'lg', country_code: '+91') %>
<% end %>

<%= doc_section_component(title: "Mobile input with code select") do %>
  <%= input_mobile_component(name: 'Mobile4', label: "Phone", placeholder: "Enter your mobile", subtext: '10 digits') %>
<% end %>

<%= doc_section_component(title: "Mobile input large with code select") do %>
  <%= input_mobile_component(name: 'Mobile5', label: "Phone", placeholder: "Enter your mobile", subtext: '10 digits', size: 'lg') %>
<% end %>


<%= doc_section_component(title: "Mobile input with right icon") do %>
  <%= input_mobile_component(name: 'Mobile6', label: "Phone", placeholder: "Enter your mobile", subtext: '10 digits', icon_name: 'user-circle', country_code: '+91') %>
<% end %>

<%= doc_section_component(title: "Mobile input with right icon large") do %>
  <%= input_mobile_component(name: 'Mobile7', label: "Phone", placeholder: "Enter your mobile", subtext: '10 digits', icon_name: 'user-circle', size: 'lg', country_code: '+91') %>
<% end %>

<%= doc_section_component(title: "Mobile input with left icon") do %>
  <%= input_mobile_component(name: 'Mobile8', label: "Phone", placeholder: "Enter your mobile", subtext: '10 digits', icon_name: 'user-circle', icon_position: 'left', country_code: '+91') %>
<% end %>

<%= doc_section_component(title: "Mobile input with left icon large") do %>
  <%= input_mobile_component(name: 'Mobile9', label: "Phone", placeholder: "Enter your mobile", subtext: '10 digits', icon_name: 'user-circle', icon_position: 'left', size: 'lg', country_code: '+91') %>
<% end %>

<%= doc_section_component(title: "Mobile input with error state") do %>
  <%= input_mobile_component(name: 'Mobile10', label: "Phone", placeholder: "Enter your mobile", value: "988628", subtext: '10 digits', error: "Incorrect mobile", icon_name: 'user-circle', country_code: '+91') %>
<% end %>

<%= doc_section_component(title: "Mobile input with error state") do %>
  <%= input_mobile_component(name: 'Mobile11', label: "Phone", placeholder: "Enter your mobile", value: "988628", subtext: '10 digits', error: "Incorrect mobile", icon_name: 'user-circle', size: 'lg', country_code: '+91') %>
<% end %>

<%= doc_section_component(title: "Mobile input with error state with code select") do %>
  <%= input_mobile_component(name: 'Mobile12', label: "Phone", placeholder: "Enter your mobile", value: "988628", subtext: '10 digits', error: "Incorrect mobile", icon_name: 'user-circle') %>
<% end %>

<%= doc_section_component(title: "Mobile input large with error state with code select") do %>
  <%= input_mobile_component(name: 'Mobile13', label: "Phone", placeholder: "Enter your mobile", value: "988628", subtext: '10 digits', error: "Incorrect mobile", icon_name: 'user-circle', size: 'lg') %>
<% end %>

<%= doc_section_component(title: "Mobile input with disabled state") do %>
  <%= input_mobile_component(name: 'Mobile14', label: "Phone", placeholder: "Enter your mobile", value: "9886289703", subtext: '10 digits', icon_name: 'user-circle', disabled: true, country_code: '+91') %>
<% end %>

<%= doc_section_component(title: "Mobile input with disabled state") do %>
  <%= input_mobile_component(name: 'Mobile15', label: "Phone", placeholder: "Enter your mobile", value: "9886289703", subtext: '10 digits', icon_name: 'user-circle', disabled: true, size: 'lg', country_code: '+91') %>
<% end %>

<%= doc_section_component(title: "Mobile input with disabled state with code select") do %>
  <%= input_mobile_component(name: 'Mobile16', label: "Phone", placeholder: "Enter your mobile", value: "9886289703", subtext: '10 digits', icon_name: 'user-circle', disabled: true) %>
<% end %>

<%= doc_section_component(title: "Mobile input large with disabled state with code select") do %>
  <%= input_mobile_component(name: 'Mobile17', label: "Phone", placeholder: "Enter your mobile", value: "9886289703", subtext: '10 digits', icon_name: 'user-circle', disabled: true, size: 'lg') %>
<% end %>
