<div class="border-b border-line-colour last:border-0"
     data-controller="collapsible"
     data-collapsible-open-value="<%= open %>">
  <div class="">
    <div data-action="click->collapsible#toggle"
            class="flex gap-2 items-center  py-4 px-5  <%= icon_position_style %> w-full group cursor-pointer hover:bg-primary-light-50  <%= wrapper_class %>">
      <%= header %>

      <div data-collapsible-target="icon" class="text-primary transition-transform duration-300 ease-in-out transform">
        <%= icon 'chevron-down', css: 'w-5 h-5' %>
      </div>
    </div>

    <div data-collapsible-target="content" class="hidden">
      <% if content %>
        <%= content %>
      <% else %>
        <p>No content available</p>
      <% end %>
    </div>
  </div>
</div>