<div class="flex flex-col border-b border-line-colour pb-6">
  <div class="embed-container border-line-colour-light rounded border p-2">
    <% if @video_iframe.blank? %>
      <div class="w-full inline-block text-center">Sorry! video is not available</div>
    <% else %>
      <%= @video_iframe.html_safe %>
    <% end %>
  </div>

  <% if supported_languages(lesson).length > 1 %>
    <div class="flex w-full">
      <details class="p-4 flex justify-between w-full">
        <summary class="flex cursor-pointer items-center justify-between select_language bg-slate-grey-light p-[10px]">
          <h2 class="flex flex-col justify-start text-base pe-1">
            <span class="text-primary"><%= selected_language %></span>
          </h2>
          <span class="icon icon-down icon-small"></span>
          <span class="icon-up hidden icon-small"></span>
        </summary>
        <ul class=" mt-2 rounded box-shadow-small">
          <% supported_languages(lesson).each do |key, lang| %>
            <li>
              <%= link_to lang, course_module_lesson_path(course, course_module, lesson, lang: key), class: "block p-4 text-letter-color-light text-sm border-b border-line-colour bg-slate-grey-light" %>
            </li>
          <% end %>
        </ul>
      </details>
    </div>
  <% end %>
  <div class="bg-primary-light-50 mt-4 flex flex-col gap-2 p-4">
    <p class="overflow-hidden text-ellipsis text-base font-semibold">
      <%= @lesson.title  %>
    </p>
    <p class="flex gap-2 overflow-hidden text-sm">
      <span><%= lesson.rich_description %></span>
    </p>
  </div>
  <div class="flex justify-center gap-6 pt-6">
    <% if policy(lesson).complete? %>
      <%= link_to complete_course_module_lesson_path(course, course_module, lesson), params: { time_spent: 0 }, class: "bg-primary flex items-center gap-2 rounded px-4 py-2", data: { action: "click->lessons#completeLesson", turbo_method: :post } do %>
        <span class="text-xs text-white">Complete & Continue</span>
        <span class="icon icon-next icon-small"></span>
      <% end %>
    <% end %>
  </div>
</div>