<div class="box">
  <div class="my-8 w-80 text-left" data-controller="lessons-form">
    <% url = lesson.persisted? ? course_module_lesson_path(course, course_module, lesson) : course_module_lessons_path(course, course_module, lesson) %>
    <%= form_with(model: lesson, url: url) do |form| %>
      <% if lesson.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

          <ul>
            <% lesson.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="my-8 text-sm" >
        <%= form.label :title, class: "text-sm font-medium" %>
        <%= form.text_field :title, class: "input-text mt-2", placeholder: "Title for lesson eg: Wine serving" %>
      </div>

      <div class="my-8 text-sm" >
        <%= form.label :description, class: "text-sm font-medium" %>
        <%= form.text_area :description, class: "input-text mt-2", placeholder: "A short description about the lesson." %>
      </div>

      <div class="my-8 text-sm" >
        <%= form.label :video_url, class: "text-sm font-medium" %>
        <%= form.text_field :video_url, class: "input-text mt-2", placeholder: "eg: https://vimeo.com/948577869" %>
      </div>

      <template data-lessons-form-target="nestedRecordTemplate">
        <%= form.fields_for :local_contents, LocalContent.new, { child_index: "new-index" } do |f| %>
          <%= render "lessons/fields_for_local_content", builder: f %>
        <% end %>
      </template>

      <div data-lessons-form-target="nestedRecordContainer">
        <%= form.fields_for :local_contents do |f| %>
          <%= render "lessons/fields_for_local_content", builder: f %>
        <% end %>
      </div>

      <a href="javascript:void(0);" data-action="click->lessons-form#addRecord" class="link">Add another language</a>

      <div class="my-8 text-sm" >
        <% text = lesson.persisted? ? "Update" : "Create" %>
        <%= form.submit text, class: "btn-default" %>
      </div>
    <% end %>
  </div>
</div>