<div class="mt-2 text-left w-full md:max-w-[818px] md:bg-white md:border-2 border-line-colour-light p-1 md:p-8 rounded-xl" data-controller="lessons-form" data-lessons-form-action-name="<%= action_name %>">
  <% url = lesson.persisted? ? course_module_lesson_path(course, course_module, lesson) : course_module_lessons_path(course, course_module, lesson) %>
  <%= form_with(model: lesson, url: url, data: { turbo: false }) do |form| %>
    <%= form.hidden_field :has_error, value:lesson.errors.to_hash.to_json, data: { lessons_form_target: "hasError" } %>
    <div class="text-sm" >
      <%= input_text_component(
            form:,
            name: :title,
            label: "Title",
            placeholder: "Title for lesson eg: Wine serving",
            html_options: {
              data: {
                lessons_form_target: "titleInput",
                action: "input->lessons-form#titleChanged"
              }
            }
      ) %>
    </div>
    <div class="my-6 text-sm flex flex-col gap-2" >
      <%= form.label :rich_description, 'Description', class: "general-text-sm-normal" %>
      <%= form.rich_text_area :rich_description, class: "input-text main-text-md-normal h-36 border-2 border-line-colour-light", placeholder: "A short description about the lesson."  %>
    </div>
    <input type="file" accept="video/*" class="hidden" data-lessons-form-target="videoInput" data-action="change->lessons-form#videoSelected" />
    <template data-lessons-form-target="nestedRecordTemplate">
      <%= form.fields_for :local_contents, LocalContent.new, { child_index: "new-index" } do |f| %>
        <%= render "lessons/add_edit/add_local_content", builder: f %>
      <% end %>
    </template>
    <div data-lessons-form-target="nestedRecordContainer">
      <%= form.fields_for :local_contents do |local_content| %>
        <% if params[:action] == "create" %>
          <%= render "lessons/add_edit/add_local_content", builder: local_content %>
        <% else %>
          <%= render "lessons/add_edit/edit_local_content", builder: local_content %>
        <% end %>
      <%end %>
    </div>
    <div class="border-2 border-line-colour rounded-xl flex justify-center px-5 py-3 md:p-5">
      <%= button_tag type: "button", id: "add-new-lang", data: { action: "click->lessons-form#openFilePicker" }, class:"w-full md:w-fit" do %>
        <%= button_component( text: "Choose video",colorscheme:"secondary" ) %>
      <% end %>
    </div>    
    <% if lesson.errors[:base].present? %>
      <div class="mt-4">
        <ul>
          <% lesson.errors[:base].each do |message| %>
            <li class="text-danger"><%= message %></li>
          <% end %>
        </ul>    
      </div>
    <% end %>
    <div class="mt-6 flex justify-center">
      <div class="flex gap-4 w-full">
        <%= link_to course_module_path(course, course_module), class: "flex-1" do %>
          <%= button_component(type: "outline", text: "Cancel") %>
        <% end %>

        <div class="flex-1 hidden" data-lessons-form-target="uploadButtonDisabled">
          <%= button_component(text: submit_label_for(lesson), disabled: true ) %>
        </div>
        
        <div class="flex-1 hidden" data-lessons-form-target="uploadButtonEnabled">
          <%= button_component(text: submit_label_for(lesson), disabled: false ) %>
        </div>
                 
      </div>
    </div>
  <% end %>
</div>