<div class="my-8 text-left" data-controller="lessons-form" data-lessons-form-action-name="<%= action_name %>">
  <% url = lesson.persisted? ? course_module_lesson_path(course, course_module, lesson) : course_module_lessons_path(course, course_module, lesson) %>
  <%= form_with(model: lesson, url: url) do |form| %>
    <%= form.hidden_field :has_error, value: @lesson.errors.any?, data: { lessons_form_target: "hasError" } %>
    <%= render "shared/components/form_errors", resource: lesson %>
    <div class="my-8 text-sm" >
      <%= form.label :title, class: "text-sm font-medium" %>
      <%= form.text_field :title, class: "input-text mt-2", placeholder: "Title for lesson eg: Wine serving" %>
    </div>
    <div class="my-8 text-sm flex flex-col gap-2" >
      <%= form.label :rich_description, 'Description', class: "text-sm font-medium" %>
      <%= form.rich_text_area :rich_description, class: "input-text mt-2", placeholder: "A short description about the lesson." %>
    </div>
    <template data-lessons-form-target="nestedRecordTemplate">
      <%= form.fields_for :local_contents, LocalContent.new, { child_index: "new-index" } do |f| %>
        <%= render "lessons/add_edit/add_local_content", builder: f %>
      <% end %>
    </template>
    <div data-lessons-form-target="nestedRecordContainer">
      <%= form.fields_for :local_contents do |local_content| %>
        <% if params[:action] == "create" %>
          <%= render "lessons/add_edit/add_local_content", builder: local_content %>
        <% else %>
          <%= render "lessons/add_edit/edit_local_content", builder: local_content %>
        <% end %>
      <%end %>
    </div>
    <a href="javascript:void(0);" id="add-new-lang" data-action="click->lessons-form#addRecord" class="link bg-primary-light-50 text-white p-2 flex items-center gap-2 rounded px-4 py-2 w-60">
      <span class="icon icon-plus bg-primary icon-small"></span>
      <span class="text-xs text-primary heading">Add another language</span>
    </a>
    <div class="my-8 text-sm flex gap-4 items-center" >
      <%= link_to "Cancel", course_module_path(@course, @course_module), class: "nav-link" %>
      <%= form.submit submit_label_for(lesson), class: "btn-primary", id: "submit-button", data: { lessons_form_target: "uploadButton" } %>
    </div>
  <% end %>
</div>
