<div id="<%= dom_id lesson %>">
  <p>
    <strong>Title:</strong>
    <%= lesson.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= lesson.description %>
  </p>

  <p>
    <strong>Video url:</strong>
    <%= lesson.video_url %>
  </p>

  <p>
    <strong>Pdf url:</strong>
    <%= lesson.pdf_url %>
  </p>

  <p>
    <strong>Lesson type:</strong>
    <%= lesson.lesson_type %>
  </p>

  <p>
    <strong>Video streaming source:</strong>
    <%= lesson.video_streaming_source %>
  </p>

  <p>
    <strong>Course module:</strong>
    <%= lesson.course_module_id %>
  </p>

</div>
