<div class="flex flex-col md:basis-3/5" data-controller="vimeo">
  <%= render "video_frame", local_content: @local_content, video_iframe: @video_iframe, course: @course, course_module: @course_module, lesson: @lesson, enrollment: @enrollment %>
  <div class="flex flex-row justify-between py-5">
    <% if lesson.local_contents.size > 1 %>
      <div class="flex justify-start relative">
        <details class="flex items-center">
          <summary class="flex cursor-pointer items-center justify-between select_language px-2 py-1 gap-1 md:px-4 md:py-2 md:gap-2 text-letter-color-light main-text-sm-medium rounded-lg">
            <span class="icon icon-down bg-primary icon-small"></span>
            <span class="icon-up bg-primary hidden icon-small"></span>
            <h2 class="flex flex-col justify-start">
              <span><%= selected_language(@local_content) %></span>
            </h2>
          </summary>
          <ul class="absolute top-0 left-0 bg-white border border-line-colour-light rounded md:rounded-lg box-shadow-small w-[178px]">
            <% supported_languages(lesson).each do |key, lang| %>
              <li>
                <%=
                  link_to lang,
                          course_module_lesson_path(course, course_module, lesson, lang: key),
                          class: 'block px-2 py-1 md:px-4 md:py-2 text-letter-color-light main-text-sm-medium border-b border-line-colour bg-slate-grey-light'
                %>
              </li>
            <% end %>
          </ul>
        </details>
      </div>
    <% else %>
      <div class="flex justify-start text-letter-color-light main-text-sm-medium">
        <div class="select_language px-2 py-1 md:px-4 md:py-2 flex items-center rounded md:rounded-lg">
          <span><%= selected_language(@local_content) %></span>
        </div>
      </div>
    <% end %>

    <% if policy(lesson).complete? || current_user.is_admin? %>
      <div class="flex justify-end">
        <% if lesson_completed?(enrollment, lesson) || current_user.is_admin? %>
          <div class="flex items-center gap-2">
            <%= link_to prev_lesson_path(course, course_module, lesson) do %>
              <%= button_component(text: t('lesson.previous'), size: 'sm', type: 'outline', icon_name: 'chevron-left', disabled: prev_lesson_path(course, course_module, lesson).blank? ) %>
            <% end %>
            <%= link_to next_button_link(course, course_module, lesson) do %>
              <%= button_component(text: t('lesson.next'), size: 'sm', type: 'outline', icon_name: 'chevron-right', icon_position: 'right') %>
            <% end %>
          </div>
        <% else %>
          <div
            data-controller="lesson-rating"
            data-lesson-rating-url-value="<%= new_course_module_lesson_rating_path(course, course_module, lesson) %>">
            <%= button_to complete_course_module_lesson_path(course, course_module, lesson),
                        params: {
                          time_spent: 0
                        },
                        data: {
                          vimeo_target: "completeButtonForm",
                          turbo_method: :post
                        } do %>
                <%= button_component(
                      text: t("lesson.complete_and_continue"),
                      size: "sm",
                      icon_name: "chevron-double-right",
                      icon_position: "right",
                      tooltip_text: "Complete the lesson to continue.",
                      html_options: {
                        data: { vimeo_target: "completeButton", action: "click->lesson-rating#completeAndRate" }
                      }
                    ) %>

            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div data-controller="auto-click">
    <div class="bg-primary-light-50 flex flex-col gap-4 p-5 rounded-t md:rounded-lg tabs-list"
          data-controller="tabs"
          data-tabs-active-class="bg-secondary-dark text-white rounded-t md:rounded-t-lg">
      <p class="overflow-hidden text-ellipsis main-text-lg-semibold text-primary">Lesson: <%= lesson.title %></p>
      <%= content_tag :div, class: "flex gap-3 md:gap-4 main-text-md-semibold" do %>
        <% %i[details transcript].each_with_index do |tab_key, idx| %>
          <div class="md:px-2 p-1 cursor-pointer border-b border-secondary"
                data-auto-click-target="tabItem"
                data-tabs-target="tabItem"
                data-action="click->tabs#select">
            <%= tab_key.to_s.camelize %>
          </div>
        <% end %>
      <% end if current_user.is_admin? %>
      <div class="">

      <div class="flex flex-col gap-2 overflow-hidden main-text-sm-normal"
            data-tabs-target="panelItem"
            data-controller="text-clamp"
            data-text-clamp-css-value="line-clamp-2">
        <div class="line-clamp-2" data-text-clamp-target="longText">
          <%= lesson.rich_description %>
        </div>
        <div class="text-primary underline main-text-sm-normal cursor-pointer hover:text-primary-light"
              data-text-clamp-target="showMoretoggle"
              data-tabs-target="showMoretoggle"
              data-action="click->text-clamp#showMoretoggle">Show more</div>
      </div>
      <%= content_tag :div,
                      class: "flex flex-col gap-4",
                      data: { tabs_target: "panelItem"} do %>
        <%= render 'lessons/transcripts', { local_content: @local_content } %>
      <% end if current_user.is_admin? %>
      </div>
    </div>
  </div>
</div>
