<div class="md:basis-2/5">
  <div class="md:border md:border-line-colour md:rounded md:overflow-auto md:max-h-screen flex flex-col gap-4 md:py-2">
    <% modules_in_order(course).each do |course_module| %>
      <details
        <% if lesson_in_course_module?(course_module, params[:id]) %>
          class="border border-line-colour md:mx-2 rounded  highlighted"
          open="open"
        <% else %>
          class="border border-line-colour md:mx-2 rounded"
        <% end %>
      >
        <summary class="flex cursor-pointer items-center justify-between p-4 focus:outline-none">
          <div class="flex flex-col justify-start heading heading-semibold">
            <span class=""><%= course_module.title %></span>
            <div class="md:flex md:items-center md:gap-4">
              <% if enrollment.present? && enrollment.module_progress(course_module) > 0 %>
                <div class="bg-primary-light-50 h-1 w-[252px] rounded-full">
                  <div class="bg-secondary h-1 rounded-full" style="width: <% enrollment.module_progress(course_module) %>%"></div>
                </div>
                <span class="text-secondary label-small"><%= enrollment.module_progress(course_module) %>%</span>
              <% else %>
                <span class="text-primary">(<%= lessons_count(course_module) %>)</span>
              <% end %>
            </div>
          </div>
          <div class="flex items-center">
            <span class="icon icon-down icon-small bg-letter-color"></span>
            <span class="icon icon-up icon-small bg-letter-color hidden"></span>
          </div>
        </summary>
        <ul>
          <% lessons_in_order(course_module).each do |lesson| %>
            <li class="flex gap-4 items-center justify-between border-t border-line-colour px-4 py-4 text-sm <%= 'highlighted' if is_current_lesson(lesson.id, params[:id]) %>">
              <div class="flex items-center gap-4">
                <% if enrollment && lesson_completed?(enrollment, lesson) %>
                  <div class="flex items-center bg-primary-light-50 border border-primary-light p-1">
                    <span class="icon icon-check h-[14px] w-[14px] bg-primary"></span>
                  </div>
                <% end %>
                <p class="flex flex-col md:flex-row md:gap-4 items-start">
                  <span class="text-letter-color-light text-sm md:text-base">
                    <%= lesson.title %> <span class="text-primary-light text-xs">(<%= duration_in_words(lesson.duration) %>)</span>
                  </span>
                </p>
              </div>
              <div class="flex gap-4 heading">
                <% if enrollment && lesson_completed?(enrollment, lesson) %>
                  <%= link_to replay_course_module_lesson_path(course, course_module, lesson), data: { turbo_method: "put" } do %>
                    <span class="text-primary">Replay</span>
                  <% end %>
                <% end %>
                <%= link_to course_module_lesson_path(course, course_module, lesson) do %>
                  <div class="bg-primary-light-50 rounded-full p-1 md:p-[6px] flex items-center justify-center">
                    <span class="icon icon-play bg-primary h-2 w-2 md:h-3 md:w-3"></span>
                  </div>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </details>
    <% end %>
  </div>
</div>
