<div class="basis-2/5">
  <div class="border border-line-colour rounded overflow-auto max-h-screen flex flex-col gap-4">
    <% modules_in_order(course).each do |course_module| %>
      <details class="">
        <summary class="flex cursor-pointer items-center justify-between p-4 border border-line-colour rounded">
          <div class="flex flex-col justify-start text-base font-semibold">
            <span class=""><%= course_module.title %></span>
            <div class="flex items-center gap-4">
              <% if course_module.progress > 0 %>
                <div class="bg-primary-light-50 h-1 w-[252px] rounded-full">
                  <div class="bg-secondary h-1 rounded-full" style="width: 16%"></div>
                </div>
                <span class="text-secondary text-sm font-semibold"><%= course_module.progress %>%</span>
              <% else %>
                <span class="text-primary">(<%= lessons_count(course_module) %>)</span>
              <% end %>
            </div>
          </div>
          <div class="flex items-center">
            <span class="icon icon-down icon-small"></span>
            <span class="icon icon-up icon-small hidden"></span>
          </div>
        </summary>
        <ul>
          <% lessons_in_order(course_module).each do |lesson| %>
            <li class="flex items-center justify-between border-b border-line-colour px-4 py-4 text-sm">
              <div class="flex items-center gap-4">
                <% if enrollment && lesson_completed?(enrollment, lesson) %>
                  <span class="icon bg-primary-light border-primary-light-50 icon-check h-5 w-5 items-center border"></span>
                <% end %>
                <span class="text-letter-color-light"><%= lesson.title %></span>
                <span class="text-primary-light">(<%= duration_in_words(lesson.duration) %>)</span>
              </div>
              <div class="flex gap-4">
                <% if enrollment && lesson_completed?(enrollment, lesson) %>
                  <%= link_to replay_course_module_lesson_path(course, course_module, lesson), data: { turbo_method: "put" } do %>
                    <span class="text-primary">Replay</span>
                  <% end %>
                <% end %>
                <%= link_to course_module_lesson_path(course, course_module, lesson) do %>
                  <span class="icon icon-play-lite icon-small"></span>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </details>
    <% end %>
  </div>
</div>
