<div class="flex flex-col justify-start text-sm font-semibold py-6">
  <span class="">Course Overview</span>
  <% if enrollment.present? && enrollment.progress > 0 %>
    <%= render 'shared/components/progress_bar', progress: enrollment.progress %>
  <% end %>
</div>
<% modules_in_order(course).each do |course_module| %>
  <details
    <% if current_module?(course_module, enrollment) %>
      class="border-line-colour mx-4 my-6 rounded border highlighted"
      open="open"
    <% else %>
      class="border-line-colour mx-4 my-6 rounded border"
    <% end %>
  >
    <summary class="border-line-colour rounded border flex cursor-pointer items-center justify-between p-4">
      <h2 class="flex flex-col justify-start text-base font-semibold">
        <span class=""><%= course_module.title %></span>
        <% if enrollment.present? && enrollment.module_progress(course_module) > 0 %>
          <div class="bg-primary-light-50 h-1 w-[252px] rounded-full">
            <div class="bg-secondary h-1 rounded-full" style="width: <% enrollment.module_progress(course_module) %>%"></div>
          </div>
          <span class="text-secondary text-sm font-semibold"><%= enrollment.module_progress(course_module) %>%</span>
        <% else %>
          <span class="text-primary">(<%= lessons_count(course_module) %>)</span>
        <% end %>
      </h2>
      <span class="icon icon-down icon-small bg-letter-color"></span>
      <span class="icon-up hidden icon-small bg-letter-color"></span>
    </summary>
    <ul class="border-line-colour rounded border">
      <% lessons_in_order(course_module).each do |lesson| %>
        <li class="flex items-center justify-between border-t px-4 py-4 text-sm <%= 'highlighted' if current_lesson?(lesson, enrollment) %>">
          <div class="flex items-center gap-4">
            <% if enrollment && lesson_completed?(enrollment, lesson) %>
              <span class="icon bg-primary-light border-primary-light-50 icon-check h-5 w-5 items-center border"></span>
            <% end %>
            <% if enrollment && !lesson_completed?(enrollment, lesson) %>
              <span class="icon bg-gold-light border-gold icon-incomplete h-5 w-5 items-center border"></span>
            <% end %>
            <span class="text-letter-color-light"><%= lesson.title %></span>
            <span class="text-primary-light">(<%= duration_in_words(lesson.duration) %>)</span>
          </div>
          <%= link_to course_module_lesson_path(course, course_module, lesson), class: "hover:cursor-pointer" do %>
            <% if enrollment && lesson_completed?(enrollment, lesson) %>
              <%= link_to replay_course_module_lesson_path(course, course_module, lesson), data: { turbo_method: "put" } do %>
                <span class="text-primary">Replay</span>
              <% end %>
            <% else %>
              <span class="icon icon-play icon-small"></span>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </details>
<% end %>
