<%= render "shared/components/desktop_layout" do %>
  <%= render "shared/components/bread_crumbs", links: [[@course.title, course_path(@course)], [@course_module.title, course_module_path(@course, @course_module)]] %>
  <% if current_user.is_admin? %>
    <div class="text-right">
      <% if policy(@lesson).edit? %>
        <%= link_to "Edit", edit_course_module_lesson_path(@course, @course_module, @lesson), class: "link-text" %>
      <% end %>
      <% if policy(@lesson).destroy? %>
        <%= link_to "Delete", course_module_lesson_path(@course, @course_module, @lesson), data: { turbo_method: :delete, turbo_confirm: "Are you sure want to delete?" }, class: "link-text" %>
      <% end %>
    </div>
  <% end %>

  <p class="text-primary mb-1 overflow-hidden text-ellipsis text-2xl font-extrabold italic py-6">
    <%= @course.title %>
  </p>
  <div class="flex flex-row gap-6" data-controller="lessons">
    <%= render "shared/components/course_video_frame", course: @course, all_modules: @course_modules, course_module: @course_module, lesson: @lesson %>
    <%= render "shared/components/course_video_play_list", course: @course,  enrollment: @enrollment %>
  </div>
<% end %>