<%= render "shared/components/desktop_layout" do %>
  <div class="flex justify-between items-center">
    <%= render "shared/components/bread_crumbs", links: [@course.title, @course_module.title] %>
    <% if current_user.is_admin? %>
      <div>
        <% if policy(@lesson).edit? %>
          <%= link_to edit_course_module_lesson_path(@course, @course_module, @lesson) do %>
            <%= render "shared/components/button_default_small", label: 'Edit', icon_name: 'icon-edit' %>
          <% end %>
        <% end %>
        <% if policy(@lesson).destroy? %>
          <%= link_to course_module_lesson_path(@course, @course_module, @lesson), data: { turbo_method: :delete, turbo_confirm: "Are you sure want to delete?" } do %>
            <%= render "shared/components/button_default_small", label: 'Delete', icon_name: 'icon-trash' %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <p class="text-primary mb-1 overflow-hidden text-ellipsis text-2xl font-extrabold py-6">
    <%= @course.title %>
  </p>
  <div class="flex flex-row gap-6" data-controller="lessons">
    <%= render "lessons/course_video_frame", course: @course, all_modules: @course_modules, course_module: @course_module, lesson: @lesson %>
    <%= render "lessons/course_video_play_list", course: @course,  enrollment: @enrollment %>
  </div>
<% end %>