<%= render "shared/components/mobile_layout" do %>
  <%= render "shared/components/bread_crumbs", links: [[@course.title, course_path(@course)], [@course_module.title, nil]] %>
  <p class="text-primary mb-1 overflow-hidden text-ellipsis text-base font-bold py-6">
    <%= @lesson.title %>
  </p>
  <div class="flex flex-col">
    <%= render "lessons/video_frame_mobile", course: @course, all_modules: @course_modules, course_module: @course_module, lesson: @lesson %>
    <%= render "lessons/play_list_mobile", course: @course,  enrollment: @enrollment %>
  </div>
<% end %>