<% if local_content.transcripts.present? %>
  <div class="flex flex-col gap-2 overflow-hidden main-text-sm-normal"
        data-controller="text-clamp"
        data-text-clamp-css-value="line-clamp-2">
    <div class="line-clamp-2" data-text-clamp-target="longText">
      <ul class="w-full space-y-4">
        <% local_content.transcripts.order(:start_at).each do |tt| %>
          <li>
            <span class="text-primary mr-2">
              [<%= readable_milliseconds(tt.start_at) %> - <%= readable_milliseconds(tt.end_at) %>]
            </span>
            <span><%= tt.text %></span>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="text-primary underline main-text-sm-normal cursor-pointer hover:text-primary-light"
          data-tabs-target="showMoretoggle"
          data-text-clamp-target="showMoretoggle"
          data-action="click->text-clamp#showMoretoggle">
      Show more
    </div>

  </div>
<% end %>

<%= link_to transcribe_course_module_lesson_path(local_content.lesson.course_module.course,
                                                 local_content.lesson.course_module,
                                                 local_content.lesson),
            class: "max-w-min",
            data: { turbo_method: :post } do %>
  <%= button_component(text: transcript_button_title(local_content), type: "outline", size: "sm") %>
<% end if policy(local_content.lesson).transcribe? && local_content.english? %>

<% if local_content.audio.attached? %>
  <%= audio_tag rails_blob_url(local_content.audio), controls: true, type: local_content.audio.content_type %>
<% end %>
