<div id="video-frame" class="embed-container border-line-colour-light rounded border p-2 xl:h-[226px]">
  <% if local_content.video.attached? %>
    <% if external_video_hosting? && vimeo_upload_timed_out?(local_content) && current_user.is_admin? %>
      <div class="absolute inset-0 flex justify-center items-center">
        <%= link_to retry_local_content_path(local_content),
                data: { turbo_method: :put, turbo_frame: "video-frame" } do %>
          <%= button(label: "Retry upload", icon_name: "arrow-uturn-right") %>
        <% end %>
      </div>
    <% else %>
      <%= render "lessons/video_overlay", course: course, course_module: course_module, lesson: lesson, enrollment: enrollment %>

      <%= render "lessons/video_player", video_iframe: video_iframe, local_content: %>
    <% end %>
  <% else %>
    <div class="w-full inline-block text-center"><%= t("local_content.video_not_available") %></div>
  <% end %>
</div>
