<div class="flex flex-col border-b border-line-colour pb-6">
  <div class="embed-container border-line-colour-light rounded border p-2">
    <% if @local_content.video.attached? %>
      <% if Rails.env.production? && @video_iframe.present? %>
        <%= @video_iframe.html_safe %>
      <% elsif Rails.env.development? %>
        <%= video_tag rails_blob_path(@local_content.video), controls: true %>
      <% else %>
        <div class="w-full inline-block text-center">Uploaded video is under process. Please refresh the page after some time.</div>
      <% end %>
    <% else %>
      <div class="w-full inline-block text-center">Sorry! Video is not available</div>
    <% end %>
  </div>
  <% if supported_languages(lesson).length > 1 %>
    <details class="p-4 flex justify-between w-full">
      <summary class="flex cursor-pointer items-center justify-between select_language bg-slate-grey-light p-[10px]">
        <h2 class="flex flex-col justify-start text-base pe-1">
          <span class="text-primary"><%= selected_language %></span>
        </h2>
        <span class="icon icon-down icon-small"></span>
        <span class="icon-up hidden icon-small"></span>
      </summary>
      <ul class=" mt-2 rounded box-shadow-small">
        <% supported_languages(lesson).each do |key, lang| %>
          <li>
            <%=
              link_to lang,
                      course_module_lesson_path(course, course_module, lesson, lang: key),
                      class: 'block p-4 text-letter-color-light text-sm border-b border-line-colour bg-slate-grey-light'
            %>
          </li>
        <% end %>
      </ul>
    </details>
  <% else %>
    <div class="p-4 flex justify-end w-full">
      <div class="select_language bg-slate-grey-light p-[10px]">
        <h2 class="text-primary"><%= selected_language %></h2>
      </div>
    </div>
  <% end %>
  <div class="bg-primary-light-50 mt-4 flex flex-col gap-2 p-4" data-controller="course-description-card">
    <p class="overflow-hidden text-ellipsis text-base font-semibold">Lesson: <%= @lesson.title %></p>
    <div class="flex justify-between">
      <p class="overflow-hidden text-ellipsis text-sm font-semibold">Lesson Details</p>
      <button
        class="flex items-center justify-center rounded p-2 bg-primary-light-50"
        data-course-description-card-target="showMoreToggle"
        data-action="click->course-description-card#showMoreToggle"
      >
        <span class="text-xs text-primary">Show more</span>
        <span class="hidden icon-arrow-up icon-small bg-primary" data-course-description-card-target="upArrow"></span>
        <span class="icon icon-arrow-down icon-small bg-primary" data-course-description-card-target="downArrow"></span>
      </button>
    </div>
    <div class="flex gap-2 overflow-hidden show-less-desc text-sm" data-course-description-card-target="courseDescription">
      <div class="h-full overflow-hidden flex text-base">
        <span><%= lesson.rich_description %></span>
      </div>
    </div>
  </div>
  <div class="flex justify-center gap-6 pt-6">
    <% if policy(lesson).complete? %>
      <%= link_to complete_course_module_lesson_path(course, course_module, lesson), params: { time_spent: 0 }, class: "bg-primary flex items-center gap-2 rounded px-4 py-2", data: { action: "click->lessons#completeLesson", turbo_method: :post } do %>
        <span class="text-xs text-white">Complete & Continue</span>
        <span class="icon icon-next icon-small"></span>
      <% end %>
    <% end %>
  </div>
</div>
