<%= render "shared/header", header_options(title: "My Courses", header_extended: true) %>
<%= render "page_header", back_link: course_module_path(@course, @course_module) %>

<div class="box text-right">
  <% if policy(@lesson).edit? %>
    <%= link_to "Edit", edit_course_module_lesson_path(@course, @course_module, @lesson), class: "btn-primary" %>
  <% end %>
  <% if policy(@lesson).destroy? %>
    <%= link_to "Delete", course_module_lesson_path(@course, @course_module, @lesson), data: { turbo_method: :delete, turbo_confirm: "Are you sure want to delete?" }, class: "btn-primary" %>
  <% end %>
</div>

<%= render @lesson %>

