<div class="my-8 mx-4">
  <%= link_to @course.title, course_path(@course), class: "underline" %> >>
  <%= link_to @course_module.title, course_module_path(@course, @course_module), class: "underline" %>
</div>

<div class="my-8 mx-4 text-right">
  <%= link_to "Edit", edit_course_module_lesson_path(@course, @course_module, @lesson), class: "border rounded p-2 min-w-4 min-h-2 auto w-32" %>
  <%= link_to "Delete", course_module_lesson_path(@course, @course_module, @lesson), data: { turbo_method: :delete }, class: "border rounded p-2 min-w-4 min-h-2 auto w-32" %>
</div>

<%= render @lesson %>

