<div class="flex flex-col md:flex-row md:justify-between md:items-center gap-4">
  <div>
    <%= render "shared/components/bread_crumbs", links: [[I18n.t('course.label'), courses_path], [@course.title, course_path(@course)], [@course_module.title, nil]] %>
  </div>
  <% if current_user.is_admin? %>
    <div class="flex justify-end items-center gap-4">
      <% if policy(@lesson).edit? %>
        <%= link_to edit_course_module_lesson_path(@course, @course_module, @lesson) do %>
          <%= render "shared/components/button_default_small", label: 'Edit', icon_name: 'icon-edit' %>
        <% end %>
      <% end %>
      <% if policy(@lesson).destroy? %>
        <%= link_to alert_modal_path(
                    title: t("alert.title", resource_name: "lesson"),
                    description: t("alert.description", label: @lesson.title, resource_name: "lesson"),
                    action_path: course_module_lesson_path(@course, @course_module, @lesson),
                    method: :delete,
                  ), data: { turbo_frame: "modal" } do %>
          <%= render 'shared/components/outline_button_danger', label: 'Delete' %>
        <% end %>
      <% else %>
        <div class="disabled">
          <%= render 'shared/components/outline_button_danger', label: 'Delete', tooltip_position: "left", tooltip_text: lesson_delete_tooltip_message(@course) %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<p class="text-primary mb-1 overflow-hidden text-ellipsis text-2xl font-extrabold py-6">
  <%= @lesson.title %>
</p>
<div class="flex flex-col md:flex-row gap-6">
  <%= render "lessons/lesson", course: @course, course_module: @course_module, lesson: @lesson, enrollment: @enrollment %>
  <%= render "lessons/play_list", course: @course, enrollment: @enrollment %>
</div>
