<%= render "shared/header", header_options(title: "My Courses", header_extended: true) %>
<%= render "page_header", back_link: course_path(@course) %>

<div class="box text-right">
  <% if policy(@lesson).edit? %>
    <%= link_to "Edit", edit_course_module_lesson_path(@course, @course_module, @lesson), class: "btn-primary" %>
  <% end %>
  <% if policy(@lesson).destroy? %>
    <%= link_to "Delete", course_module_lesson_path(@course, @course_module, @lesson), data: { turbo_method: :delete, turbo_confirm: "Are you sure want to delete?" }, class: "btn-primary" %>
  <% end %>
</div>

<div class="box flex items-start w-full gap-4" data-controller="lessons">
  <div class="w-full lg:w-2/3">
    <%= render "lessons/video_player", video_id: dom_id(@lesson), video_url:  @lesson.video_url %>
    <div class="my-8">
      <%= render "lessons/nav_links", course: @course, course_module: @course_module, lesson: @lesson %>
    </div>

    <div class="page-subtitle my-4 text-balance"><%= @lesson.rich_description %></div>
  </div>
  <%= render "lessons/sidebar", course: @course,  enrollment: @enrollment %>
</div>

