<%= mobile_view do %>
  <%= render "devise/shared/top_mobile" %>

  <div class="px-4 py-6">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-6">
        <h1 class="page-heading">Login</h1>
      </div>

      <div class="flex flex-col gap-6">
        <div class="input-group">
          <%= f.label :email, 'Email', class: "label-text" %>
          <p class="mt-2">
            <%= f.email_field :email, class: "input-text", autofocus: true, autocomplete: "email" %>
          </p>
        </div>
        <div class="input-group">
          <%= f.label :password, class: "label-text" %>
          <p class="mt-2">
            <%= f.password_field :password, class: "input-text", autocomplete: "current-password" %>
          </p>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="flex gap-2 input-group">
            <%= f.check_box :remember_me, class: "input-check" %>
            <%= f.label :remember_me, 'Remember me', class: "label-text" %>
          </div>
        <% end %>

        <div>
          <%= f.button class: "w-full btn-primary" do %>
            <span>Login</span>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="mt-6">
      <% if FLAG_LOGIN_WITH_OTP %>
        <%= link_to "Login with OTP", new_login_path, class: "link-text" %><br/>
      <% end %>
      <%= link_to "Forgot your password?", new_password_path('user'), class: "link-text" %><br/>
    </div>
  </div>
<% end %>