<%= desktop_view do %>
  <div class="h-full columns-2 size-full">
    <%= render "devise/shared/left_side_desktop" %>

    <div class="flex h-full items-center justify-center right-side">
      <div class="bg-white w-[528px]">
        <%= image_tag "login_page_logo_grey.png", alt: "Superskill", class: "mx-auto mb-12 h-10"  %>
        <div class="rounded-lg p-8 box-shadow-large">
          <h1 class="mt-8 mb-2 page-heading text-primary-light">Login</h1>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="flex flex-col gap-6">
              <%= render "devise/shared/error_messages", resource: resource %>
              <div class="input-group">
                <%= f.label :email, 'Email', class: "label-text" %>
                <p class="mt-4">
                  <%= f.email_field :email, class: "input-text", autofocus: true, autocomplete: "email" %>
                </p>
              </div>
              <div class="input-group">
                <%= f.label :password, class: "label-text" %>
                <p class="mt-4">
                  <%= f.password_field :password, class: "input-text", autocomplete: "current-password" %>
                </p>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="flex gap-2 input-group">
                  <%= f.check_box :remember_me, class: "input-check" %>
                  <%= f.label :remember_me, 'Remember me', class: "label-text" %>
                </div>
              <% end %>

              <div>
                <%= f.button class: "w-full btn-primary" do %>
                  <span>Login</span>
                <% end %>
              </div>
            </div>
          <% end %>

          <div class="mt-6">
            <p>
              <%= link_to "Login with OTP", new_login_path, class: "link-text" %><br/>
              <%= link_to "Forgot your password?", new_password_path(resource_name), class: "link-text" %><br/>
            </p>
          </div>
        </div>
        <hr class="mt-1 border-y-2 border-primary"/>
      </div>
    </div>
  </div>
<% end %>