<% if params[:type] == "forgot_password" %>
  <div class="heading-extra-large pb-6">
    Forgot Password
  </div>
<% else %>
  <div class="heading-extra-large pb-6">
    Login with OTP
  </div>
<% end %>

<div class="justify-start pb-8">
  <span class="text-xs md:text-base font-normal">
    Please enter the verification code sent to<br/>
  </span>
  <span class="text-primary text-xs md:text-base font-normal">
    +91 9656284605
  </span>
</div>

<%= form_with url: "otp_path", data: { controller: "otp" } do |form| %>
  <div class="input-group">
    <%= otp_input_field(
      f: form, 
      field_name_prefix: :otp_value, 
      label: "Verification code (OTP)", 
      field_count: 4, 
      target: "otp"
    ) %>

    <div class="flex justify-between items-center pt-4">
      <div class="relative justify-start">
        <span class="text-letter-color-light body-extra-small-medium">
          OTP will be valid for :
        </span>                    
        <span data-otp-target="timer" class="text-primary body-extra-small-medium">2:00 min</span>
      </div>
      <a href="#" data-otp-target="resendOtp" class="float-right link-text text-danger disabled" data-action="click->otp#resendOtp">Resend OTP</a>
    </div>
  </div>

  <div class="flex flex-col justify-center gap-4 mt-10">
  
    <%= link_to reset_password_path, class: "disabled", data: { otp_target: "submitButton" } do %>
      <%= button(label: "Verify", size: "xl",width: "w-full") %>
    <% end %>

    <% if params[:type] == "login" %>
      <div class="flex justify-center text-letter-color-light w-full">
        <%= link_to "Login with password", new_session_path(:user), class: "link-text text-sm" %>
      </div>
    <% else %>
      <div class="flex flex-row items-center justify-between text-letter-color-light w-full">
        <%= link_to "Login with password", new_session_path(:user), class: "link-text text-sm" %>
        <%= link_to "Login with OTP", new_session_path(:user), class: "link-text text-sm" %>
      </div>
    <% end %>  
    
  </div>
<% end %>
