<div class="heading-extra-large pb-6">
  Login
</div>

<%= form_with url: otp_login_path, method: :post, scope: :login, data: { turbo: false } do |form| %>
  
  <%= input_field(
    f: form,
    field_name: :password,
    label: "Password",
    placeholder: "Enter password",
    width: "w-full",
    type: "password"
  ) %>

  <div class="flex gap-4 items-start mt-4">
    <%= check_box_tag :terms, '1', false, class: "w-4 h-4 border border-letter-color focus:ring-0" %>
    <label class="body-extra-small-regular">Keep me logged in</label>
  </div>

  <div class="mt-6 flex flex-col gap-4">
    <%= button(label: "Login", size: "xl") %>
  </div>

  <div class="flex flex-row items-center justify-between mt-6 text-letter-color-light w-full">
    <%= link_to "Forgot your password?", forgot_password_path, class: "link-text text-sm" %>
    <%= link_to "Login with OTP", new_session_path(:user), class: "link-text text-sm" %>
  </div>

  <div class="flex gap-4 items-start mt-4">
    <%= check_box_tag :terms, '1', false, class: "w-4 h-4 border border-letter-color focus:ring-0" %>
    <label class="body-extra-small-regular">
      I confirm that I have read, consent, and agree to Instruo's
      <%= link_to "Terms of Use", "/terms-of-use", class: "text-primary underline no-underline" %> and
      <%= link_to "Privacy Policy", "/privacy-policy", class: "text-primary underline no-underline" %>.
    </label>
  </div>

<% end %>
