<div class="heading-extra-large pb-6">
  Set New Password
</div>

<%= form_with url: "reset_password_path" do |form| %>

  <div class="flex flex-col gap-4">
    <%= input_field(
      f: form,
      field_name: :password,
      label: "Password",
      placeholder: "Enter password",
      width: "w-full",
      type: "password"
    ) %>

    <%= input_field(
      f: form,
      field_name: :password_confirmation,
      label: "Confirm Password",
      placeholder: "Enter password",
      width: "w-full",
      type: "password"
    ) %>
  </div>
  
  <div class="inline-flex flex-col justify-start items-start gap-2 pt-4">
    <div class="text-secondary text-xs">Must be at least 8 characters</div>
    <div class="text-secondary text-xs">Must contain at least one special character</div>
  </div>

  <div class="mt-6 flex flex-col justify-center gap-4">
    <%= link_to "reset_password" do %>
      <%= button(label: "Reset Password", size: "xl",width: "w-full") %>
    <% end %>
  </div>

<% end %>
