<section>
  <div class="h-14 px-6 py-3.5 bg-primary hover:bg-primary-light rounded-sm justify-center items-center gap-2 inline-flex">
    <div class="text-white text-xl font-semibold font-['Poppins'] leading-7">Button extra large</div>
  </div>

  <div class="h-10 px-6 py-2 bg-primary hover:bg-primary-light rounded-sm justify-center items-center gap-2 inline-flex">
    <div class="text-white text-base font-medium font-['Poppins'] leading-normal">Button large</div>
  </div>

  <div class="h-9 px-4 py-2 bg-primary hover:bg-primary-light rounded-sm justify-center items-center gap-2 inline-flex">
    <div class="text-white text-sm font-medium font-['Poppins'] leading-tight">Button medium</div>
  </div>

  <div class="h-6 px-3 py-1 bg-primary hover:bg-primary-light rounded-sm justify-center items-center gap-2 inline-flex">
    <div class="text-white text-xs font-normal font-['Poppins'] leading-none">Button</div>
  </div>
</section>

<section class="my-6">
  <div class="h-14 px-6 py-3.5 bg-primary hover:bg-primary-light rounded-sm justify-center items-center gap-2 inline-flex">
    <div data-svg-wrapper class="relative">
      <span class="icon <%= "icon-download" %> bg-white icon-small"></span>
    </div>
    <div class="text-white text-xl font-semibold font-['Poppins'] leading-7">Button</div>
  </div>

  <div class="h-10 px-6 py-2 bg-primary hover:bg-primary-light rounded-sm justify-center items-center gap-2 inline-flex">
    <div data-svg-wrapper class="relative">
      <span class="icon <%= "icon-download" %> bg-white icon-small"></span>
    </div>
    <div class="text-white text-base font-medium font-['Poppins'] leading-normal">Button</div>
  </div>

  <div class="h-9 px-4 py-2 bg-primary hover:bg-primary-light rounded-sm justify-center items-center gap-2 inline-flex">
    <div data-svg-wrapper class="relative">
      <span class="icon <%= "icon-download" %> bg-white icon-small"></span>
    </div>
    <div class="text-white text-sm font-medium font-['Poppins'] leading-tight">Button</div>
  </div>

  <div class="h-6 px-3 py-1 bg-primary hover:bg-primary-light rounded-sm justify-center items-center gap-2 inline-flex">
    <div data-svg-wrapper class="relative">
      <span class="icon <%= "icon-download" %> bg-white icon-mini"></span>
    </div>
    <div class="text-white text-xs font-normal font-['Poppins'] leading-none">Button</div>
  </div>
</section>

<section class="my-6">
  <div class="h-14 px-6 py-3.5 bg-primary hover:bg-primary-light rounded-sm justify-center items-center gap-2 inline-flex">
    <div class="text-white text-xl font-semibold font-['Poppins'] leading-7">Button</div>
    <div data-svg-wrapper class="relative">
      <span class="icon <%= "icon-home" %> bg-white icon-small"></span>
    </div>
  </div>

  <div class="h-10 px-6 py-2 bg-primary hover:bg-primary-light rounded-sm justify-center items-center gap-2 inline-flex">
    <div class="text-white text-base font-medium font-['Poppins'] leading-normal">Button</div>
    <div data-svg-wrapper class="relative">
      <span class="icon <%= "icon-download" %> bg-white icon-small"></span>
    </div>
  </div>

  <div class="h-9 px-4 py-2 bg-primary hover:bg-primary-light rounded-sm justify-center items-center gap-2 inline-flex">
    <div class="text-white text-sm font-medium font-['Poppins'] leading-tight">Button</div>
    <div data-svg-wrapper class="relative">
      <span class="icon <%= "icon-download" %> bg-white icon-small"></span>
    </div>
  </div>

  <div class="h-6 px-3 py-1 bg-primary hover:bg-primary-light rounded-sm justify-center items-center gap-2 inline-flex">
    <div class="text-white text-xs font-normal font-['Poppins'] leading-none">Button</div>
    <div data-svg-wrapper class="relative">
      <span class="icon <%= "icon-download" %> bg-white icon-mini"></span>
    </div>
  </div>
</section>

<section class="my-6">
  <div class="h-14 px-6 py-3.5 bg-white rounded-sm border border-secondary hover:border-primary text-letter-color-light hover:text-primary justify-center items-center gap-2 inline-flex">
    <div class="text-xl font-semibold font-['Poppins'] leading-7">Button</div>
  </div>

  <div class="h-10 px-6 py-2 bg-white rounded-sm border border-secondary hover:border-primary text-letter-color-light hover:text-primary justify-center items-center gap-2 inline-flex">
    <div class="text-base font-medium font-['Poppins'] leading-normal">Button</div>
  </div>

  <div class="h-9 px-4 py-2 bg-white rounded-sm border border-secondary hover:border-primary text-letter-color-light hover:text-primary justify-center items-center gap-2 inline-flex">
    <div class="text-sm font-medium font-['Poppins'] leading-tight">Button</div>
  </div>

  <div class="h-6 px-3 py-1 bg-white rounded-sm border border-secondary hover:border-primary text-letter-color-light hover:text-primary justify-center items-center gap-2 inline-flex">
    <div class="text-xs font-normal font-['Poppins'] leading-none">Button</div>
  </div>
</section>

<section class="my-6">
  <div class="group h-14 px-6 py-3.5 bg-white rounded-sm border border-secondary hover:border-primary text-letter-color-light hover:text-primary justify-center items-center gap-2 inline-flex">
    <div data-svg-wrapper class="relative">
      <span class="icon <%= "icon-adjustments-vertical" %> bg-secondary group-hover:bg-primary icon-small"></span>
    </div>
    <div class="text-xl font-semibold font-['Poppins'] leading-7">Button</div>
  </div>

  <div class="group h-10 px-6 py-2 bg-white rounded-sm border border-secondary hover:border-primary text-letter-color-light hover:text-primary justify-center items-center gap-2 inline-flex">
    <div data-svg-wrapper class="relative">
      <span class="icon <%= "icon-adjustments-vertical" %> bg-secondary group-hover:bg-primary icon-small"></span>
    </div>
    <div class="text-base font-medium font-['Poppins'] leading-normal">Button</div>
  </div>

  <div class="group h-9 px-4 py-2 bg-white rounded-sm border border-secondary hover:border-primary text-letter-color-light hover:text-primary justify-center items-center gap-2 inline-flex">
    <div data-svg-wrapper class="relative">
      <span class="icon <%= "icon-adjustments-vertical" %> bg-secondary group-hover:bg-primary icon-small"></span>
    </div>
    <div class="text-sm font-medium font-['Poppins'] leading-tight">Button</div>
  </div>

  <div class="group h-6 px-3 py-1 bg-white rounded-sm border border-secondary hover:border-primary text-letter-color-light hover:text-primary justify-center items-center gap-2 inline-flex">
    <div data-svg-wrapper class="relative">
      <span class="icon <%= "icon-adjustments-vertical" %> bg-secondary group-hover:bg-primary icon-mini"></span>
    </div>
    <div class="text-xs font-normal font-['Poppins'] leading-none">Button</div>
  </div>
</section>

<section class="my-6">
  <div class="group h-14 px-6 py-3.5 bg-white rounded-sm border border-secondary hover:border-primary text-letter-color-light hover:text-primary justify-center items-center gap-2 inline-flex">
    <div class="text-xl font-semibold font-['Poppins'] leading-7">Button</div>
    <div data-svg-wrapper class="relative">
      <span class="icon <%= "icon-download" %> bg-secondary group-hover:bg-primary icon-small"></span>
    </div>
  </div>

  <div class="group h-10 px-6 py-2 bg-white rounded-sm border border-secondary hover:border-primary text-letter-color-light hover:text-primary justify-center items-center gap-2 inline-flex">
    <div class="text-base font-medium font-['Poppins'] leading-normal">Button</div>
    <div data-svg-wrapper class="relative">
      <span class="icon <%= "icon-download" %> bg-secondary group-hover:bg-primary icon-small"></span>
    </div>
  </div>

  <div class="group h-9 px-4 py-2 bg-white rounded-sm border border-secondary hover:border-primary text-letter-color-light hover:text-primary justify-center items-center gap-2 inline-flex">
    <div class="text-sm font-medium font-['Poppins'] leading-tight">Button</div>
    <div data-svg-wrapper class="relative">
      <span class="icon <%= "icon-download" %> bg-secondary group-hover:bg-primary icon-small"></span>
    </div>
  </div>

  <div class="group h-6 px-3 py-1 bg-white rounded-sm border border-secondary hover:border-primary text-letter-color-light hover:text-primary justify-center items-center gap-2 inline-flex">
    <div class="text-xs font-normal font-['Poppins'] leading-none">Button</div>
    <div data-svg-wrapper class="relative">
      <span class="icon <%= "icon-download" %> bg-secondary group-hover:bg-primary icon-mini"></span>
    </div>
  </div>
</section>