<% button_content = capture do %>
  <% disabled_class = disabled ? 'pointer-events-none opacity-50 cursor-not-allowed' : '' %>
  <% if size == "xl" %>
    <div class="inline-flex h-14 items-center justify-center gap-2 rounded-sm border bg-white px-6 py-3.5 border-danger text-danger hover:border-primary hover:text-primary <%= disabled_class %>">
      <% content = content_tag(:div, label, class: "text-xl font-semibold font-['Poppins'] leading-7") if label.present? %>
      <% icon = icon(icon_name || "adjustments-vertical", css: "icon-base") if icon_name.present? %>
      <%= label_with_icon(icon, content, icon_position) %>
    </div>
  <% elsif size == "lg" %>
    <div class="inline-flex h-10 items-center justify-center gap-2 rounded-sm border bg-white px-6 py-2 border-danger text-danger hover:border-primary hover:text-primary <%= disabled_class %>">
      <% content = content_tag(:div, label, class: "text-base font-medium font-['Poppins'] leading-normal") if label.present? %>
      <% icon = icon(icon_name || "adjustments-vertical", css: "icon-small") if icon_name.present? %>
      <%= label_with_icon(icon, content, icon_position) %>
    </div>
  <% elsif size == "md" %>
    <div class="inline-flex h-9 items-center justify-center gap-2 rounded-sm border bg-white px-4 py-2 border-danger text-danger hover:border-primary hover:text-primary <%= disabled_class %>">
      <% content = content_tag(:div, label, class: "text-sm font-medium font-['Poppins'] leading-tight") if label.present? %>
      <% icon = icon(icon_name || "adjustments-vertical", css: "icon-small") if icon_name.present? %>
      <%= label_with_icon(icon, content, icon_position) %>
    </div>
  <% elsif size == "sm" %>
    <div class="inline-flex h-6 items-center justify-center gap-2 rounded-sm border bg-white px-3 py-1 border-danger text-danger hover:border-primary hover:text-primary <%= disabled_class %>">
      <% content = content_tag(:div, label, class: "text-xs font-normal font-['Poppins'] leading-none") if label.present? %>
      <% icon = icon(icon_name || "adjustments-vertical", css: "icon-mini") if icon_name.present? %>
      <%= label_with_icon(icon, content, icon_position) %>
    </div>
  <% end %>
<% end %>
<%= local_assigns[:tooltip_text].present? ? render('shared/components/tooltip', tooltip_position: , tooltip_text: ) { button_content } : button_content %>
