<div class="my-6">
  <%= render "shared/components/back_button", back_link: ui_components_path %>
</div>

<%= h2_component(text: "Type and Colorscheme") %>

<p>In our design system the buttons are categorised into two <em>types</em> they are <em>solid</em> and <em>outline</em>
</p>
<p>Each type can have three color schemes named <em>primary</em>, <em>secondary</em> and <em>danger</em></p>
<p>There are three valid sizes they are <em>sm</em> <em>md</em> and <em>lg</em>. The default size is <em>md</em></p>

<%= doc_section_component(title: "Solid buttons (Old)") do %>
  <div class="flex gap-4">
    <%= button(label: "Button", size: "sm") %>
    <%= button(label: "Button") %>
    <%= button(label: "Button", size: "lg") %>
    <%= button(label: "Button", size: "xl") %>
  </div>
<% end %>

<%= doc_section_component(title: "Solid buttons (New)") do %>
  <div class="flex gap-4">
    <%= button_component(text: "Button", size: "sm") %>
    <%= button_component(text: "Button") %>
    <%= button_component(text: "Button", size: "lg") %>
  </div>
<% end %>

<%= doc_section_component(title: "Solid buttons with icons (New)") do %>
  <div class="flex gap-4">
    <%= button_component(text: "Button", size: "sm", icon_name: "user-circle") %>
    <%= button_component(text: "Button", icon_name: "user-circle") %>
    <%= button_component(text: "Button", size: "lg", icon_name: "user-circle") %>
  </div>
<% end %>


<%= doc_section_component(title: "Solid buttons with other colorschemes (New)") do %>
  <div class="flex gap-4">
    <%= button_component(text: "Secondary", size: "sm", colorscheme: "secondary") %>
    <%= button_component(text: "Danger", colorscheme: "danger") %>
    <%= button_component(text: "Primary", size: "lg") %>
  </div>
<% end %>

<%= doc_section_component(title: "Disabled Solid Button (New)") do %>
  <div class="flex gap-4">
    <%= button_component(text: "Button", size: "sm", disabled: true) %>
    <%= button_component(text: "Button", disabled: true) %>
    <%= button_component(text: "Button", size: "lg", disabled: true) %>
  </div>
<% end %>

<%= doc_section_component(title: "Disabled Solid Button with other colorschemes (New)") do %>
  <div class="flex gap-4">
    <%= button_component(text: "Button", size: "sm", colorscheme: 'secondary', disabled: true) %>
    <%= button_component(text: "Button", colorscheme: 'danger', disabled: true) %>
  </div>
<% end %>

<%= doc_section_component(title: "Outline Buttons (Old)") do %>
  <div class="flex gap-4">
    <%= button(label: "Button", type: "secondary", size: "sm", icon_name: "user-circle") %>
    <%= button(label: "Button", type: "secondary", icon_name: "user-circle") %>
    <%= button(label: "Button", type: "secondary", size: "lg", icon_name: "user-circle") %>
    <%= button(label: "Button", type: "secondary", size: "xl", icon_name: "user-circle") %>
  </div>
<% end %>

<%= doc_section_component(title: "Outline Buttons with right icon (Old)") do %>
  <div class="flex gap-4">
    <%= button(label: "Button", type: "secondary", size: "sm", icon_name: "user-circle", icon_position: "right") %>
    <%= button(label: "Button", type: "secondary", icon_name: "user-circle", icon_position: "right") %>
    <%= button(label: "Button", type: "secondary", size: "lg", icon_name: "user-circle", icon_position: "right") %>
    <%= button(label: "Button", type: "secondary", size: "xl", icon_name: "user-circle", icon_position: "right") %>
  </div>
<% end %>

<%= doc_section_component(title: "Outline Buttons (New)") do %>
  <div class="flex gap-4">
    <%= button_component(type: 'outline', text: "Button", size: "sm", icon_name: "user-circle") %>
    <%= button_component(type: 'outline', text: "Button", icon_name: "user-circle") %>
    <%= button_component(type: 'outline', text: "Button", size: "lg", icon_name: "user-circle") %>
  </div>
<% end %>

<%= doc_section_component(title: "Outline button with other colorschemes") do %>
  <div class="flex gap-4">
    <%= button_component(type: 'outline', colorscheme: 'secondary', text: "Button", size: "sm", icon_name: "user-circle") %>
    <%= button_component(type: 'outline', colorscheme: 'danger', text: "Button", icon_name: "user-circle") %>
  </div>
<% end %>

<%= doc_section_component(title: "Disabled outline buttons") do %>
  <div class="flex gap-4">
    <%= button_component(type: 'outline', colorscheme: 'secondary', text: "Button", size: "sm", icon_name: "user-circle", disabled: true) %>
    <%= button_component(type: 'outline', colorscheme: 'secondary', text: "Button", icon_name: "user-circle", disabled: true) %>
    <%= button_component(type: 'outline', colorscheme: 'danger', text: "Button", size: "lg", icon_name: "user-circle", disabled: true) %>
  </div>
<% end %>

<%= doc_section_component(title: "With Tooltip") do %>
  <div class="flex gap-4">
    <%= button_component(text: "Tooltip top", tooltip_text: 'Tooltip on top', tooltip_position: "top") %>
    <%= button_component(text: "Tooltip bottom", tooltip_text: 'Tooltip on bottom', tooltip_position: "bottom") %>
    <%= button_component(text: "Tooltip left", type: "outline", icon_name: "user-circle", icon_position: "right", tooltip_text: "Tooltip on left", tooltip_position: "left") %>
    <%= button_component(text: "Tooltip right", type: "outline", icon_name: "user-circle", icon_position: "right", tooltip_text: "Tooltip on right", tooltip_position: "right") %>
  </div>
<% end %>