<% element = content_tag :div, class: "flex justify-center items-center" do %>
  <% if input.form.present? %>
    <%= input.form.check_box input.name,
          input.html_options,
          input.value,
          nil %>
  <% else %>
    <%= check_box_tag(
          "#{input.name}[]",
          input.value,
          input.html_options[:checked],
          input.html_options.except(:checked)
        ) %>
  <% end %>
  <div class="w-5 h-5 flex justify-center items-center rounded-sm border-2 <%= input.box_style %>">
    <%= icon("check", span_css: "w-5 h-5 #{input.check_style}", stroke_width: '2.0') %>
  </div>
<% end %>

<% label_tag = content_tag :div, input.label, class: "main-text-md-normal" %>

<%= arrange_tags(label_tag, element, input.label_position) %>