<div data-controller="searches" class="w-full mb-4">
  <%= form_with url: search_path, method: :post, data: { action: "submit->searches#formSubmit", searches_target: "form" }, class: "w-full" do |form| %>
    <%= render 'searches/filters', tags: tags, form: form %>

    <%= form.hidden_field :context, value: context %>

    <% if context == "team_assign" %>
      <%= form.hidden_field :team_id, value: team.id %>
    <% elsif context == "user_assign" %>
      <%= form.hidden_field :user_id, value: user.id %>
    <% end %>

    <div class="relative rounded-md border border-line-colour-light w-full">
      <div class="pointer-events-none absolute inset-y-0 left-3 flex items-center">
        <span class="icon icon-search icon-small bg-letter-color"></span>
      </div>
      <%= form.text_field :term,
                          value: params[:term],
                          id: 'course-search',
                          class: 'input-search w-full border-none pr-10',
                          placeholder: 'Search courses ...',
                          data: {
                            searches_target: 'searchInput',
                          }
      %>

      <div class="absolute inset-y-0 right-4 flex items-center cursor-pointer" data-action="click->searches#formSubmit">
        <span class="flex cursor-pointer items-center text-purple text-base">Search</span>
      </div>
    </div> 
  <% end %>

  <div class="flex items-center justify-end w-full gap-4 my-4">
    <div class="cursor-pointer" data-action="click->searches#clearSearch">
      <span class="flex cursor-pointer items-center text-purple text-sm">Clear search </span>
    </div>

    <div data-action="click->searches#openFilter">
      <%= render 'shared/components/button_default_small', label: 'Filter', icon_name: 'icon-filter' %>
    </div>
  </div>

  <div id="selected-tags"></div>
</div>