<%= render "shared/components/desktop_layout" do %>
<div class="flex items-center justify-between">
   <p class="text-base font-medium flex gap-1">
      <span class="">Welcome</span><span class=""><%= current_user.display_name %></span>
   </p>
   <div class="p-4 flex justify-between relative">
      <select
         id="date-filter"
         class="block appearance-none w-full border border-line-colour-light pe-7 text-base rounded"
         >
         <option value="this-week" selected>This Week</option>
         <option value="last-week">Last 7 days</option>
         <option value="this-month">Last 30 days</option>
         <option value="last-month">Last Month</option>
         <option value="last-year">Last Year</option>
      </select>
   </div>
</div>

  <%= render "dashboards/average_time_spend_chart", dashboard: @dashboard %>

<div class="p-6 bg-white rounded-lg box-shadow-medium mt-6">
   <p class="text-xl font-semibold">
      Your team have spent in 
<!--      <span class="text-primary ">10hr 25 min</span>-->
     <span class="text-primary "><%= duration_in_words(@dashboard.total_time_spent_metric) %></span>
     this week
   </p>
<!--   <p class="mt-2 text-sm font-medium">-->
<!--      That means <span class="text-primary">200% +</span> higher than last week-->
<!--   </p>-->
   <div class="mt-6 flex flex-row justify-between text-start">
      <div class="text-center">
         <p class="text-primary text-2xl font-bold">
           <%= duration_in_words(@dashboard.average_time_spent_metric) %>
         </p>
         <p class="pt-1 text-sm">AVG watch time per user</p>
      </div>
      <div class="text-center">
         <p class="text-primary text-2xl font-bold"><%= @dashboard.active_course_count_metric %></p>
         <p class="pt-1 text-sm">Active courses</p>
      </div>
      <div class="text-center">
         <p class="text-primary text-2xl font-bold"><%= @dashboard.team_score_metric %></p>
         <p class="pt-1 text-sm">Team score</p>
      </div>
   </div>
</div>
<%= render "dashboards/team_progress_chart", dashboard: @dashboard%>
<% end %>