<div class="bg-white rounded-xl border border-line-colour-light p-5">
  <h2 class="main-text-lg-semibold mb-4">Learning Activity</h2>

  <%# Quizzes Passed %>
  <div class="mb-4">
    <div class="flex items-center gap-2">
      <div class="bg-secondary-light h-10 w-10 p-4 rounded-lg flex items-center justify-center flex-none">
        <%= icon("puzzle-piece", css: "h-6 w-6 text-primary") %>
      </div>
      <div class="flex flex-col w-full gap-1">
        <div class="flex justify-between w-full">
          <span class="general-text-md-medium">Quizzes Passed</span>
          <span class="general-text-sm-normal"><%= @dashboard.quizzes_passed %>/<%= @dashboard.total_quizzes %></span>
        </div>
        <%= progressbar_component(value: @dashboard.quiz_pass_rate, color: :secondary) %>
        <p class="general-text-sm-normal text-letter-color-light mt-1"><%= @dashboard.quiz_pass_rate %>% Pass rate</p>
      </div>
    </div>
  </div>
</div>
