<div class="flex flex-col gap-4">
<%= render "shared/components/course_watch_time_chart_mobile" %>
<%= render "shared/components/total_views_chart" %>
<%= render "shared/components/average_numof_video_assigned_chart" %>
<%= render "shared/components/enrolled_ratio_chart" %>
<%= render "shared/components/self_enrolled_ratio_chart" %>
</div>