<div data-controller="custom-date">
<div class="flex items-center justify-between mb-4 px-1">
  <div>
    <div class="heading heading-medium flex gap-1">
      <span class="">Team: </span><span class=""><%= @team.name %></span>
    </div>
    <p class="general-text-sm-normal text-letter-color-light">Dashboard | <%= @team.users.active.count %> members</p>
  </div>
  <div class="flex justify-between relative">
    <%= render 'shared/components/dropdown_menu', menu: duration_menu_for(@team), selected_item: selected_label(@duration) %>
  </div>
</div>
<div class="grid grid-cols-2 md:grid-cols-4 gap-4 mb-6">
  <%= render 'stat_card',
      title: 'Active Learners',
      icon_name: 'user-group',
      value: @dashboard.active_learners_count,
      delta: @dashboard.active_learners_delta,
      delta_label: "#{@dashboard.active_learners_delta} learners",
      delta_suffix: period_label(@dashboard.duration) %>

  <%= render 'stat_card',
      title: 'Avg Completion',
      icon_name: 'check-badge',
      value: "#{@dashboard.completion_percent_metric}%",
      delta: @dashboard.completion_percent_delta,
      delta_label: "#{@dashboard.completion_percent_delta}%",
      delta_suffix: period_label(@dashboard.duration) %>

  <%= render 'stat_card',
      title: 'Avg Watch Time',
      icon_name: 'clock',
      value: duration_in_words(@dashboard.average_time_spent_metric),
      delta: @dashboard.average_time_spent_delta,
      delta_label: "#{duration_in_words(@dashboard.average_time_spent_delta.abs)}",
      delta_suffix: period_label(@dashboard.duration) %>

  <%= render 'stat_card',
      title: 'Certificates Earned',
      icon_name: 'document-text-outline',
      value: @dashboard.certificates_count,
      delta: @dashboard.certificates_delta,
      delta_label: "#{@dashboard.certificates_delta}",
      delta_suffix: period_label(@dashboard.duration) %>
</div>

<%= render 'dashboards/falling_behind' %>
<div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-6">
  <%# Left - Total Engagement + Deadlines %>
  <div class="flex flex-col gap-4">
    <%= render 'dashboards/total_engagement' %>
    <%= render 'dashboards/deadlines' %>
    <%= render 'dashboards/recent_activity' %>
  </div>

  <%# Right - Learning Activity + Self-Assigned %>
  <div class="flex flex-col gap-4">
    <%= render 'dashboards/learning_activity' %>
    <%= render 'dashboards/self_assigned' %>
    <%= render 'dashboards/started_vs_completed' %>
    <%= render 'dashboards/team_progress' %>
  </div>
</div>
<%= render 'dashboards/custom_date_modal', action_url: dashboards_path %>
</div>