<div class="flex flex-col border border-line-colour rounded-xl">
  <div class="flex flex-col md:flex-row relative">
    <div class="absolute top-0 left-0 z-10 flex flex-wrap justify-start gap-2 heading">
      <% course.tags.each do |tag| %>
        <% if tag.tag_type == "level" %>
          <span class="px-2 py-1 text-xs font-medium bg-secondary text-primary-dark rounded-tl-xl rounded-br-xl">
            <%= tag.name %>
          </span>
        <% end %>
      <% end %>
    </div>
    <div class="relative h-[140px] w-full md:w-[240px] md:h-[136px]">
      <%= image_tag course_banner(course, :vertical), class: "h-full w-full object-cover rounded-t-xl md:rounded-tr-none md:rounded-l-xl" %>
      <span class="absolute bottom-0 right-4 z-10 flex rounded-t-md bg-primary-light-100 general-text-sm-normal py-0.5 px-1 text-primary-dark">
          <%= course_duration(course) %>
       </span>
    </div>  
    <% if current_user.is_admin? %>
      <div class="absolute top-3 md:top-4 right-3 md:right-4 flex">
      <%= menu_component(menu_items: course_menu_items(course)) %>      
      </div> 
    <% end %>
    <div class="flex w-full flex-col gap-3 p-5">
      <div class="flex flex-wrap gap-2 items-center">
        <p class="truncate md:whitespace-normal md:overflow-visible md:text-clip text-letter-color main-text-lg-medium">
          <%= course.title %>
        </p>
        <% if course.visibility == "private" %>
          <%= chip_component(text: "Private" , colorscheme: 'primary') %>
        <% else %>
          <%= chip_component(text: "Public" , colorscheme: 'primary') %>
        <% end %>
      </div>
      
      <div class="flex flex-col md:flex-row justify-between gap-3">
        <div class="flex flex-col gap-3">
          <div class="flex flex-col md:flex-row gap-3 md:gap-4">
            <div class="flex gap-3 md:gap-4">
              <% if course.rating.present? %>
              <div class="flex items-center">
                <%= icon("star-transparent", css: "h-4 w-4 text-primary fill-primary") %>
                <span class="ml-2 general-text-sm-normal"><%= course.rating %></span>
              </div>
              <div class="w-px h-full bg-slate-grey-light md:hidden"></div>
              <% end %>
              <div class="flex items-center">
                <%= icon("book", css: "h-4 w-4 text-primary") %>
                <span class="ml-2 general-text-sm-normal font-medium"><%= pluralize(modules_count(course), 'module') %></span>
              </div>
              <div class="w-px h-full bg-slate-grey-light"></div>
              <%= render 'shared/components/tooltip', tooltip_text: pluralize(enroll_count(course), t("course.enroll.user")) do %>
                <div class="flex items-center">
                  <%= icon("user", css: "h-4 w-4 text-primary") %>
                  <span class="ml-2 general-text-sm-normal font-medium"><%= enroll_count(course) %></span>
                </div>
              <% end %>
            </div>
            <% if local_assigns[:enrollment].present? %>
              <div class="w-full md:w-[151px]">
                <%= render "shared/components/progress_bar", progress: enrollment.progress %>
              </div>
              <% if enrollment.deadline_present? %>
                <div class="text-sm">
                  <%= pluralize(days_remaining(enrollment.deadline_at), "day") %> left
                </div>
              <% end %>
            <% end %>
          </div>  
          
          <div class="flex flex-wrap gap-2 md:h-[24px] overflow-x-hidden overflow-y-auto whitespace-nowrap">
            <% course.tags.each do |tag| %>
              <% if tag.tag_type == "category" %>
                <%= chip_component(text: tag.name , colorscheme: 'primary', icon_name: 'check') %>
              <% end %>
            <% end %>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
<div class="p-3 md:p-4 flex flex-col gap-2 bg-primary-light-50 rounded-lg main-text-sm-normal" data-controller="text-clamp"
      data-text-clamp-css-value="line-clamp-2">
  <p class="main-text-sm-medium">
    Course Description
  </p>
  <div class="line-clamp-2" data-text-clamp-target="longText">
    <%= course_description(course) %>
  </div>
  <div class="text-primary underline main-text-sm-normal cursor-pointer hover:text-primary-light" data-text-clamp-target="showMoretoggle"
        data-action="click->text-clamp#showMoretoggle">Show more</div>
</div>