<%= link_to course_path(course), class: "inline-block rounded box-shadow-medium border border-line-colour-light" do %>
  <div class="w-full rounded max-h-[363px] md:w-[310px]">
    <%= image_tag course_banner(course, :horizontal), class: 'w-full h-[120px] rounded-t object-cover' %>
    <div class="flex flex-col justify-between h-[243px]">
      <div class="p-4">
        <p class="mb-2 overflow-hidden text-ellipsis text-base font-semibold text-primary max-h-[68px]">
          <%= course.title %>
        </p>
        <% if local_assigns[:enrollment].present? %>
          <%= render 'shared/components/progress_bar', progress: enrollment.progress %>
        <% end %>
        <div class="flex justify-between mt-2">
          <div class="flex items-center">
            <span class="icon icon-lessons h-3.5 w-3.5 bg-primary"></span>
            <span class="ml-2 text-xs font-medium"><%= modules_count(course) %></span>
          </div>
          <div class="flex items-center">
            <span class="icon icon-clock h-3.5 w-3.5 bg-primary"></span>
            <span class="ml-2 text-xs font-medium"><%= course_duration(course) %></span>
          </div>
          <div class="flex items-center">
            <span class="icon icon-user h-3.5 w-3.5 bg-primary"></span>
            <span class="ml-2 text-xs font-medium"><%= enroll_count(course) %></span>
          </div>
        </div>
        <p class="my-2 overflow-hidden text-ellipsis text-sm font-medium tracking-tight text-black0 max-h-[20px]">Course Description</p>
        <p class="overflow-hidden text-ellipsis text-justify text-sm tracking-tight text-letter-color-light max-h-[60px]"><%= course_description(course, 250) %></p>
      </div>
      <div class="p-4 flex flex-wrap justify-start gap-2">
        <% course.tags.each do |tag| %>
          <span class="px-2 py-1 text-xs font-medium text-white bg-primary-light rounded">
            <%= tag.name %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
