<% modules_in_order(course).each do |course_module| %>
  <details
    <% if current_module?(course_module, enrollment) %>
      class="border-line-colour mx-2 md:mx-4 rounded border highlighted"
      open="open"
    <% else %>
      class="border-line-colour mx-2 md:mx-4 rounded border"
    <% end %>
  >
    <summary class="flex items-center justify-between p-4 cursor-pointer focus:outline-none md:p-6">
      <h2 class="flex flex-row gap-4 items-center font-semibold text-sm justify-start md:text-base heading">
        <% if module_completed?(enrollment, course_module) %>
          <div class="flex items-center justify-center bg-primary rounded-full px-[2px] pt-[2px] w-5 h-5">
            <span class="icon icon-check icon-small bg-white"></span>
          </div>
        <% end %>
        <div class="flex flex-col gap-1 md:gap-4 md:flex-row items-start md:items-center">
          <% if policy(course_module).show? %>
          <%= link_to course_module.title, course_module_path(course, course_module), class: 'nav-link' %>
          <% else %>
          <%= course_module.title %>
          <% end %>
          <span class="text-primary text-xs font-normal md:text-sm md:font-medium">(<%= lessons_count(course_module) %>)</span>
        </div>
      </h2>
     
      <div class="flex gap-4 items-center">
        <% if policy(@course).edit? %>
          <%= link_to course_module_path(course, course_module) do %>
            <%= render 'shared/components/button_default_small', label: 'Edit', icon_name: 'icon-edit' %>
          <% end %>
        <% end %>
        <div class="flex flex-col items-center">
          <% if policy(:course_module).moveup? %>
            <%= link_to moveup_course_module_path(course, course_module), data: { turbo_method: :put } do %>
              <span class="icon icon-arrow-up icon-small bg-primary block"></span>
            <% end %>
          <% end %>
          <% if policy(:course_module).movedown? %>
            <%= link_to movedown_course_module_path(course, course_module), data: { turbo_method: :put } do %>
              <span class="icon icon-arrow-down icon-small bg-primary block"></span>
            <% end %>
          <% end %>
        </div>
        <div class="flex flex-row gap-6">
          <% if enrollment.score_earned_for(course_module) != 0 %>
            <div class="flex items-center justify-center">
              <p class="flex items-center justify-center gap-1"><span class="hidden md:block">Score :</span> <%= enrollment.score_earned_for(course_module) %>
              <%= image_tag 'coin.png', alt: 'coin', class: 'h-4' %></p>
            </div>
          <% end %>
          <div class="flex items-center">
            <span class="icon icon-down icon-small bg-letter-color down-arrow"></span>
            <span class="icon icon-up icon-small bg-letter-color hidden up-arrow"></span>
          </div>
        </div>        
      </div>
    </summary>
    <ul>
      <% lessons = lessons_in_order(course_module) %>
      <% if lessons.empty? %>
        <li class="flex items-center justify-between border-t border-line-colour px-4 py-4 text-sm md:px-6">
          <span><%= t("lesson.empty") %></span>
        </li>
      <% else %>
        <% lessons.each do |lesson| %>
          <li class="flex items-center justify-between border-t border-line-colour px-4 py-4 text-sm md:px-6 <%= 'highlighted' if current_lesson?(lesson, enrollment) %>">
            <div class="flex items-center gap-4">
              <% if enrollment %>
                <div class="flex items-center <%= lesson_completed?(enrollment, lesson) ? 'bg-primary-light-50 border-primary-light' : 'bg-gold-light border-gold' %> border p-1">
                  <span class="icon <%= lesson_completed?(enrollment, lesson) ? 'icon-check' : 'icon-incomplete' %> h-[14px] w-[14px] bg-primary"></span>
                </div>
              <% end %>
              <span><%= lesson.title %></span>
            </div>
            <div class="flex gap-6 items-center">
              <% if policy(@course).edit? %>
                <%= link_to edit_course_module_lesson_path(course, course_module, lesson), class: "link-text" do %>
                  <%= render 'shared/components/button_default_small', label: 'Edit', icon_name: 'icon-edit' %>
                <% end %>
              <% end %>
              <%= link_to course_module_lesson_path(course, course_module, lesson), class: "hover:cursor-pointer" do %>
                <div class="bg-primary-light-50 rounded-full p-1 md:p-[6px] flex items-center justify-center">
                  <span class="icon icon-play bg-primary h-2 w-2 md:h-3 md:w-3"></span>
                </div>
              <% end %>
            </div>
          </li>
        <% end %>
      <% end %>
      <% if policy(@course).edit? %>
        <li class="flex items-center space-x-5 border-t border-line-colour px-4 py-4 text-sm md:px-6">
          <%= link_to new_course_module_lesson_path(course, course_module), class: "nav-link" do %>
            <%= render 'shared/components/label_medium_success', label: 'Add lesson', icon_name: 'icon-plus' %>
          <% end %>
          <%= link_to new_course_module_quiz_path(course, course_module), class: "nav-link" do %>
            <%= render 'shared/components/label_medium_success', label: 'Add quiz', icon_name: 'icon-plus' %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </details>
<% end %>
