<div class="flex flex-col border-b px-6 py-6 border-line-colour" data-controller="course-description-card">
<div class="flex h-[216px]">
  <%= image_tag course_banner(course, :vertical), class: "h-[216px] w-[140px] object-cover" %>
  <div class="flex w-full flex-col px-4">
    <div class="flex justify-between">
      <p class="mb-4 overflow-hidden text-ellipsis text-2xl font-extrabold text-primary">
        <%= course.title %>
      </p>
      <% if policy(course).edit? %>
        <%= link_to edit_course_path(course), class: "nav-link" do %>
          <%= render "shared/components/button_default_small", label: "Edit", icon_name: "icon-edit" %>
        <% end %>
      <% end %>
    </div>

    <% if enrollment && (enrollment.progress > 0) %>
      <div class="w-80">
        <%= render "shared/components/progress_bar", progress: enrollment.progress %>
      </div>
    <% end %>
    <div class="mb-4 flex justify-between space-x-2">
      <div class="flex justify-between space-x-4">
        <div class="flex items-center">
          <span class="icon icon-lessons h-3.5 w-3.5"></span>
          <span class="ml-2 text-xs font-medium"><%= modules_count(course) %></span>
        </div>
        <div class="flex items-center">
          <span class="icon icon-clock h-3.5 w-3.5"></span>
          <span class="ml-2 text-xs font-medium"><%= course_duration(course) %></span>
        </div>
        <div class="flex items-center">
          <span class="icon icon-user h-3.5 w-3.5"></span>
          <span class="ml-2 text-xs font-medium"><%= enroll_count(course) %></span>
        </div>
      </div>
      <button class="flex items-center justify-center rounded p-2 bg-primary-light-50" data-course-description-card-target="showMoreToggle" data-action="click->course-description-card#showMoreToggle">
        <span class="text-xs text-primary">Show more</span>
        <span class="hidden icon-arrow-up icon-small" data-course-description-card-target="upArrow"></span>
        <span class="icon icon-arrow-down icon-small" data-course-description-card-target="downArrow"></span>
      </button>
    </div>
    <p class="mb-3 overflow-hidden text-ellipsis text-sm font-medium tracking-tight max-h-[20px]">
      Course Description
    </p>
    <div class="p-4 text-justify text-sm tracking-tight bg-primary-light-50 show-less-desc rounded-lg" data-course-description-card-target="courseDescription">
      <div class="h-full overflow-hidden">
        <%= course_description(course) %>
      </div>
    </div>
    
  </div>
</div>
<div class="flex justify-end gap-4 py-6">
      <% if policy(course).unenroll? %>
        <%= link_to unenroll_course_path(course), data: { turbo_method: :put, turbo_confirm: t("course.drop_warning") } do %>
          <%= render "shared/components/outline_icon_button_secondary_small", icon_name: 'icon-minus', label: 'Drop' %>
        <% end %>
      <% end %>
      <% if policy(course).enroll? %>
        <%= link_to enroll_course_path(course), data: { turbo_method: :put }  do %>
          <%= render "shared/components/button_primary_small", label: 'Enroll' %>
        <% end %>
      <% end %>
      <% if policy(course).proceed? %>
        <%= link_to proceed_course_path(course) do %>
          <%= render "shared/components/icon_button_primary_small", label: 'Continue', icon_name: 'icon-next', icon_right: true %>
        <% end %>
      <% end %>
    </div>
</div>
