<%= link_to course_path(course), class: "inline-block rounded box-shadow-medium border border-line-colour-light" do %>
  <div class="w-full rounded max-h-[363px] md:w-[310px]">
    <%= image_tag course_banner(course, :horizontal), class: "w-full h-[120px] rounded-t object-cover" %>
    <div class="p-4">
      <p class="mb-2 overflow-hidden text-ellipsis text-base font-semibold text-primary max-h-[68px]">
        <%= course.title %>
      </p>
      <% if local_assigns[:enrollment].present? %>
        <%= render "shared/components/progress_bar", progress: enrollment.progress %>
      <% end %>
      <div class="flex justify-between">
        <div class="flex items-center">
          <span class="icon icon-lessons h-3.5 w-3.5"></span>
          <span class="ml-2 text-xs font-medium"><%= modules_count(course) %></span>
        </div>
        <div class="flex items-center">
          <span class="icon icon-clock h-3.5 w-3.5"></span>
          <span class="ml-2 text-xs font-medium"><%= course_duration(course) %></span>
        </div>
        <div class="flex items-center">
          <span class="icon icon-user h-3.5 w-3.5"></span>
          <span class="ml-2 text-xs font-medium"><%= enroll_count(course) %></span>
        </div>
      </div>
      <p class="mt-4 overflow-hidden text-ellipsis text-sm font-medium tracking-tight text-black0 max-h-[20px]">Course
        Description</p>
      <p class="my-3 overflow-hidden text-ellipsis text-justify text-sm tracking-tight text-letter-color-light max-h-[60px]"><%= course_description(course, 250) %></p>
      <h1 class="text-sm bottom-0 text-primary">
        <%= course.tags.map { |tag| "##{tag.name}" }.join(' ') %>
      </h1>
    </div>
  </div>
<% end %>
