<div class="flex flex-row border-b px-6 pt-6 border-line-colour" data-controller="course-description-card">
  <%= image_tag course_banner(course, :vertical), class: "h-[208px] w-[140px] rounded-l object-cover" %>
  <div class="flex w-full flex-col px-4 pt-2">
    <div class="flex justify-between">
      <p class="mb-4 overflow-hidden text-ellipsis text-2xl font-extrabold text-primary">
        <%= course.title %>
      </p>
      <% if policy(@course).edit? %>
        <%= link_to edit_course_path(@course), class: "nav-link" do %>
          <%= render "shared/components/button_default_small", label: "Edit", icon_name: "icon-edit" %>
        <% end %>
      <% end %>
    </div>

    <div class="mb-5 flex justify-between space-x-2">
      <div class="flex justify-between space-x-4">
        <div class="flex items-center">
          <span class="icon icon-lessons h-3.5 w-3.5"></span>
          <span class="ml-2 text-xs font-medium"><%= modules_count(course) %></span>
        </div>
        <div class="flex items-center">
          <span class="icon icon-clock h-3.5 w-3.5"></span>
          <span class="ml-2 text-xs font-medium"><%= course_duration(course) %></span>
        </div>
        <div class="flex items-center">
          <span class="icon icon-user h-3.5 w-3.5"></span>
          <span class="ml-2 text-xs font-medium"><%= enroll_count(course) %></span>
        </div>
      </div>
      <button class="flex items-center justify-center rounded p-2 bg-primary-light-50" data-course-description-card-target="showMoreToggle" data-action="click->course-description-card#showMoreToggle">
        <span class="text-xs text-primary">Show more</span>
        <span class="hidden icon-arrow-up icon-small" data-course-description-card-target="upArrow"></span>
        <span class="icon icon-arrow-down icon-small" data-course-description-card-target="downArrow"></span>
      </button>
    </div>
    <p class="mb-3 overflow-hidden text-ellipsis text-sm font-medium tracking-tight max-h-[20px]">
      Course Description
    </p>

    <div class="p-4 text-justify text-sm tracking-tight bg-primary-light-50 show-less-desc max-h-[75px]" data-course-description-card-target="courseDescription">
      <div class="h-full overflow-hidden">
        <%= course_description(course) %>
      </div>
    </div>

    <div class="flex justify-end gap-4 py-6">
      <% if policy(course).unenroll? %>
        <%= link_to unenroll_course_path(course), data: { turbo_method: :put, turbo_confirm: t("course.drop_warning") }, class: "border-gary1 flex items-center gap-2 rounded border p-1 px-3" do %>
          <span class="icon icon-minus icon-small"></span>
          <span class="text-xs text-secondary">Drop</span>
        <% end %>
      <% end %>

      <% if policy(course).enroll? %>
        <%= link_to enroll_course_path(course), data: { turbo_method: :put }, class: "bg-primary flex items-center gap-2 rounded p-1 px-3" do %>
          <span class="text-xs text-white">Enroll</span>
        <% end %>
      <% end %>

      <% if policy(course).proceed? %>
        <%= link_to proceed_course_path(course), class: "bg-primary flex items-center gap-2 rounded p-1 px-3" do %>
          <span class="text-xs text-white">Proceed</span>
          <span class="items-center icon icon-next icon-small"></span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
