<% modules_in_order(course).each do |course_module| %>
  <details
    <% if current_module?(course_module, enrollment) %>
    class="border-line-colour-light border rounded highlighted" open="open"
    <% else %>
    class="border-line-colour-light border rounded"
    <% end %>
    >
    <summary class="flex cursor-pointer items-center justify-between p-4 focus:outline-none focus:border-0">
      <h2 class="flex flex-col justify-start text-sm font-semibold">
        <span class=""><%= course_module.title %></span>
        <span class="text-primary text-xs font-normal">(<%= lessons_count(course_module) %>)</span>
      </h2>
      <span class="icon-down icon-small"></span>
      <span class="icon icon-up hidden icon-small"></span>
    </summary>
    <ul>
      <% lessons_in_order(course_module).each do |lesson| %>
        <li class="flex items-center justify-between border-t border-line-colour-light px-4 py-4 text-sm <%= 'highlighted' if current_lesson?(lesson, enrollment) %>">
          <div class="flex items-center gap-4">
            <% if enrollment && lesson_completed?(enrollment, lesson) %>
              <span class="icon bg-primary-light border-primary-light-50 icon-complete h-5 w-5 items-center border"></span>
            <% end %>
            <% if enrollment && !lesson_completed?(enrollment, lesson) %>
              <span class="icon bg-gold-light border-gold icon-incomplete h-5 w-5 items-center border"></span>
            <% end %>
            <span class="text-letter-color-light"><%= lesson.title %></span>
          </div>
          <%= link_to course_module_lesson_path(course, course_module, lesson), class: "hover:cursor-pointer" do %>
            <span class="icon icon-play-lite icon-small"></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </details>
<% end %>