<div class="w-80 bg-white shadow-lg fixed right-0 -mt-8 h-full border-line-colour-light border hidden" data-courses-target="filters">
  <div class="flex flex-row justify-between pl-4 pt-4">
    <h2 class="text-lg font-semibold mb-4">Filter by</h2>
    <span class="icon icon-close icon-small mt-1 cursor-pointer mr-2" data-action="click->courses#close_filter"></span>
  </div>
  <hr class="my-2 border-t-2 border-line-colour w-full">
  <%= form_with url: courses_path, method: :get, local: true, data: {controller: "courses", action: "submit->courses#form_submit"} do |form| %>
    <div class="pl-4 pt-2">
      <h3 class="text-sm text-primary mb-2">Levels</h3>
    </div>
    <ul class="p-4">
      <% tags.level.each do |tag| %>
        <li class="mb-2 flex items-center">
          <%= check_box_tag "tags[]", tag.name, params[:tags]&.include?(tag.name), class: "mr-2" %>
          <a class="text-blue-600"><%= tag.name %></a>
        </li>
      <% end %>
    </ul>
    <hr class="my-2 border-t-2 border-line-colour w-full">
    <div class="pl-4 pt-2">
      <h3 class="text-sm text-primary mb-2">Category</h3>
    </div>
    <ul class="p-4">
      <% tags.category.each do |tag| %>
        <li class="mb-2 flex items-center">
          <%= check_box_tag "tags[]", tag.name, params[:tags]&.include?(tag.name), class: "mr-2" %>
          <a class="text-blue-600"><%= tag.name %></a>
        </li>
      <% end %>
    </ul>
    <div class="pl-4 pt-4">
      <%= form.submit 'Apply Filters', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
