<div class="w-auto md:max-w-3xl">
  <%= form_with(model: course, id: "course-form") do |form| %>
    <div class="flex justify-center mt-2 mb-7">
      <div class="flex items-center">
        <span data-multistep-form-target="indicator" class="bg-primary-light-100 rounded-full h-5 w-5"></span>
        <div class="flex grow"><div class="w-[201px] h-1 bg-primary-light-100"></div></div>
        <span data-multistep-form-target="indicator" class="bg-primary-light-100 rounded-full h-5 w-5"></span>
      </div>
    </div>
    <div data-multistep-form-target="step" class="flex flex-col gap-4">
      <%= input_text_component(form:, name: :title, label: "Title", placeholder: "Enter the Title") %>    
      <%= dropdown_component(form:, name: :category_id, label: "Category", options: @categories.pluck(:name, :id)) %>
      <%= dropdown_component(form:, name: :level_id, label: "Level", options: @levels.pluck(:name, :id)) %>
    </div>

    <div data-multistep-form-target="step" class="flex flex-col gap-4 hidden">
      <%= textarea_component(form:, name: :description, label: "Description", placeholder: "Enter description") %>
      <%= file_selector_component(form:, name: :banner, label: "banner", type: "image" ) %>
      <div class="flex flex-col gap-3 mt-1">
        <label class="main-text-sm-medium">Set course visibility</label>
        <div class="flex flex-wrap gap-7">
          <% course_visibility.each do |item| %>
            <%= input_radio_component( 
                  name: "course[visibility]", 
                  label: item.capitalize, 
                  value: item, 
                  html_options: { 
                    checked: form.object.visibility.present? ?
                        form.object.visibility == item :
                        item == 'private'
                    }
                  ) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
