<div class="w-auto md:max-w-3xl">
  <%= form_with(model: course) do |form| %>
    <%= render "shared/components/form_errors", resource: course %>
    <div class="mb-8 text-sm">
      <%= input_field(form:, field_name: :title, label: "Title", placeholder: "Enter the Title",type: "text",width:"w-full") %>     
    </div>
    <div class="my-8 text-sm">
      <div class="flex justify-between">
        <%= form.label :banner, class: "text-sm font-medium text-letter-color-light" %>
      </div>
      <div class="relative mt-2">
        <%= render "shared/components/file_select", hidden_file_field: form.file_field(:banner,
                                                                                        class: "hidden", data: { forms_target: "fileInput" }), preview: "logo" %>
      </div>
    </div>
    <div class="my-8 text-sm flex flex-col">
      <%= input_dropdown(form:, field_name: :category_id, label: "Category", options: @categories.pluck(:name, :id), value: @category&.id) %>
    </div>
    <div class="my-8 text-sm flex flex-col">
      <%= input_dropdown(form:, field_name: :level_id, label: "Level", options: @levels.pluck(:name, :id), value: @level&.id) %>
    </div>
    <div class="my-8 text-sm">
      <%= input_text_area( form:, field_name: :description, label: "Description", placeholder: "Enter description", width: "w-full" ) %>
    </div>
    <div class="my-8 flex items-center gap-6 text-sm">
      <div class="my-8">
        <% if @course.persisted? %>
          <%= link_to "Cancel", course_path(@course), class: "nav-link" %>
        <% else %>
          <%= link_to "Cancel", courses_path, class: "nav-link" %>
        <% end %>
      </div>
      <div>
        <%= form.submit class: "btn-primary" do %>
          <span><%= submit_label_for(course) %></span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>