<div class="box">
  <div class="w-auto">
    <%= form_with(model: course) do |form| %>
      <% if course.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

          <ul>
            <% course.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="my-8 text-sm" >
        <%= form.label :title, class: "text-sm font-medium" %>
        <%= form.text_field :title, class: "input-text mt-2" %>
      </div>

      <div class="my-8 text-sm" >
        <%= form.label :banner, class: "text-sm font-medium" %>
        <%= form.file_field :banner, class: "input-file mt-2" %>
      </div>

      <div class="my-8 text-sm" >
        <%= form.label :rich_description, "Description", class: "text-sm font-medium" %>
        <%= form.rich_text_area :rich_description, class: "mt-2" %>
      </div>

      <div class="my-8 text-sm">
        <% text = course.persisted? ? "Update" : "Create" %>
        <%= form.submit class: "btn-default" do %>
          <span><%= text %></span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>