<%= desktop_view do %>
  <div class="flex">
    <%= render "shared/components/fixed_side_bar" %>

    <div class="w-full">
      <%= render "shared/components/top_header" %>
      <main class="m-8">
        <h1 class="mb-4 text-xl font-semibold">My Courses</h1>
        <% if policy(:course).new? %>
          <div class="box flex justify-end">
            <%= link_to new_course_path, class: "btn-default btn-icon" do %>
              <%= render "shared/svg/plus" %>
              <span>Add course</span>
            <% end %>
          </div>
        <% end %>

        <% if !@search_results.nil? %>
          <p class="text-base font-medium mb-4">
            <span class="">No results for search keyword '<%= @keyword %>'</span>
          </p>
        <% end %>

        <% if @search_results.present? %>
          <p class="text-base font-medium mb-4">
            <span class="">Enrolled courses</span>&nbsp<span class="text-textLight">(<%= @enrolled_courses.count %> Courses)</span>
          </p>
          <%= render "list", heading: "Search results", courses: @search_results %>
        <% end %>

        <% if @enrolled_courses.present? %>
          <p class="text-base font-medium mb-4">
            <span class="">Enrolled courses</span>&nbsp<span class="text-textLight">(<%= @enrolled_courses.count %> Courses)</span>
          </p>

          <% @enrolled_courses.each do |course| %>
            <%= render "shared/components/course_card_with_top_image", course: course %>
          <% end  %>
        <% end  %>

        <% if @other_courses.present? %>
          <p class="text-base font-medium mb-4">
            <span class="">Available courses</span>&nbsp<span class="text-textLight">(<%= @other_courses.count %> Courses)</span>
          </p>
          <% @other_courses.each do |course| %>
            <%= render "shared/components/course_card_with_top_image" %>
          <% end  %>
        <% end  %>
      </main>
    </div>
  </div>
<% end %>