<%= render "shared/components/mobile_layout" do %>
  <div class="my-4 flex gap-4 items-center">
    <span class="icon icon-course-teal icon-small"></span>
    <h1 class="text-sm font-semibold text-primary">My Courses</h1>
  </div>

  <% if has_search_results? %>
    <p class="text-base font-medium mb-4">
      <% if @search_results.empty? %>
        <span class="">No results for search keyword '<%= @keyword %>'</span>
      <% else %>
        <span class="">Search results</span>&nbsp
        <span class="text-letter-color-light">(<%= pluralize(@search_results.count, 'result') %>)</span>
      <% end %>
    </p>
    <div class="flex flex-col gap-4">
      <% @search_results.each do |course| %>
        <%= render "courses/course_card_with_top_image", course: course %>
      <% end %>
    </div>
  <% end %>

  <% if has_enrolled_courses? %>
    <p class="text-base font-medium mb-4">
      <span class="">Enrolled courses</span>&nbsp<span class="text-letter-color-light">(<%= pluralize(@enrolled_courses.count, 'enrollment') %>
      )</span>
    </p>
    <div class="flex flex-col gap-4">
      <% @enrolled_courses.each do |course| %>
        <%= render "courses/course_card_with_top_image", course: course %>
      <% end %>
    </div>
  <% end %>

  <% if has_available_courses? %>
    <p class="text-base font-medium mb-4">
      <span class="">Available courses</span>&nbsp<span class="text-letter-color-light">(<%= pluralize(@available_courses.count, 'course') %>
      )</span>
    </p>
    <div class="flex flex-col gap-4">
      <% @available_courses.each do |course| %>
        <%= render "courses/course_card_with_top_image", course: course %>
      <% end %>
    </div>
  <% end %>
<% end %>