<%= render "shared/components/desktop_layout" do %>
  <h1 class="mb-4 text-xl font-semibold">My Courses</h1>
  <% if policy(:course).new? %>
    <div class="box flex justify-end">
      <%= link_to new_course_path, class: "btn-default btn-icon" do %>
        <span class="icon icon-plus icon-small"></span>
        <span>Add course</span>
      <% end %>
    </div>
  <% end %>

  <% if !@search_results.nil? %>
    <p class="text-base font-medium mb-4">
      <span class="">No results for search keyword '<%= @keyword %>'</span>
    </p>
  <% end %>

  <% if @search_results.present? %>
    <p class="text-base font-medium mb-4">
      <span class="">Search results</span>&nbsp<span class="text-letter-color-light">(<%= pluralize(@search_results.count, "result") %>)</span>
    </p>

    <div class="flex flex-wrap gap-4">
      <% @search_results.each do |course| %>
        <%= render "shared/components/course_card_with_top_image", course: course %>
      <% end  %>
    </div>
  <% end %>

  <% if @enrolled_courses.present? %>
    <p class="text-base font-medium mb-4">
      <span class="">Enrolled courses</span>&nbsp<span class="text-letter-color-light">(<%= @enrolled_courses.count %> Courses)</span>
    </p>

    <div class="flex flex-wrap gap-4">
      <% @enrolled_courses.each do |course| %>
        <%= render "shared/components/course_card_with_left_image", course: course %>
      <% end  %>
    </div>
  <% end  %>

  <% if @other_courses.present? %>
    <p class="text-base font-medium mb-4">
      <span class="">Available courses</span>&nbsp<span class="text-letter-color-light">(<%= @other_courses.count %> Courses)</span>
    </p>
    <div class="flex flex-wrap gap-4">
      <% @other_courses.each do |course| %>
        <%= render "shared/components/course_card_with_top_image", course: course %>
      <% end  %>
    </div>
  <% end  %>
<% end %>