<%= render "shared/components/desktop_layout" do %>
  <div data-controller="courses">
    <%= render 'filters', tags: @tags %>
    <div class="flex flex-row justify-between">
      <h1 class="text-xl font-semibold">My Courses</h1>
      <% if policy(:course).new? %>
        <%= link_to new_course_path, class: "nav-link" do %>
          <%= render 'shared/components/icon_button_primary', label: 'Add course', icon_name: 'icon-plus-white' %>
        <% end %>
      <% end %>
    </div>
    <%= form_tag courses_path, method: :get, data: { action: "submit->courses#form_submit" } do %>
      <div class="rounded-sm shadow-sm w-full mt-5" name="search">
        <div class="border rounded-lg border-line-colour-light pl-10">
          <%= text_field_tag :term, params[:term], id: "course-search", class: "input-search w-full", placeholder: "Search courses ..." %>
        </div>
      </div>
    <% end %>
    <div class="flex flex-row mt-5 justify-between mb-4">
      <div class="space-x-2 flex flex-row">
        <% params[:tags]&.each do |tag| %>
          <%= link_to updated_tags_query_params(tag), method: :get do %>
            <%= render "shared/components/button_default_small", label: tag, icon_name: "icon-close" %>
          <% end %>
        <% end %>
      </div>
      <% if @type.present? %>
        <div data-action="click->courses#open_filter">
          <%= render "shared/components/button_default_small", label: "Filter", icon_name: "icon-edit" %>
        </div>
      <% end %>
    </div>
    <% if @available_courses.blank? && @enrolled_courses.blank? %>
      <p class="text-base font-medium mb-4">
        <span>No results found with your search query "<%= params[:term] %>"</span>
      </p>
    <% end %>
    <% if has_enrolled_courses? && @type != "all" %>
      <p class="text-base font-medium mb-4">
        <span class="">Enrolled courses</span>&nbsp<span class="text-letter-color-light">(<%= pluralize(@enrolled_courses_count, 'enrollment') %>)</span>
        <%= link_to 'View more', courses_path(request.query_parameters.merge(type: "enrolled")), class: 'text-xs text-primary hover:cursor-pointer underline' if @type.nil? %>
      </p>
      <div class="flex flex-wrap gap-4">
        <% @enrolled_courses.each do |course| %>
          <%= render 'courses/course_card_with_left_image', course: course, enrollment: course.enrollments.first %>
        <% end %>
      </div>
      <%= paginate(@enrolled_courses) if @type.present? %>
    <% end %>
    <% if has_available_courses? && @type != "enrolled" %>
      <p class="text-base font-medium my-4">
        <span class="">Available courses</span>&nbsp<span class="text-letter-color-light">(<%= pluralize(@available_courses_count, 'course') %> )</span>
        <%= link_to 'View more', courses_path(request.query_parameters.merge(type: "all")), class: 'text-xs text-primary hover:cursor-pointer underline' if @type.nil?  %>
      </p>
      <div class="flex flex-wrap gap-4">
        <% @available_courses.each do |course| %>
          <%= render 'courses/course_card_with_top_image', course: course %>
        <% end %>
      </div>
      <%= paginate(@available_courses) if @type.present? %>
    <% end %>
  </div>
<% end %>
