<%= mobile_view do %>
  <%= render 'shared/components/admin_not_available'%>
<% end %>
<%= render "shared/components/desktop_layout" do %>
  <%= link_to course_path(@course),  class: "nav-link" do %>
    <%= render 'shared/components/back_button' %>
  <% end %>
  <div class="box">
    <h1 class="page-heading-medium">Edit course</h1>
  </div>
  <%= render "form", course: @course %>
<% end %>