<div data-controller="courses">
  <%= render 'filters', tags: @tags %>
  <div class="flex flex-row justify-between mb-4">
    <h1 class="heading mb-4 page-heading-medium">My Courses</h1>
    <% if policy(:course).new? %>
      <%= link_to new_course_path, class: "nav-link" do %>
        <%= button(
        label: 'Add course', 
        icon_name: "plus"
      ) %>
      <% end %>
    <% end %>
  </div>
  <% if @type == "all" || @type == "enrolled" %>
    <div class="mb-4">
      <%= render 'shared/components/back_button', back_link: courses_path %>
    </div>
  <% end %>
  <%= form_tag courses_path, method: :get, data: { action: "submit->courses#formSubmit" } do %>
    <div class="relative rounded-md border border-line-colour-light w-full">
      <div class="pointer-events-none absolute inset-y-0 left-3 flex items-center">
        <span class="icon icon-search icon-small bg-letter-color"></span>
      </div>
      <%=
        text_field_tag :term,
                       params[:term],
                       id: 'course-search',
                       class: 'input-search w-full border-none pr-10',
                       placeholder: 'Search courses ...',
                       data: {
                         courses_target: 'searchInput',
                       }
      %>
      <% if params[:term].present? %>
        <div class="absolute inset-y-0 right-4 flex items-center cursor-pointer" data-action="click->courses#clearSearch">
          <span class="flex cursor-pointer items-center text-purple text-sm">Clear search</span>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="flex flex-row mt-5 justify-between mb-4">
    <div class="space-x-2 flex flex-row">
      <% params[:tags]&.each do |tag| %>
        <%= link_to updated_tags_query_params(tag), method: :get do %>
          <%= button(label: tag, type: "secondary", size: "sm", icon_name: "x-circle", icon_position: "right") %>
        <% end %>
      <% end %>
    </div>
    <% if @type.present? %>
      <div data-action="click->courses#openFilter" class="cursor-pointer">
        <%= button(label: 'Filter', type: "secondary", size: "sm", icon_name: "funnel", icon_position: "right") %>
      </div>
    <% end %>
  </div>
  <% if @type.nil? && @available_courses.blank? && @enrolled_courses.blank? %>
    <%= render 'courses/not_found_msg', type: 'search' %>
  <% elsif @type == "enrolled" && @enrolled_courses.blank? %>
    <%= render 'courses/not_found_msg', type: (params[:tags].present? && params[:term].present? ? 'search_and_tags' : params[:term].present? ? 'search' : 'tags') %>
  <% elsif @type == "all" && @available_courses.blank? %>
    <%= render 'courses/not_found_msg', type: (params[:tags].present? && params[:term].present? ? 'search_and_tags' : params[:term].present? ? 'search' : 'tags') %>
  <% end %>
  <% if enrolled_courses?(@enrolled_courses) && @type != "all" %>
    <p class="heading heading-medium mb-4">
      <span class="">Assigned courses</span>&nbsp<span class="text-letter-color-light">(<%= pluralize(@enrolled_courses_count, 'course') %>
        )</span>
      <%= link_to 'View more', courses_path(type: 'enrolled', term: params[:term]), class: 'text-xs text-primary hover:cursor-pointer underline' if @type.nil? %>
    </p>
    <div class="flex flex-col md:flex-row md:flex-wrap min-w-screen gap-4">
      <% @enrolled_courses.each do |course| %>
        <%= link_to course_path(course) do %>
          <%= render 'courses/course_card_with_top_image', course: course, enrollment: course.enrollments.first %>
        <% end %>
      <% end %>
    </div>
    <%= paginate(@enrolled_courses) if @type.present? %>
  <% end %>
  <% if available_courses?(@available_courses) && @type != "enrolled" %>
    <p class="heading heading-medium my-4">
      <span class="">Available courses</span>&nbsp<span class="text-letter-color-light">(<%= pluralize(@available_courses_count, 'course') %>
        )</span>
      <%= link_to 'View more', courses_path(type: 'all', term: params[:term]), class: 'text-xs text-primary hover:cursor-pointer underline' if @type.nil? %>
    </p>
    <div class="flex flex-wrap gap-4">
      <% @available_courses.each do |course| %>
        <%= link_to course_path(course) do %>
          <%= render 'courses/course_card_with_top_image', course: course %>
        <% end %>
      <% end %>
    </div>
    <%= paginate(@available_courses) if @type.present? %>
  <% end %>
</div>
