<%= render "shared/header", header_options(title: "My Courses", header_extended: true) %>
<%= render "page_header" %>

<div class="box">
  <%= image_tag course_banner(@course), class: " h-80 w-full object-cover rounded-lg" %>
</div>

<div class="box md:flex md:justify-between">
  <div>
    <div class="page-title"><%= @course.title %></div>
    <div class="page-subtitle my-4 text-balance"><%= @course.description %></div>
  </div>
  <div class="hidden md:block text-right">
    <div class="mt-2">
      <% if policy(@course).enroll? %>
        <%= link_to "Enroll Course", enroll_course_path(@course), data: { turbo_method: :put }, class: "btn-default"%>
      <% end %>

      <% if policy(@course).unenroll? %>
        <%= link_to "Drop Course", unenroll_course_path(@course), data: { turbo_method: :put, turbo_confirm: t("course.drop_warning") }, class: "btn-primary"%>
      <% end %>
      </div>
  </div>
</div>

<div class="box md:hidden">
  <% if policy(@course).enroll? %>
    <%= link_to "Enroll Course", enroll_course_path(@course), data: { turbo_method: :put }, class: "btn-default"%>
  <% end %>

  <% if policy(@course).unenroll? %>
    <%= link_to "Drop Course", unenroll_course_path(@course), data: { turbo_method: :put, turbo_confirm: t("course.drop_warning") }, class: "btn-primary"%>
  <% end %>
</div>

<div class="box">
  <% if policy(@course).proceed? %>
    <div class="my-8">
      <%= link_to "Proceed", proceed_course_path(@course), class: "btn-default"%>
    </div>
  <% end %>
  <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white text-gray-900" data-inactive-classes="text-gray-500">
    <% @course_modules.each_with_index do |course_module, index| %>
    <h2 id=<%="accordion-flush-heading-#{index+1}" %> >
      <button type="button" class="px-4 rounded flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-900 border-b border-gray-200 gap-3" data-accordion-target=<%="#accordion-flush-body-#{index+1}"%> aria-expanded="true" aria-controls=<%="accordion-flush-body-#{index+1}"%> >
        <span><%= course_module.title %><small class="text-xs">(<%= course_module.lessons.count %> lessons)</small></span>
        <%= render "shared/svg/down" %>
      </button>
    </h2>
    <div id=<%="accordion-flush-body-#{index+1}"%> class="hidden" aria-labelledby=<%="accordion-flush-heading-#{index+1}"%> >
      <div class="px-4 py-5 border-b border-gray-200 bg-white">
        <% if policy(:course_module).show? %>
          <p class="mb-2 text-gray-900 text-sm text-right"><%= link_to "View or modify module", course_module_path(@course, course_module), class: "link" %></p>
        <% end %>
        <% if policy(:course_module).movedown? %>
          <p class="mb-2 text-gray-900 text-sm text-right"><%= link_to "Move Up", movedown_course_module_path(@course, course_module), data: { turbo_method: :put }, class: "link" %></p>
        <% end %>
        <% if policy(:course_module).moveup? %>
          <p class="mb-2 text-gray-900 text-sm text-right"><%= link_to "Move Down", moveup_course_module_path(@course, course_module), data: { turbo_method: :put }, class: "link" %></p>
        <% end %>
        <p class="mb-2 text-gray-900 text-sm md:max-w-[1400px]"><%= course_module.description %></p>
        <ul class="px-8">
        <% course_module.lessons.each do |lesson| %>
          <li class="border-b text-sm py-4 bg-white"><%= link_to lesson.title, course_module_lesson_path(@course, course_module, lesson) %></li>
        <% end %>
        </ul>
      </div>
    </div>
    <% end %>
  </div>
</div>