<% content_for :header do %>
  <div class="flex flex-col gap-4">
    <% if current_user.is_admin? %>
      <%= breadcrumbs_component links: [[I18n.t('course.label'), courses_path], [@course.title, nil]]%>
    <% else %>
      <%= render "shared/components/bread_crumbs", links: [['Home', courses_path], ["Explore our Courses", explore_courses_path], [@course.title, nil]] %>
    <% end %>

    
    <div class="flex <%= current_user.is_admin? ? 'flex-col' : 'flex-row items-center'%> md:flex-row justify-between gap-4 w-full">
      <%= render 'shared/components/back_button', back_link: :back %>
      <div class="flex flex-nowrap w-full md:w-fit gap-4 justify-end">
        <% if current_user.is_admin? %>
          <%= render 'courses/admin_actions', course: @course %>
        <% else %>
          <%= render 'courses/non_admin_actions', course: @course, assessment: @assessment, enrollment: @enrollment %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<%= render 'courses/course_header_card', course: @course, enrollment: @enrollment %>

<div class="-mt-4">
  <% if current_user.is_admin? %>
    <div class="flex gap-4 mb-5">
      <%= link_to course_materials_path(@course) do %>
        <%= button_component text: "Course Materials", type: "outline", size: "sm" %>
      <% end %>
      <%= link_to course_questions_path(@course) do %>
        <%= button_component text: "Questions Bank", type: "outline", size: "sm" %>
      <% end %>
    </div>
  <% end %>
  <% if @course.course_modules.present? %>
    <div class="flex flex-col gap-5 mb-5">
      <% if course_completed?(@enrollment) %>
        <%= render "courses/course_stats", course: @course, enrollment: @enrollment, assessment: @assessment %>
      <% end %>
      <%= render 'courses/course_lessons', course: @course, enrollment: @enrollment %>
    </div>
  <% else %>
    <div class="flex flex-col items-center justify-center flex-grow py-6">
      <h2 class="text-semibold"><%= t("course.course_module.empty") %></h2>
      <% if policy(:course_module).new? %>
        <%= link_to new_course_module_path(@course),  data: { turbo_frame: "modal" }, class: "mt-4" do %>
          <%= button_component(text: "Add module", size:"sm", icon_name: "plus") %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>