<%= render "shared/components/layout" do %>
  <div class="flex justify-end">
    <div class="flex justify-between gap-4">
      <% if policy(@course).destroy? %>
        <%= link_to course_path(@course), data: { turbo_method: "delete" } do %>
          <%= render 'shared/components/outline_button_danger', label: 'Delete' %>
        <% end %>
      <% end %>
      <% if policy(@course).publish? %>
        <%= link_to publish_course_path(@course), data: { turbo_method: "put" } do %>
          <%= render 'shared/components/outline_button_secondary', label: 'Publish' %>
        <% end %>
      <% end %>
      <% if policy(@course).unpublish? %>
        <%= link_to unpublish_course_path(@course), data: { turbo_method: "put" } do %>
          <%= render 'shared/components/outline_button_secondary', label: 'Unpublish' %>
        <% end %>
      <% end %>
      <% if policy(:course_module).new? %>
        <%= link_to new_course_module_path(@course) do %>
          <%= render 'shared/components/icon_button_primary', label: 'Add module', icon_name: 'icon-plus' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= render "shared/components/bread_crumbs", links: [[I18n.t('course.label'),courses_path], [@course.title, nil]] %>

  <div class="flex flex-col rounded box-shadow-medium gap-4 md:gap-6">
    <%= render 'courses/course_description_card', course: @course, enrollment: @enrollment %>
  </div>
  <% if @course.course_modules.present? %>
    <div class="flex flex-col rounded box-shadow-medium gap-4 md:gap-6 pb-6 md:pb-6 pt-6">
      <div class="flex flex-col md:items-center gap-6 md:justify-center bg-primary p-4 md:p-6 mx-4 rounded">
        <h2 class="flex items-center md:justify-center gap-2">
          <div class="flex items-center justify-center bg-white rounded-full px-[2px] pt-[2px] w-6 h-6">
          <span class="icon icon-check icon-small bg-primary"></span>
          </div>
          <span class="text-white heading page-heading-medium">Course completed</span>
        </h2>
        <div class="flex flex-col md:flex-row md:flex-wrap gap-6 md:justify-center md:w-[715px]">
          <div class="flex items-center space-x-2">
            <span class="icon-small icon icon-clock bg-white"></span>
            <span class="ml-2 text-xs font-medium text-white">Total time spent : <%= course_duration(@course) %></span>
          </div>
          <div class="flex items-center space-x-2">
            <span class="icon-small icon icon-quiz-score bg-white"></span>
            <span class="ml-2 text-xs font-medium text-white">Total score : 4/5</span>
          </div>
          <div class="flex items-center space-x-2">
            <span class="icon-small icon icon-calendar bg-white"></span>
            <span class="ml-2 text-xs font-medium text-white">Completion date : 01/01/2025</span>
          </div>
          <div class="flex items-center space-x-2">
            <span class="icon-small icon icon-user bg-white"></span>
            <span class="ml-2 text-xs font-medium text-white">Assigned by : Jubin shaju</span>
          </div>
        </div>
      </div>
      
      <%= render 'courses/course_lessons', course: @course, enrollment: @enrollment %>
    </div>
  <% else %>
    <div class="flex flex-col items-center justify-center flex-grow py-6">
      <h2 class="semibold-heading"><%= t("course.course_module.empty") %></h2>
      <% if policy(:course_module).new? %>
        <%= link_to new_course_module_path(@course), class: "mt-4" do %>
          <%= render 'shared/components/icon_button_primary_small', label: 'Add module', icon_name: 'icon-plus' %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
