<div class="flex w-fit gap-1 items-center rounded h-5 px-1 py-0.5 border <%= border_style %> <%= bg_style %>">
  <% if icon_name.present? %>
    <%= icon(icon_name, span_css: icon_style, css: 'h-4 w-4') %>
  <% end %>
  <span class="whitespace-nowrap general-text-sm-normal text-center justify-start <%= text_style %>"><%= text %></span>
  <% if close %>
    <%= icon("x-circle", span_css: close_style, css: 'h-4 w-4') %>
  <% end %>
</div>