<%= render "shared/components/mobile_layout" do %>
  <div class="mb-4 flex gap-4 items-center">
    <span class="icon icon-support bg-primary icon-small"></span>
    <h1 class="text-sm font-semibold text-primary">support</h1>
  </div>
  <h2 class="text-xl font-semibold mb-4">Frequently Asked Questions</h2>
  <p class="mb-6 text-sm font-medium">Stuck on something? We're here to help with all your questions in one place.</p>

  <div class="box-shadow-medium p-4 flex flex-col gap-8">
    <ul class="flex flex-col gap-8">
      <%=
        render 'supports/support_list_mobile',
               icon_name: 'icon-upload-info',
               title: 'How to upload CSV file to invite multiple users',
               description:
                 'It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.'
      %>

      <%=
        render 'supports/support_list_mobile',
               icon_name: 'icon-organize-info',
               title: 'How to organise the company into teams',
               description:
                 ' It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.'
      %>

      <%=
        render 'supports/support_list_mobile',
               icon_name: 'icon-invite-team',
               title: 'How to invite team members',
               description:
                 'It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.'
      %>

      <%=
        render 'supports/support_list_mobile',
               icon_name: 'icon-update-no',
               title: 'How to update mobile number',
               description:
                 ' It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters.'
      %>
    </ul>
  </div>
<% end %>
