<%= render "shared/components/layout" do %>
  <h2 class="heading page-heading-medium mb-4">Frequently Asked Questions</h2>
  <p class="mb-6 text-sm font-medium">Stuck on something? We're here to help with all your questions in one place.</p>

  <div class="box-shadow-medium p-8 flex flex-col gap-8">
    <ul class="flex flex-col gap-8">
      <%=
        render 'supports/support_list',
               icon_name: 'icon-update-no',
               title: 'How to change password ?',
               description:
                 'To update your password, click on the letter-based avatar icon in the top-right corner of the navigation bar. Select the Change Password link at the bottom of the menu to update your password. Once your password is updated, you will be logged out and will need to log in again using the new password to continue accessing your account.'
      %>
      <%=
        render 'supports/support_list',
               icon_name: 'icon-invite-team',
               title: 'How to invite team members ?',
               description:
                 'Instruo allows Managers and Owners to invite new members to a team with roles such as Manager, Owner, or Learner. To invite a member, navigate to the Team page from the sidebar, select the desired team, and click the Invite button. On the invitation form, enter the name and email of the user, assign their role, and submit the form.'
      %>

      <%=
        render 'supports/support_list',
               icon_name: 'icon-upload-info',
               title: 'How to upload CSV file to invite multiple users ?',
               description:
                 'Instruo enables Managers and Owners to invite multiple learners to a team effortlessly. To invite members in bulk, go to the Team page and click the Invite button to open the invitation form. Download the provided sample CSV file, fill in the required details such as names, emails, and upload the completed file back to the platform.'
      %>

      <%=
        render 'supports/support_list',
               icon_name: 'icon-organize-info',
               title: 'How to organise the company into teams ?',
               description:
                 "Instruo enables you to mirror your organization's structure by organizing members into teams. At the top of the hierarchy, a default team is created to include top management personnel. You can create as many subteams as needed, adding members to each subteam based on your organization's requirements. Each subteam can also have its own hierarchy, allowing for flexible and customized team structures."
      %>
    </ul>
  </div>
<% end %>
