<div class="my-6">
  <%= render "shared/components/back_button", back_link: settings_path %>
</div>

<div class="heading heading-medium">Components</div>

<ul class="my-6 flex flex-col gap-2">
  <li><%= link_to "Icons", ui_icons_path, class: 'nav-link' %></li>
  <li><%= link_component(text: 'Typography', url: ui_typography_path) %></li>
  <li><%= link_component(text: 'Buttons', url: ui_buttons_path) %></li>
  <li><%= link_component(text: 'Inputs', url: ui_inputs_path) %></li>
  <li><%= link_to "Tables", ui_tables_path, class: 'nav-link' %></li>
  <li><%= link_to "Notification bar", ui_notification_bars_path, class: 'nav-link' %></li>
  <li><%= link_to "App components", ui_app_components_path, class: 'nav-link' %></li>
  <li><%= link_component(text: 'Text Area', url: ui_textarea_path) %></li>
  <li><%= link_component(text: 'Dropdown', url: ui_dropdown_path) %></li>
</ul>