<div class="my-6">
  <%= render "shared/components/back_button", back_link: "#" %>
</div>

<div class="heading heading-medium">Textarea Component Demo</div>

<ul class="my-6 flex flex-col gap-4">
  <li>
    <%= textarea_component(
          field_name: :description,
          label: "Description",
          placeholder: "Enter description",
          size: "md",
          support_text: "Supporting Description here"
        ) %>
  </li>
</ul>

<h3 class="mt-8 mb-4 text-lg font-semibold">Form Example</h3>

<%= form_with  url: "#", method: :post do |form| %>
  <ul class="my-6 flex flex-col gap-4">
    <li>
      <%= textarea_component(
            form: form,
            field_name: :description,
            label: "Description",
            placeholder: "Enter description",
            size: "lg",
            support_text: "Supporting Description here"
          ) %>
    </li>
  </ul>

  <%= form.submit "Submit", class: "btn-primary" %>
<% end %>
