<div class="my-6">
  <%= render "shared/components/back_button", back_link: ui_components_path %>
</div>
<%= h3_component(text: "Textarea Component") %>


<%= doc_section_component(title: "Textarea without label and subtext") do %>
  <%= textarea_component(
    name: :description,
    placeholder: "Enter description"
  ) %>
<% end %>

<%= doc_section_component(title: "Textarea without subtext") do %>
  <%= textarea_component(
    name: :description,
    label: "Description",
    placeholder: "Enter description"
  ) %>
<% end %>

<%= doc_section_component(title: "Textarea without label") do %>
  <%= textarea_component(
    name: :description,
    placeholder: "Enter description",
    support_text: "Supporting Description here"
  ) %>
<% end %>

<%= doc_section_component(title: "Medium Textarea") do %>
  <%= textarea_component(
    name: :description,
    label: "Description",
    placeholder: "Enter description",
    support_text: "Supporting Description here"
  ) %>
<% end %>

<%= doc_section_component(title: "Large Textarea") do %>
  <%= textarea_component(
    name: :description,
    label: "Description",
    placeholder: "Enter description",
    size: "lg",
    support_text: "Supporting Description here"
  ) %>
<% end %>

<%= doc_section_component(title: "Textarea with error state") do %>
  <%= textarea_component(
    name: :description,
    label: "Description",
    placeholder: "Enter description",
    error: "Description should not be less than 36 characters",
    support_text: "Supporting Description here"
  ) %>
<% end %>

<%= doc_section_component(title: "Textarea with disabled state") do %>
  <%= textarea_component(
    name: :description,
    label: "Description",
    placeholder: "Enter description",
    disabled: true,
    support_text: "Supporting Description here"
  ) %>
<% end %>
  

<%= h3_component(text: "Form with textarea") %>


<%= form_with url: "#", method: :post do |form| %>
  <%= doc_section_component(title: "Medium Textarea") do %>
    <%= textarea_component(
      form: form,
      name: :description,
      label: "Description",
      placeholder: "Enter description",
      support_text: "Supporting Description here"
    ) %>
  <% end %>
<% end %>

<%= form_with url: "#", method: :post do |form| %>
  <%= doc_section_component(title: "Textarea with error state") do %>
    <%= textarea_component(
      form: form,
      name: :description,
      label: "Description",
      placeholder: "Enter description",
      error: "Description should be in not less than 36 characters",
      support_text: "Supporting Description here"
    ) %>
  <% end %>
<% end %>

<%= form_with url: "#", method: :post do |form| %>
  <%= doc_section_component(title: "Textarea with disabled state") do %>
    <%= textarea_component(
      form: form,
      name: :description,
      label: "Description",
      placeholder: "Enter description",
      disabled: true,
      support_text: "Supporting Description here"
    ) %>
  <% end %>
<% end %>


