<div class="flex items-center gap-2 <%= width %>">
  <% if form.present? %>
    <%= form.check_box field_name,
          { multiple: allow_multiple, class: "input-check" },
          value,
          nil
    %>
    <%= form.label field_name, label, class: "label-text" if label.present? %>
  <% else %>
    <input class="input-check"
      type="checkbox"
      id="<%= field_name %>_<%= value %>"
      name="<%= field_name %><%= "[]" if allow_multiple %>"
      value="<%= value %>">
    <% if label.present? %>
      <label class="label-text" for="<%= field_name %>_<%= value %>"><%= label %></label>
    <% end %>
  <% end %>
</div>
