<body>
  <div style="width: 100%;padding: 20px 10px; font-family: Arial, Helvetica, sans-serif; color: #333; box-sizing: border-box;">
    <div style="background:#585563; text-align: center; padding: 40px 20px;">
      <h1 style="color: #ffffff; font-size: 28px; margin: 0;">Welcome to <%= Rails.application.credentials.dig(:org_name) %><</h1>
    </div>

    <div style="margin: 0 auto; background-color: #ffffff; padding: 20px; box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1); border:1px solid #E6E6E6">
      <p style="margin: 0 0 16px; font-size: 16px; line-height: 1.5;">
        Welcome <em><%= @user.email %></em>,
      </p>
      <p style="margin: 0 0 16px; font-size: 16px; line-height: 1.5;">We're thrilled to have you on our platform! To confirm your email address and log in to the platform, please follow these simple steps:</p>

      <ol style="margin: 0  20px; padding: 0 20px; font-size: 16px; line-height: 1.8;">
        <li style="margin-bottom: 16px;">
          Click on the verification link below to confirm your email address:
          <p style="margin: 8px 0;">
            <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), style: 'color:#3456DA; text-decoration: none;' %>
          </p>
          <p style="margin: 8px 0; font-size: 14px; color: #666;">Or copy the link below. You can now access Instruo online or on any device by going to:</p>
          <p style="background: #EEF7F7; padding: 10px; border-radius: 5px; text-align: center; font-size: 14px; margin: 0; word-wrap: break-word;">
            <%= link_to confirmation_url(@resource, confirmation_token: @token), confirmation_url(@resource, confirmation_token: @token), style: 'color:#3456DA; text-decoration: none;' %>
          </p>
        </li>
        <li style="margin-bottom: 16px;">Once confirmed, you’ll be able to log in to our website using your email address and the following temporary password:</li>
        <li style="margin-bottom: 16px;">
          Your temporary login password is: <strong style="color: #000;"><%= @resource.get_temp_password %></strong>
        </li>
      </ol>

      <p style="margin: 0; font-size: 16px; line-height: 1.5;">We wish you a great learning path ahead! Welcome once again!</p>
    </div>
  </div>

  <style type="text/css">
    @media only screen and (max-width: 600px) {
      h1 {
        font-size: 20px !important;
      }
      p,
      li {
        font-size: 14px !important;
      }
      ol {
        padding: 0 10px !important;
      }
      .email-container {
        padding: 10px !important;
      }
    }
  </style>
</body>
