<%= form_with model: certificate_template, url: learning_partner_certificate_templates_path(learning_partner), data: { controller: "certificate-preview" } do |form| %>
  <%= render "shared/components/form_errors", resource: certificate_template %>
  <%= input_field(form:, field_name: :name, label: "Name", placeholder: "Enter certificate name", type: "text", width: "w-full") %>
  <div class="mt-6 flex flex-col">
    <%= input_textarea_component(
          form: form,
          field_name: :html_content,
          label:  "Html template",
          placeholder: "Enter html template",
          html_options: {
            data: {
              action: "input->certificate-preview#render",
              certificate_preview_target: "htmlInput"
            }
          }
    )%>
    <span class='body-extra-small-regular text-letter-color-light my-2'>• Allowed variables: <%= CertificateTemplate::ALLOWED_VARIABLES.map { |var| "%{#{var}}" }.join(', ') %></span>
  </div>

  <div class="mt-6">
    <h3 class="subtitle-medium text-letter-color-light">Template preview</h3>
    <div class="border p-2 mt-2 rounded bg-gray-50 h-[425px]"
        data-certificate-preview-target="previewArea">
    </div>
  </div>

  <div class="my-8 flex items-center gap-4 text-sm">
    <div class="mx-4 my-8">
      <%= link_to "Cancel", learning_partner_certificate_templates_path(learning_partner), class: "nav-link" %>
    </div>
    <%= form.submit submit_label_for(certificate_template), class: "btn-primary" %>
  </div>
<% end %>
