<% if certificate_templates.present? %>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    <% certificate_templates.each do |template| %>
      <div class="relative bg-white rounded-lg shadow flex flex-col min-h-48 max-w-xs mx-auto w-full mt-4">
        <% if template.active? %>
          <div class="absolute top-2 left-2 bg-secondary text-white text-xs px-2 py-1 rounded z-20">
            Active
          </div>
        <% end %>
        <div class="absolute top-1 right-2 z-20">
          <%= menu_component_old(menu_items: certificate_template_menu_items(learning_partner, template)) %>
        </div>
        <div class="flex-1 flex items-center justify-center p-2">
          <div class="w-full h-52 border-0 rounded bg-gray-50 overflow-hidden relative">
            <iframe
              srcdoc="<%= template.html_file.download %>"
              class="top-0 left-0 w-[400%] h-[400%] border-0 z-10 scale-[0.25] origin-top-left"
              sandbox
            ></iframe>
          </div>
        </div>
        <div class="border-t">
          <h2 class="body-extra-small-medium p-2 flex justify-center"><%= template.name %></h2>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="flex flex-col items-center justify-center min-h-[70vh]">
    <h2 class="text-semibold pb-4">
      <%= t("record.empty", resource: t("certificate_templates.label")) %>
    </h2>
    <%= link_to new_learning_partner_certificate_template_path(learning_partner) do %>
      <%= button(label: t("certificate_templates.certificate_template.add"), icon_name: "plus") %>
    <% end %>
  </div>
<% end %>
