<%= turbo_stream.replace "modal" do %>
  <%= render "shared/components/modal", modalTitle: t("scorm.download_modal.title") do %>
    <div class="flex flex-col p-6">
      <div class="flex flex-col justify-between">
        <input class="rounded" type="text" value="<%= @download_link %>" readonly>
        <a href="<%= @download_link %>" target="_blank">
          <button
          class="bg-primary text-white p-4 rounded w-full mt-6">
            <%= t("button.download") %>
          </button>
        </a>
        <button
          class="bg-gray-200 text-black p-4 rounded"
          data-action="click->modals#closeModal">
          <%= t("button.cancel") %>
        </button>
      </div>
    </div>
  <% end %>
<% end %>
