<div class="border border-line-colour basis-2/5 rounded">
  <% modules_in_order(course).each do |course_module| %>
    <details class="">
      <summary class="flex cursor-pointer items-center justify-between p-4 border-b border-line-colour">
        <div class="flex flex-col justify-start text-base font-semibold">
          <span class=""><%= course_module.title %></span>
          <div class="flex items-center gap-4">
            <% if course_module.progress > 0 %>
              <div class="bg-primary-light-50 h-1 w-[252px] rounded-full">
                <div class="bg-secondary h-1 rounded-full" style="width: 16%"></div>
              </div>
              <span class="text-secondary text-sm font-semibold"><%= course_module.progress %>%</span>
            <% else %>
              <span class="text-primary">(<%= lessons_count(course_module) %>)</span>
            <% end %>
          </div>
        </div>
        <span class="icon icon-down h-4 w-4"></span>
      </summary>
      <ul>
        <% lessons_in_order(course_module).each do |lesson| %>
          <li class="flex items-center justify-between border-b px-4 py-4 text-sm">
            <div class="flex items-center gap-4">
              <% if enrollment && lesson_completed?(enrollment, lesson) %>
                <span class="icon bg-primary-light border-primary-light-50 icon-check h-5 w-5 items-center border"></span>
              <% end %>
              <span class="text-letter-color-light"><%= lesson.title %></span>
              <span class="text-primary-light">(<%= lesson.duration %> minutes)</span>
            </div>
            <div class="flex gap-4">
              <% if enrollment && lesson_completed?(enrollment, lesson) %>
                <span class="text-primary">Replay</span>
              <% end %>
              <%= link_to course_module_lesson_path(course, course_module, lesson) do %>
                <span class="icon icon-play h-4 w-4"></span>
              <% end %>
            </div>
          </li>
        <% end %>
        <% if course_module.has_quiz? %>
          <li class="flex items-center justify-end py-8 text-sm pe-2">
            <button class="quiz_button rounded bg-white px-4 py-2">
              <a href="/course-quiz" class="flex items-center gap-6">
              <span class="text-primary text-xs">Quiz</span>
              <span class="icon icon-arrow-right h-5 w-6 items-center"></span></a>
            </button>
          </li>
        <% end %>
      </ul>
    </details>
  <% end %>
</div>
