<%= link_to course_path(course), class: "inline-block rounded box-shadow-medium hover:border border-primary" do %>
  <div class="w-full md:w-[310px] max-h-[363px] hover:cursor-pointer ">
    <%= image_tag course_banner_thumbnail(course), class: "w-full h-[120px] rounded-t" %>
    <div class="p-4">
      <p class="mb-2 overflow-hidden text-ellipsis text-base font-semibold text-primary max-h-[68px]">
        <%= course.title %>
      </p>
      <div class="flex justify-between">
        <div class="flex items-center">
          <span class="icon icon-lessons h-3.5 w-3.5"></span>
          <span class="ml-2 text-xs font-medium"><%= modules_count(course) %></span>
        </div>
        <div class="flex items-center">
          <span class="icon icon-clock h-3.5 w-3.5"></span>
          <span class="ml-2 text-xs font-medium"><%= course_duration(course) %></span>
        </div>
        <div class="flex items-center">
          <span class="icon icon-user h-3.5 w-3.5"></span>
          <span class="ml-2 text-xs font-medium"><%= enroll_count(course) %></span>
        </div>
      </div>
      <p class="mt-4 overflow-hidden text-ellipsis text-sm font-medium tracking-tight text-black0 max-h-[20px]">Course
        Description</p>
      <p class="my-3 overflow-hidden text-ellipsis text-justify text-sm tracking-tight text-letter-color-light max-h-[60px]"><%= course_description(course, 250) %></p>
    </div>
  </div>
<% end %>
