<aside class="bg-white1 sticky top-0 flex h-screen min-w-64 flex-col">
  <div class="h-full pt-8">
    <%= image_tag "superskill_logo_teal.png",  alt: "Superskill", class: "h-6 pe-24 ps-8" %>
    <div class="flex h-full flex-col justify-between pt-14">
      <ul class="flex flex-col gap-3">
        <li class="side-bar-item">
          <%= link_to dashboard_path, class: "side-bar-item-inner" do %>
            <span class="icon icon-home h-4 w-4"></span>
            <span class="">Home</span>
          <% end %>
        </li>
        <% if policy(:learning_partner).show? %>
          <li class="side-bar-item">
            <%= link_to learning_partners_path, class: "side-bar-item-inner" do %>
              <span class="icon icon-course h-4 w-4"></span>
              <span class="">Partners</span>
              <% end %>
          </li>
        <% end %>
        <li class="side-bar-item">
          <%= link_to courses_path, class: "side-bar-item-inner" do %>
            <span class="icon icon-course h-4 w-4"></span>
            <span class="">My Course</span>
          <% end %>
        </li>
        <li class="side-bar-item">
          <%= link_to "#", class: "side-bar-item-inner" do %>
            <span class="icon icon-team h-4 w-4"></span>
            <span class="">Team</span>
          <% end %>
        </li>
        <li class="side-bar-item">
          <%= link_to "#", class: "side-bar-item-inner" do %>
            <span class="icon icon-support h-4 w-4"></span>
            <span class="">Support</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <%= button_to destroy_user_session_path, class: "side-bar-footer w-full", method: :delete, data: { turbo_method: :delete } do %>
    <span class="icon icon-logout h-4 w-4"></span>
    <span class="">Logout</span>
  <% end %>
</aside>
