<div data-controller="sidebar">
  <input type="checkbox" id="sidebar-toggle" class="peer hidden" data-sidebar-target="sidebarCheckbox"/>
  <div class="bg-black fixed inset-0 black-shield hidden bg-opacity-90 peer-checked:block md:peer-checked:hidden md:hidden" data-sidebar-target="overlay" data-action="click->sidebar#closeSidebar"></div>
  <aside class="bg-primary-light-100 side-bar -translate-x-full transform transition-transform duration-300 ease-in-out peer-checked:translate-x-0" data-sidebar-target="sidebar">
    <div class="flex gap-5 items-center px-8 py-5 navbar-box-shadow">
      <label for="sidebar-toggle" class="cursor-pointer mt-2">
        <%= icon("x-circle", css: "h-6 w-6 text-primary") %>
      </label>
      <div class="">
        <%= image_tag 'instruo_beta_logo.png', alt: 'Instruo', class: 'h-10 side-bar-item' %>
      </div>
    </div>
    <div class="flex h-[calc(100vh-60px)] md:h-full flex-col justify-between z-150 px-3 py-3">
      <ul class="flex flex-col gap-1">
        <% if policy(:dashboard).index? %>
          <li class="flex items-center gap-1 pt-5 pb-1 px-4 md:px-5">
            <span class="general-text-lg-normal text-letter-color-light"><%= t('sidebar.managing') %></span>
            <div class="flex-1 h-px bg-letter-color-light"></div>
          </li>
          <li class="side-bar-item <%= sidebar_active('dashboards') %> relative">
            <%= link_to dashboards_path, class: "side-bar-item-inner px-4 md:px-5 py-3 md:py-4" do %>
              <%= icon("chart-bar", css: "h-5 w-5 text-letter-color") %>
              <span class="main-text-lg-medium"><%= t('sidebar.dashboard') %></span>
            <% end %>
            <div class="w-1 h-8 left-0 top-2.5 absolute sidebar-indicator rounded-r-2xl"></div>
          </li>
        <% end %>
        <% if current_user.privileged_user? %>
          <li class="side-bar-item <%= sidebar_active('programs') %> relative">
            <%= link_to programs_path, class: "side-bar-item-inner px-4 md:px-5 py-3 md:py-4" do %>
              <%= icon("rectangle-group", css: "h-5 w-5 text-letter-color") %>
              <span class="main-text-lg-medium"><%= t('sidebar.programs') %></span>
            <% end %>
            <div class="w-1 h-8 left-0 top-2.5 absolute sidebar-indicator rounded-r-2xl"></div>
          </li>
        <% end %>
         <% if current_user.team.present? && policy(current_user.team).show? %>
          <li class="side-bar-item <%= sidebar_active('teams') %> relative">
            <%= link_to team_path(current_user.team), class: "side-bar-item-inner px-4 md:px-5 py-3 md:py-4" do %>
              <%= icon("user-group", css: "h-5 w-5 text-letter-color") %>
              <span class="main-text-lg-medium"><%= t('team.label') %></span>
            <% end %>
            <div class="w-1 h-8 left-0 top-2.5 absolute sidebar-indicator rounded-r-2xl"></div>
          </li>
        <% end %>
        <% if policy(:learning_partner).show? %>
          <li class="side-bar-item <%= sidebar_active('learning_partners') %> relative">
            <%= link_to learning_partners_path, class: "side-bar-item-inner px-4 md:px-5 py-3 md:py-4" do %>
              <%= icon("user-group", css: "h-5 w-5 text-letter-color") %>
              <span class="main-text-lg-medium"><%= t('sidebar.partners') %></span>
            <% end %>
            <div class="w-1 h-8 left-0 top-2.5 absolute sidebar-indicator rounded-r-2xl"></div>
          </li>
        <% end %>
        <% if current_user.is_admin? %>
          <li class="side-bar-item <%= sidebar_active('settings') %> relative">
            <%= link_to settings_path, class: "side-bar-item-inner px-4 md:px-5 py-3 md:py-4" do %>
              <%= icon("rectangle-group", css: "h-5 w-5 text-letter-color") %>
              <span class="main-text-lg-medium"><%= t('sidebar.assets') %></span>
            <% end %>
            <div class="w-1 h-8 left-0 top-2.5 absolute sidebar-indicator rounded-r-2xl"></div>
          </li>
        <% end %>
        <li class="flex items-center gap-1 pt-5 pb-1 px-5">
          <span class="general-text-lg-normal text-letter-color-light"><%= t('sidebar.learning') %></span>
          <div class="flex-1 h-px bg-letter-color-light"></div>
        </li>
        <%# 'my_courses' is a synthetic value set when accessing programs from the courses flow %>
        <li class="side-bar-item <%= sidebar_active('courses') %> relative">
          <%= link_to courses_path, class: "side-bar-item-inner px-4 md:px-5 py-3 md:py-4" do %>
            <%= icon("book-open", css: "h-5 w-5 text-letter-color") %>
            <span class="main-text-lg-medium"><%= t('sidebar.explore') %></span>
          <% end %>
          <div class="w-1 h-8 left-0 top-2.5 absolute sidebar-indicator rounded-r-2xl"></div>
        </li>
        <% if policy(:my_profile).show? %>
          <li class="side-bar-item <%= sidebar_active('my_profiles') %> relative">
              <%= link_to profile_path, class: "side-bar-item-inner px-4 md:px-5 py-3 md:py-4" do %>
                <%= icon("user-circle", css: "h-5 w-5 text-letter-color") %>
                <span class="main-text-lg-medium"><%= t("my_profile.label") %></span>
              <% end %>
              <div class="w-1 h-8 left-0 top-2.5 absolute sidebar-indicator rounded-r-2xl"></div>
          </li>
        <% end %>       
       
        <li class="flex items-center gap-1 pt-5 pb-1 px-5">
            <span class="general-text-lg-normal text-letter-color-light"><%= t('sidebar.support') %></span>
            <div class="flex-1 h-px bg-letter-color-light"></div>
          </li>
        <li class="side-bar-item <%= sidebar_active('supports') %> relative">
          <%= link_to supports_path, class: "side-bar-item-inner px-4 md:px-5 py-3 md:py-4" do %>
            <%= icon("question-mark-circle", css: "h-5 w-5 text-letter-color") %>
            <span class="main-text-lg-medium"><%= t('sidebar.support') %></span>
          <% end %>
          <div class="w-1 h-8 left-0 top-2.5 absolute sidebar-indicator rounded-r-2xl"></div>
        </li>
      </ul>
    </div>
  </aside>
</div>
