<input type="checkbox" id="sidebar-toggle" class="peer hidden" />
<div class="bg-black fixed inset-0 black-shield hidden bg-opacity-90 peer-checked:block md:peer-checked:hidden md:hidden"></div>
<aside class="bg-primary-light-50 side-bar -translate-x-full transform transition-transform duration-300 ease-in-out peer-checked:translate-x-0">
  <label for="sidebar-toggle" class="icon icon-close bg-letter-color absolute right-6 top-6 icon-small cursor-pointer"></label>
  <div class="hidden md:mt-8 md:block">
    <%= image_tag 'instruo_beta_logo.png', alt: 'Instruo', class: 'h-10 side-bar-item' %>
  </div>
  <div class="flex h-[calc(100vh-60px)] md:h-full flex-col justify-between mt-14 z-150">
    <ul class="flex flex-col gap-3">
      <% if policy(:dashboard).index? %>
        <li class="side-bar-item <%= sidebar_active('dashboards') %>">
          <%= link_to dashboards_path, class: "side-bar-item-inner" do %>
            <span class="icon icon-home bg-letter-color icon-small"></span>
            <span>Home</span>
          <% end %>
        </li>
      <% end %>
      <% if policy(:learning_partner).show? %>
        <li class="side-bar-item <%= sidebar_active('learning_partners') %>">
          <%= link_to learning_partners_path, class: "side-bar-item-inner" do %>
            <span class="icon icon-course bg-letter-color icon-small"></span>
            <span>Partners</span>
          <% end %>
        </li>
      <% end %>
      <li class="side-bar-item <%= sidebar_active('courses') %>">
        <%= link_to courses_path, class: "side-bar-item-inner" do %>
          <span class="icon icon-course bg-letter-color icon-small"></span>
          <span>My Course</span>
        <% end %>
      </li>
      <% if policy(current_user.team || :team).show? %>
        <li class="side-bar-item <%= sidebar_active('teams') %>">
          <%= link_to team_path(current_user.team), class: "side-bar-item-inner" do %>
            <span class="icon icon-team bg-letter-color icon-small"></span>
            <span>Team</span>
          <% end %>
        </li>
      <% end %>
      <% if current_user.is_admin? %>
        <li class="side-bar-item <%= sidebar_active('settings') || sidebar_active('tags') %>">
          <%= link_to settings_path, class: "side-bar-item-inner" do %>
            <span class="icon icon-settings icon-small bg-letter-color"></span>
            <span><%= t("settings.label") %></span>
          <% end %>
        </li>
      <% end %>
      <li class="side-bar-item <%= sidebar_active('supports') %>">
        <%= link_to supports_path, class: "side-bar-item-inner" do %>
          <span class="icon icon-support bg-letter-color icon-small"></span>
          <span>Support</span>
        <% end %>
      </li>
    </ul>
    
  </div>
</aside>
