<input type="checkbox" id="sidebar-toggle" class="peer hidden" />
<div class="bg-black fixed inset-0 z-40 hidden bg-opacity-90 peer-checked:block md:peer-checked:hidden md:hidden"></div>
<aside class="bg-primary-light-50 side-bar peer-checked:translate-x-0 peer-checked:transition-transform peer-checked:duration-300 peer-checked:ease-in-out">
  <label for="sidebar-toggle" class="md:hidden icon icon-close bg-letter-color absolute right-6 top-6 icon-small cursor-pointer"></label>
  <div class="pt-8">
    <%= image_tag 'instruo_beta_logo.png', alt: 'Instruo', class: 'h-10 pe-24 ps-8 hidden md:block' %>
  </div>
  <div class="flex h-[calc(100vh-35px)] flex-col justify-between pt-14">
    <ul class="flex flex-col gap-3">
      <% if policy(:dashboard).index? %>
        <li class="side-bar-item <%= sidebar_active('dashboards') %>">
          <%= link_to dashboards_path, class: "side-bar-item-inner" do %>
            <span class="icon icon-home bg-letter-color icon-small"></span>
            <span>Home</span>
          <% end %>
        </li>
      <% end %>
      <% if policy(:learning_partner).show? %>
        <li class="side-bar-item <%= sidebar_active('learning_partners') %>">
          <%= link_to learning_partners_path, class: "side-bar-item-inner" do %>
            <span class="icon icon-course bg-letter-color icon-small"></span>
            <span>Partners</span>
          <% end %>
        </li>
      <% end %>
      <li class="side-bar-item <%= sidebar_active('courses') %>">
        <%= link_to courses_path, class: "side-bar-item-inner" do %>
          <span class="icon icon-course bg-letter-color icon-small"></span>
          <span>My Course</span>
        <% end %>
      </li>
      <% if policy(current_user.team || :team).show? %>
        <li class="side-bar-item <%= sidebar_active('teams') %>">
          <%= link_to team_path(current_user.team), class: "side-bar-item-inner" do %>
            <span class="icon icon-team bg-letter-color icon-small"></span>
            <span>Team</span>
          <% end %>
        </li>
      <% end %>
      <% if current_user.is_admin? %>
        <li class="side-bar-item <%= sidebar_active('tags') %>">
          <%= link_to tags_path, class: "side-bar-item-inner" do %>
            <span class="icon icon-plus icon-small bg-letter-color"></span>
            <span>Tags</span>
          <% end %>
        </li>
      <% end %>
      <li class="side-bar-item">
        <%= link_to supports_path, class: "side-bar-item-inner" do %>
          <span class="icon icon-support bg-letter-color icon-small"></span>
          <span>Support</span>
        <% end %>
      </li>
    </ul>
    <div class="side-bar-item side-bar-footer py-4 md:py-11 w-full">
      <%= button_to destroy_user_session_path, class: "side-bar-item-inner", method: :delete, data: { turbo_method: :delete } do %>
        <span class="icon icon-logout bg-letter-color icon-small"></span>
        <span class="text-sm">Logout</span>
      <% end %>
    </div>
  </div>
</aside>
