<input type="checkbox" id="sidebar-toggle" class="peer hidden" />
<div class="bg-black fixed inset-0 z-50 hidden bg-opacity-90 peer-checked:block"></div>
<div class="bg-primary-light-50 fixed inset-y-0 left-0 z-50 h-screen w-64 min-w-64 -translate-x-full transform transition-transform duration-300 ease-in-out peer-checked:translate-x-0">
  <label for="sidebar-toggle" class="icon icon-close absolute right-6 top-6 h-4 w-4 cursor-pointer"></label>
  <div class="flex h-full flex-col justify-between pt-14">
    <ul class="flex flex-col gap-3">
      <% if policy(:dashboard).index? %>
      <li class="side-bar-item">
        <%= link_to dashboards_path, class: "side-bar-item-inner" do %>
          <span class="icon icon-home h-4 w-4"></span>
          <span class="">Home</span>
        <% end %>
      </li>
      <% end %>

      <% if policy(:learning_partner).show? %>
        <li class="side-bar-item">
          <%= link_to learning_partners_path, class: "side-bar-item-inner" do %>
            <span class="icon icon-course h-4 w-4"></span>
            <span class="">Partners</span>
          <% end %>
        </li>
      <% end %>
      <li class="side-bar-item">
        <%= link_to courses_path, class: "side-bar-item-inner" do %>
          <span class="icon icon-course h-4 w-4"></span>
          <span class="">My Course</span>
        <% end %>
      </li>
      <% if current_user&.not_admin? %>
        <li class="side-bar-item">
          <%= link_to team_path(current_user.team), class: "side-bar-item-inner" do %>
            <span class="icon icon-team h-4 w-4"></span>
            <span class="">Team</span>
          <% end %>
        </li>
      <% end %>
      <li class="side-bar-item">
        <%= link_to "#", class: "side-bar-item-inner" do %>
          <span class="icon icon-support h-4 w-4"></span>
          <span class="">Support</span>
        <% end %>
      </li>
    </ul>
  </div>
</div>
