<aside class="bg-primary-light-50 sticky top-0 flex h-screen min-w-64 flex-col">
  <div class="h-full pt-8">
    <%= image_tag "instruo_beta_logo.png",  alt: "Instruo", class: "h-10 pe-24 ps-8" %>
    <div class="flex h-full flex-col justify-between pt-14">
      <ul class="flex flex-col gap-3">
        <% if policy(:dashboard).index? %>
          <li class="side-bar-item <%= sidebar_active('dashboards') %>">
            <%= link_to dashboards_path, class: "side-bar-item-inner" do %>
              <span class="icon icon-home icon-small bg-letter-color"></span>
              <span class="">Home</span>
            <% end %>
          </li>
        <% end %>
        <% if policy(:learning_partner).show? %>
          <li class="side-bar-item <%= sidebar_active('learning_partners') %>">
            <%= link_to learning_partners_path, class: "side-bar-item-inner" do %>
              <span class="icon icon-course icon-small bg-letter-color"></span>
              <span class="">Partners</span>
            <% end %>
          </li>
        <% end %>
        <li class="side-bar-item <%= sidebar_active('courses') %>">
          <%= link_to courses_path, class: "side-bar-item-inner" do %>
            <span class="icon icon-course icon-small bg-letter-color"></span>
            <span class="">My Course</span>
          <% end %>
        </li>
        <% if policy(current_user.team || :team).show? %>
          <li class="side-bar-item <%= sidebar_active('teams') %>">
            <%= link_to team_path(current_user.team), class: "side-bar-item-inner" do %>
              <span class="icon icon-team icon-small bg-letter-color"></span>
              <span class="">Team</span>
            <% end %>
          </li>
        <% end %>
        <% if current_user.is_admin? %>
          <li class="side-bar-item <%= sidebar_active('tags') %>">
            <%= link_to tags_path, class: "side-bar-item-inner" do %>
              <span class="icon icon-settings icon-small"></span>
              <span>Tags</span>
            <% end %>
          </li>
        <% end %>
        <li class="side-bar-item">
          <%= link_to supports_path, class: "side-bar-item-inner" do %>
            <span class="icon icon-support icon-small bg-letter-color"></span>
            <span class="">Support</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
  <%= button_to destroy_user_session_path, class: "side-bar-footer w-full", method: :delete, data: { turbo_method: :delete } do %>
    <span class="icon icon-logout icon-small bg-letter-color"></span>
    <span class="">Logout</span>
  <% end %>
</aside>
