<input type="checkbox" id="sidebar-toggle" class="peer hidden" />
<div class="bg-black fixed inset-0 z-50 hidden bg-opacity-90 peer-checked:block"></div>
<div class="bg-primary-light-50 fixed inset-y-0 left-0 z-50 h-screen w-64 min-w-64 -translate-x-full transform transition-transform duration-300 ease-in-out peer-checked:translate-x-0">
  <label for="sidebar-toggle" class="icon icon-close absolute right-6 top-6 icon-small cursor-pointer"></label>
  <div class="flex h-full flex-col justify-between pt-14">
    <ul class="flex flex-col gap-3">
      <% if policy(:dashboard).index? %>
        <li class="side-bar-item <%= sidebar_active('dashboards') %>">
          <%= link_to dashboards_path, class: "side-bar-item-inner" do %>
            <span class="icon icon-home icon-small"></span>
            <span class="">Home</span>
          <% end %>
        </li>
      <% end %>

      <% if policy(:learning_partner).show? %>
        <li class="side-bar-item <%= sidebar_active('learning_partners') %>">
          <%= link_to learning_partners_path, class: "side-bar-item-inner" do %>
            <span class="icon icon-course icon-small"></span>
            <span class="">Partners</span>
          <% end %>
        </li>
      <% end %>
      <li class="side-bar-item <%= sidebar_active('courses') %>">
        <%= link_to courses_path, class: "side-bar-item-inner" do %>
          <span class="icon icon-course icon-small"></span>
          <span class="">My Course</span>
        <% end %>
      </li>
      <% if policy(current_user.team || :team).show? %>
        <li class="side-bar-item <%= sidebar_active('teams') %>">
          <%= link_to team_path(current_user.team), class: "side-bar-item-inner" do %>
            <span class="icon icon-team icon-small"></span>
            <span class="">Team</span>
          <% end %>
        </li>
      <% end %>
      <li class="side-bar-item <%= 'item-selected' if 'teams' == 'Support' %>">
        <%= link_to "#", class: "side-bar-item-inner" do %>
          <span class="icon icon-support icon-small"></span>
          <span class="">Support</span>
        <% end %>
      </li>
    </ul>
    <%= button_to destroy_user_session_path, class: "side-bar-footer py-4 w-full", method: :delete, data: { turbo_method: :delete } do %>
      <span class="icon icon-logout icon-small"></span>
      <span class="text-sm">Logout</span>
    <% end %>
  </div>
</div>
