<div class="mb-6 mt-8 mx-1 flex flex-row gap-6">
   <%= render "shared/components/course_watch_time_chart" %>
   <%= render "shared/components/total_views_chart" %>
</div>


<div class="mb-6 mt-8 mx-1 flex flex-row gap-6">
   <%= render "shared/components/average_numof_video_assigned_chart" %>
   <%= render "shared/components/enrolled_ratio_chart" %>
</div>


<div class="mb-6 mt-8 mx-1 flex flex-row gap-6">
   <%= render "shared/components/self_enrolled_ratio_chart" %>
   <div class="md:basis-1/2"></div>
</div>