<table id="teams-list" class="min-w-full rounded px-6 py-4 box-shadow-medium mt-5">
   <thead class="border-b border-line-colour-light">
      <tr class="px-8 py-6 text-left text-sm font-medium">
         <th class="px-6 py-4 ">Name</th>
         <th class="px-6 py-4 ">Email</th>
         <th class="px-6 py-4 ">Phone</th>
         <th class="px-6 py-4 ">Role</th>
         <th class="px-6 py-4 ">Course</th>
      </tr>
   </thead>
   <tbody class="bg-white divide-y divide-slate-grey-light px-6 py-4 ">
      <tr class="whitespace-nowrap text-xs font">
         <td class="px-6 py-4  flex  gap-4 items-center">
            <%= image_tag "tiju.png",  alt: "useImage", class: "h-8 w-8 rounded-full" %>
            <span class="ml-2 font-medium text-sm">Tiju Mathew</span>
            <div class="flex items-center bg-primary-light-50 gap-1 border border-primary-light p-1 rounded-sm">
               <span class="icon icon-complete h-2 w-2 items-center"></span>
               <span class="text-primary-light text-xs">Verified</span>
            </div>
         </td>
         <td class="px-6 py-4 ">Tijum@gmail.com</td>
         <td class="px-6 py-4 ">9867549812</td>
         <td class="px-6 py-4 ">Owner</td>
         <td class="px-6 py-4 "></td>
      </tr>
      <tr class="whitespace-nowrap text-xs font">
         <td class="px-6 py-4  flex  gap-4 items-center">
            <%= image_tag "tiju.png",  alt: "useImage", class: "h-8 w-8 rounded-full" %>
            <span class="ml-2 font-medium text-sm">Tiju Mathew</span>
         </td>
         <td class="px-6 py-4 ">Tijum@gmail.com</td>
         <td class="px-6 py-4 ">9867549812</td>
         <td class="px-6 py-4 ">Owner</td>
         <td class="px-6 py-4 ">
            <a class="inline-flex justify-center bg-gold-light gap-1 border border-gold p-1 rounded-sm">
            <span class="icon icon-assign-user h-[10px] w-[10px] items-center"></span>
            <span class="text-xs">Assign Course</span>
            </a>
         </td>
      </tr>
      <tr class="whitespace-nowrap text-xs font">
         <td class="px-6 py-4  flex  gap-4 items-center">
            <%= image_tag "tiju.png",  alt: "useImage", class: "h-8 w-8 rounded-full" %>
            <span class="ml-2 font-medium text-sm">Tiju Mathew</span>
         </td>
         <td class="px-6 py-4 ">Tijum@gmail.com</td>
         <td class="px-6 py-4 ">9867549812</td>
         <td class="px-6 py-4 ">Owner</td>
         <td class="px-6 py-4 ">
            <a class="inline-flex justify-center bg-primary-light-50 gap-1 border border-primary-light p-1 rounded-sm">
            <span class="icon icon-re-invite h-[10px] w-[10px] items-center"></span>
            <span class="text-primary-light text-xs">Re-Invite</span>
            </a>
         </td>
      </tr>
      <tr class="whitespace-nowrap text-xs font">
         <td class="px-6 py-4  flex  gap-4 items-center">
            <%= image_tag "tiju.png",  alt: "useImage", class: "h-8 w-8 rounded-full" %>
            <span class="ml-2 font-medium text-sm">Tiju Mathew</span>
         </td>
         <td class="px-6 py-4 ">Tijum@gmail.com</td>
         <td class="px-6 py-4 ">9867549812</td>
         <td class="px-6 py-4 ">Owner</td>
         <td class="px-6 py-4 "></td>
      </tr>
      <tr class="whitespace-nowrap text-xs font">
         <td class="px-6 py-4  flex  gap-4 items-center">
            <%= image_tag "tiju.png",  alt: "useImage", class: "h-8 w-8 rounded-full" %>
            <span class="ml-2 font-medium text-sm">Tiju Mathew</span>
         </td>
         <td class="px-6 py-4 ">Tijum@gmail.com</td>
         <td class="px-6 py-4 ">9867549812</td>
         <td class="px-6 py-4 ">Owner</td>
         <td class="px-6 py-4 "></td>
      </tr>
   </tbody>
</table>