<%= modal_box_component(title:) do %>
  <%= form_with url: learning_partner_payment_plan_path(learning_partner), model: payment_plan do |form| %>
    <div class="flex flex-col gap-6 md:gap-7">
      <div class="flex flex-col gap-4">
        <div class="flex gap-4">
          <div class="w-1/2"><%= input_text_component(form:, label: 'Start Date *', name: 'start_date', placeholder: 'YYYY-MM-DD') %></div>
          <div class="w-1/2"><%= input_text_component(form:, label: 'End Date *', name: 'end_date', placeholder: 'YYYY-MM-DD') %></div>
        </div>
        <%= input_text_component(form:, label: 'User limit *', name: 'total_seats', placeholder: '1000') %>
        <%= input_text_component(form:, label: 'Per user amount (INR) *', name: 'per_seat_cost', placeholder: '500') %>
      </div>

      <div class="flex gap-3">
        <div class="w-1/2">
          <%= link_to "javascript:void(0);", data: { action: "click->modals#closeModal" }, class: 'inline-block w-full' do %>
            <%= button_component(text: 'Cancel', type: 'outline') %>
          <% end %>
        </div>
        <div class="w-1/2">
          <%= form.button type: :submit, class: 'w-full' do %>
            <%= button_component(text: action_text) %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>