<%= form_with(url:, model: payment_plan, method:, data: { turbo_frame: "_top" }, class: "flex flex-col gap-6 p-6") do |form| %>
  <div class="flex flex-row space-x-5 justify-between">
     <%= date_picker_component( 
        form: form,           
        name: :start_date,
        label: "Subscription Start Date",
        support_text:"choose a date",
        placeholder:"choose a date"
        )
      %>   
      <%= date_picker_component(
        form: form,
        name: :end_date,
        label: "Subscription End Date",
        support_text:"choose a date",
        placeholder:"choose a date"
        )
      %>  
  </div>
  <%= input_text_component(form:, name: :total_seats, label: "User Limit", placeholder: "Enter Limit") %> 

  <%= input_text_component(form:, name: :per_seat_cost, label: "Per user amount ( ₹ )", placeholder: "Enter amount") %>      

  <% if action_name == "new" %>
    <div class="flex items-center gap-3 text-sm">
      <%= link_to cancel_path, class: "flex-1" do %>
        <%= button_component text: t("button.cancel"), type: "outline" %>
      <% end %>

     
      <%= form.button class: "flex-1" do %>
        <%= button_component(
          text: t("button.save")
        ) %>
      <% end %> 
     
    </div>
  <% else %>
    <div class="flex gap-3">
      <%= form.button class: "flex-1" do %>
        <%= button_component(
          text: t("button.save")
        ) %>
      <% end %> 
      <%= link_to cancel_path , class: "flex-1" do %>
        <%= button_component text: t("button.cancel"), type: "outline" %>
      <% end %> 
    </div>
  <% end %>
<% end %>