<!DOCTYPE html>
<html>
  <head>
    <title>Blackboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <script src="https://player.vimeo.com/api/player.js"></script>

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="w-full h-screen flex bg-gray-50">
    <div class="hidden md:block">
      <%= render "shared/sidebar" %>
    </div>
    <div class="overflow-y-scroll w-full">
      <%= yield %>
    </div>
  </body>
</html>
