<!DOCTYPE html>
<html>
  <head>
    <title>Blackboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if notice.present? %>
      <p style="color: green"><%= notice %></p>
    <% end %>

    <% if alert.present? %>
      <p style="color: orange"><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
