<!DOCTYPE html>
<html>
<head>
  <title>Blackboard</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <% if Rails.env.production? %>
    <meta name="google-analytics-id" content="<%= Rails.application.credentials.dig(:google, :ga_id) %>">
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= Rails.application.credentials.dig(:google, :ga_id) %>"></script>
  <% end %>

  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body class="w-full">
  <%= yield %>
</body>
</html>
